/****** Object:  StoredProcedure [P_CohortPatient_Case_Process]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE    Procedure [P_CohortPatient_Case_Process]
@cohort_id int
as
Begin
	IF @cohort_id = 0
	BEGIN
		Truncate Table dbo.CohortCase;
		DBCC CHECKIDENT ('[dbo].[CohortCase]', RESEED, 0);
	END
	ELSE
	BEGIN
		Delete FROM dbo.CohortCase Where CohortId = @cohort_id;
	END
	--select top 10 * from dbo.[Case]
	--select top 10 * from dbo.CohortPatient
	--select top 10 * from dbo.CohortCase

	INSERT INTO [dbo].[CohortCase]
			   ([CohortId]
			   ,[CohortPatientId]
			   ,[PatientId]
			   ,[CaseId]
			   ,[IsActive]
			   ,[LoadType]
			   ,[IsSolrUpdated]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
	Select CP.CohortId, CP.CohortPatientId, 
		CP.PatientId, C.CaseId, 
		1 IsActive, CT.LoadType, 0 IsSolrUpdated, GetDate(), user, NULL, NULL 
	FROM dbo.CohortPatient CP
	join dbo.[Cohort] CT on CP.CohortId  = CT.CohortId
	join dbo.[Case] C on CP.PatientId  = C.PatientId
	Where CT.IsActive = 1 AND CP.IsActive = 1 
	AND CT.CohortId = CASE @cohort_id
							WHEN -1 Then CT.CohortId
							ELSE @cohort_id END
	AND NOT EXISTS (SELECT 0 FROM [dbo].[CohortCase] CC Where 
		CC.CohortId = CP.CohortId AND CC.CaseId = C.CaseId AND CP.CohortPatientId = CC.CohortPatientId)
						
End
GO
