/****** Object:  StoredProcedure [P_CohortCase_Process]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE    Procedure [P_CohortCase_Process]
@cohort_id int = -1
as
Begin
	 
	--select top 10 * from dbo.[Case]
	--select top 10 * from dbo.CohortPatient
	--select top 10 * from dbo.CohortCase

	Update CC
	Set CC.CaseId = C.CaseId
	FROM dbo.CohortCase CC
	join dbo.[Cohort] CT on CC.CohortId  = CT.CohortId
	join dbo.[Case] C on CC.CaseNumber  = C.CaseNumber
	Where CT.IsActive = 1 AND CC.IsActive = 1 
	AND CT.CohortId = 
		CASE @cohort_id
			WHEN -1 THEN CT.CohortId
			ELSE @cohort_id
			END
	AND CC.CaseId IS NULL OR CC.CaseId = -1
	AND CC.CaseNumber is not NULL
	AND CT.LoadType = 'C'

	UPDATE CohortCase
	SET CaseId = -1
	WHERE 
	CohortId = @cohort_id AND
	LoadType = 'C' AND
	CaseId IS NULL

End
GO
