/****** Object:  StoredProcedure [P_UnitTesting_Delete]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [P_UnitTesting_Delete] 'admin', NULL
--GRANT EXECUTE ON dbo.P_UnitTesting_Delete TO piro_app; 
--GRANT ALTER ON [dbo].[CaseComment] TO piro_app; 
--GRANT ALTER ON [dbo].[Case] TO piro_app;
--GRANT ALTER ON [dbo].[Patient] TO piro_app;
--GRANT ALTER ON [dbo].[Region] TO piro_app;
--GRANT ALTER ON [dbo].[Race] TO piro_app;
--GRANT ALTER ON [dbo].[TagCase] TO piro_app;
--GRANT ALTER ON [dbo].[SearchRequest] TO piro_app;
 


CREATE    Procedure [P_UnitTesting_Delete]
@user VARCHAR(100)  = 'admin',
@date DateTime = NULL
as

--CommentType
	ALTER TABLE [PIRO_DEV].[dbo].CaseComment
	NOCHECK CONSTRAINT FK_CaseComment_CommentType;
	delete  from [PIRO_DEV].[dbo].CommentType
	where
		CreateBy = @user
		and CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].CaseComment
	CHECK CONSTRAINT FK_CaseComment_CommentType; 



--Hospital
	ALTER TABLE [PIRO_DEV].[dbo].[Case]
	NOCHECK CONSTRAINT FK_Case_Hospital; 
	delete from [PIRO_DEV].[dbo].[Hospital]
	where
		CreateBy = @user
		and CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[Case]
	CHECK CONSTRAINT FK_Case_Hospital; 


--Gender

	ALTER TABLE [PIRO_DEV].[dbo].[Patient]
	NOCHECK CONSTRAINT FK_Patient_Gender; 
	delete from PIRO_DEV.dbo.Gender
	where CreateBy = @user
	and CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[Patient]
	CHECK CONSTRAINT FK_Patient_Gender; 

--REGION
	
	delete from [PIRO_DEV].[dbo].[Region]
	where
	CreateBy = @user
	and CreateDate >= ISNULL(@date, CreateDate);

--RACE
	delete from [PIRO_DEV].[dbo].[Race]
	where
	CreateBy = @user
	and CreateDate >= ISNULL(@date, CreateDate);

--ETHNNICITY
	ALTER TABLE [PIRO_DEV].[dbo].[Patient]
	NOCHECK CONSTRAINT FK_Patient_Ethnicity; 
	delete from [PIRO_DEV].[dbo].[Ethnicity]
	where
	CreateBy = @user
	and CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[Patient]
	CHECK CONSTRAINT FK_Patient_Ethnicity; 


--TAG CASE
	delete from PIRO_DEV.dbo.TagCase
	where
		CreateBy = @user
		AND CreateDate >= ISNULL(@date, CreateDate);

--TAG
	ALTER TABLE [PIRO_DEV].[dbo].[TagCase]
	NOCHECK CONSTRAINT FK_TagCase_Tag; 
	delete from PIRO_DEV.dbo.Tag
	where
		CreateBy = @user
		AND CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[TagCase]
	CHECK CONSTRAINT FK_TagCase_Tag; 

--SearchRequest
	delete from [PIRO_DEV].[dbo].[SearchRequest]
	where 
	CreateBy = @user
	AND CreateDate >= ISNULL(@date, CreateDate);


--Search
	ALTER TABLE [PIRO_DEV].[dbo].[SearchRequest]
	NOCHECK CONSTRAINT FK_SearchRequest_Search; 
	DELETE from [PIRO_DEV].[dbo].[Search]
	where
		CreateBy = @user
		and CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[SearchRequest]
	CHECK CONSTRAINT FK_SearchRequest_Search; 


--SearchRequestStatus
	ALTER TABLE [PIRO_DEV].[dbo].[SearchRequest]
	NOCHECK CONSTRAINT FK_SearchRequest_SearchRequestStatus; 
	delete from [PIRO_DEV].[dbo].[SearchRequestStatus]
	where
		CreateBy = @user
		AND CreateDate >= ISNULL(@date, CreateDate);
	ALTER TABLE [PIRO_DEV].[dbo].[SearchRequest]
	CHECK CONSTRAINT FK_SearchRequest_SearchRequestStatus; 

--[SpecimenSource]
	delete from [PIRO_DEV].[dbo].[SpecimenSource]
	where
		CreateBy = @user
		AND CreateDate >= ISNULL(@date, CreateDate);
 
GO
