/****** Object:  StoredProcedure [P_CaseCommentSynopticReport]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [P_CaseCommentSynopticReport]
@SynopticId INT = -1,
@Case VARCHAR(100) = ''

AS
BEGIN
SET NOCOUNT ON 
	DECLARE @LEVEL INT, @Key VARCHAR(1000), @Value VARCHAR(1000), @Level1 VARCHAR(1000), @Level2 VARCHAR(1000), @Level3 VARCHAR(1000), @Level4 VARCHAR(1000), @Level5 VARCHAR(1000),
	@Level6 VARCHAR(1000), @Comment VARCHAR(1000), 
	@SynId INT = -1, @CaseId INT, @CaseNum VARCHAR(1000), --44018898
	@CommentSequence INT, @ElementValue VARCHAR(1000), @TextId INT, @CommentId INT, @NewCommentSequence INT,
	@KeyNew VARCHAR(1000) = '', @ValueNew VARCHAR(1000) = '', @NodeLevel INT, @NodeSequence INT, @CommentSequenceNew DECIMAL(18,4)

	DECLARE @synoptic TABLE([SynopticId] INT, [CaseId] INT, CaseNumber VARCHAR(1000),
	[Level] INT, [Key] VARCHAR(1000) , [Value] VARCHAR(1000), TextId INT, CommentId INT,
	Level1 VARCHAR(1000), Level2 VARCHAR(1000), Level3 VARCHAR(1000), Level4 VARCHAR(1000), Level5 VARCHAR(1000), Level6 VARCHAR(1000), 
	ElementValue VARCHAR(1000), Comment VARCHAR(1000), 
	CommentSequence INT, NewCommentSequence DECIMAL(18,4))

	DECLARE @level2Data TABLE([Level2] VARCHAR(1000), [CommentSequence] INT, [RootIndex] INT);

	 

	IF ISNULL(@Case, '') <> ''
	BEGIN 
		SET @CaseNum = @Case
		select top 1 @SynId = CS.SynopticId, @CaseId = C.CaseId from [CASE] C 
		join CaseCommentSynopticSpecimen CS on C.CaseId = CS.CaseId
		where CaseNumber = @Case
 
	END
	ELSE IF @SynopticId <> -1
	BEGIN
		SET @SynId = @SynopticId

		select top 1 @CaseNum = CaseNumber,
		@CaseId = C.CaseId from [CASE] C 
		join CaseCommentSynopticSpecimen CS on C.CaseId = CS.CaseId
		where CS.SynopticId = @SynId

	END;


	--LEVEl 2 Data

	 WITH ranked_departments AS (
		SELECT
			Level2, 
			CommentSequence,
			ROW_NUMBER() OVER (PARTITION BY Level2 ORDER BY CommentSequence) as rn
		FROM dbo.CaseCommentSynopticText where SynopticId = @SynId
	)
	INSERT INTO @level2Data
	SELECT Level2, CommentSequence, CommentSequence*1000 RootIndex
	FROM ranked_departments
	WHERE rn = 1 Order by CommentSequence;

	--Select * from @level2Data Order by CommentSequence;

	--Top Node
	INSERT INTO @synoptic
	Select top 1 @SynId, @CaseId, @CaseNum, 1, Level1, Level1, -1, 0, Level1, '', '', '', '', '', '', '', 1, 0 FROM
	CaseCommentSynopticText where SynopticId = @SynId
	--select * from @synoptic

	--LEVEL 2 Node

	INSERT INTO @synoptic
	Select @SynId, @CaseId, @CaseNum, 2, Level2, LEVEL2, [CommentSequence], '', '', Level2, '', '', '', '', '', '', [CommentSequence], [RootIndex] FROM
	@level2Data




	INSERT INTO @synoptic
	select @SynId, @CaseId, @CaseNum, 0, '', '', ST.Id TextId, ISNULL(STC.Id, -1) CommentId, Level1, Level2, Level3, Level4, Level5, Level6, ElementComment, 
	ISNULL(STC.Comment, ''), CommentSequence, -1
	from CaseCommentSynopticText ST
	left join CaseCommentSynopticTextComment STC on ST.HlvId = STC.HlvId 
	where ST.SynopticId = @SynId order by CommentSequence

	--select * from @synoptic Order by CommentSequence;


	-- declare cursor
	DECLARE cursor_synoptic CURSOR FOR
	Select [Level], [Key], [Value], TextId, CommentId,
	Level1, Level2, Level3, Level4, Level5, Level6, 
	ElementValue, Comment, 
	CommentSequence, NewCommentSequence from @synoptic Where NewCommentSequence = -1
	--select ST.Id TextId, ISNULL(STC.Id, -1) CommentId, Level1, Level2, Level3, Level4, Level5, Level6, ElementValue, STC.Comment, CommentSequence
	--from CaseCommentSynopticText ST
	--left join CaseCommentSynopticTextComment STC on ST.HlvId = STC.HlvId 
	--where ST.SynopticId = @SynId order by CommentSequence
 
	-- open cursor
	OPEN cursor_synoptic




	-- loop through a cursor
	FETCH NEXT FROM cursor_synoptic INTO @Level, @Key, @Value, @TextId, @CommentId, @Level1, @Level2, @Level3, @Level4, @Level5, @Level6, @ElementValue, 
		@Comment, @CommentSequence, @NewCommentSequence;
	WHILE @@FETCH_STATUS = 0
		BEGIN
			--PRINT @Comment
			SET @CommentSequenceNew = @CommentSequence
			SET @KeyNew = ''
			SET @ValueNew = ''
			
			IF @Level3 <> '' AND @Level4 = '' AND @Level5 = '' AND @Level5 = '' AND @Level6 = '' AND @Comment <> ''
			BEGIN
				SET @Level = 4
				SET @KeyNew = @LEVEL3
				--SET @ValueNew = @Comment
			END
			ELSE IF @Level3 <> '' AND @Level4 = '' AND @Level5 = '' AND @Level5 = '' AND @Level6 = ''
			BEGIN
				SET @Level = 3
				SET @KeyNew = @LEVEL3
				SET @ValueNew = @LEVEL4
			END
			Else IF @Level4 <> '' AND @Level5 = '' AND @Level5 = '' AND @Level6 = ''
			BEGIN
				SET @Level = 4
				SET @KeyNew = @LEVEL3
				SET @ValueNew = @LEVEL4
			END
			Else IF @Level5 <> '' AND @Level6 = '' AND @Comment <> '' 
			BEGIN
				SET @Level = 5
				SET @KeyNew = @Level5
				--SET @ValueNew = @LEVEL5
			END
			Else IF @Level5 <> '' AND @Level6 = '' AND @ElementValue <> @Level5
			BEGIN
				SET @Level = 5
				SET @KeyNew = @Level5
				SET @ValueNew = @ElementValue
			END
			Else IF @Level5 <> '' AND @Level6 = ''
			BEGIN
				SET @Level = 5
				SET @KeyNew = @LEVEL4
				SET @ValueNew = @LEVEL5
			END
			Else IF @Level6 <> '' AND @Comment <> '' 
			BEGIN
				SET @Level = 6
				SET @KeyNew = @Level6
				--SET @ValueNew = @ElementValue
			END
			Else IF @Level6 <> '' AND @ElementValue <> @Level6
			BEGIN
				SET @Level = 6
				SET @KeyNew = @Level5
				SET @ValueNew = @ElementValue
			END
			Else IF @Level6 <> ''
			BEGIN
				SET @Level = 6
				SET @KeyNew = @LEVEL5
				SET @ValueNew = @LEVEL6
			END
		
			IF @Comment <> '' AND @ValueNew = ''
			BEGIN
				SET @ValueNew = @Comment
			END
			ELSE IF @Comment <> '' AND @ValueNew <> ''
			BEGIN
				SET @ValueNew = @ValueNew + ': ' + @Comment
			END

			Select @NodeSequence = RootIndex From @level2Data Where Level2 = @Level2
			IF @NodeSequence IS NULL
				SET @NodeSequence = 0

			If @Level = 5
			BEGIN
				Select top 1 @CommentSequenceNew = CommentSequence From @synoptic Where Level3 = @Level3 AND Level4 = @Level4 Order by CommentSequence
				--PRINT @CommentSequence
				--PRINT @CommentSequenceNew
			
				SET @CommentSequenceNew = @CommentSequenceNew + @CommentSequence/10000.0
				--PRINT @NodeSequence
				--PRINT @CommentSequence
				--PRINT @CommentSequenceNew
			END

			--select 3.0000 + 20/1000.0000

			Update @synoptic 
			set NewCommentSequence = @NodeSequence + @CommentSequenceNew,
				[Level] = @Level,
				[Key] = @KeyNew,
				[Value] = @ValueNew
			Where TextId = @TextId

			FETCH NEXT FROM cursor_synoptic INTO @Level, @Key, @Value, @TextId, @CommentId, @Level1, @Level2, @Level3, @Level4, @Level5, @Level6, @ElementValue, 
			@Comment, @CommentSequence, @NewCommentSequence;
		END;
 
	-- close and deallocate cursor
	CLOSE cursor_synoptic;
	DEALLOCATE cursor_synoptic;

	Select * from @synoptic WHERE [LEVEL] <> 0 order by NewCommentSequence--, CommentSequence
 
	

END
GO
