/****** Object:  StoredProcedure [P_Cohort_Patient_Process]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Procedure [P_Cohort_Patient_Process]
@cohort_id int = 0
as
Begin
	SET NOCOUNT ON;

	If @cohort_id = 0 
	BEGIN
		Update CP
		set PatientId = ISNULL(P.PatientId, -1),
		UpdateBy=user, UpdateDate=GETDATE()
		FROM dbo.CohortPatient CP
		left join dbo.Patient P on CP.PatientMrn = P.MRN
		Where CP.IsActive = 1 AND ISNULL(CP.PatientId, -1) = -1
	END
	ELSE
	BEGIN
		Update CP
		set PatientId = ISNULL(P.PatientId, -1),
		UpdateBy=user, UpdateDate=GETDATE()
		FROM dbo.CohortPatient CP
		left join dbo.Patient P on CP.PatientMrn = P.MRN
		Where CP.CohortId = @cohort_id AND
			CP.IsActive = 1 AND
			ISNULL(CP.PatientId, -1) = -1
	END
End
GO
