/****** Object:  StoredProcedure [P_Cohort_All]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Procedure [P_Cohort_All] @userId int = 0
as
Begin

	SET NOCOUNT ON;
	DECLARE @Cohort TABLE(CohortId int, PatientCountTotal int, PatientCountSuccess int, CaseCount int);

	If @userId = 0 
	BEGIN
		Insert into @Cohort(CohortId, PatientCountTotal, PatientCountSuccess, CaseCount)
		Select CohortId, 0, 0, 0 from dbo.Cohort Where IsActive = 1
	END
	ELSE
	BEGIN
		Insert into @Cohort
		Select CohortId, 0, 0, 0 from dbo.Cohort Where UserId = @userId And IsActive = 1
	END
	

	--Update C
	--Set CohortId = 1

	Update C
	Set PatientCountTotal = D.PatientCountTotal,
	PatientCountSuccess = D.PatientCountSuccess
	From @Cohort C
	join (
	Select C.CohortId, 
	count(P.PatientId) PatientCountTotal,
	sum(CASE P.PatientId WHEN -1 THEN 0 ELSE 1 END) PatientCountSuccess
	From @Cohort C
	join dbo.CohortPatient P on C.CohortId = P.CohortId
	WHERE P.IsActive = 1
	Group by C.CohortId ) D
	on C.CohortId = D.CohortId


	Update C
	Set CaseCount = D.CaseCount	 
	From @Cohort C
	join (
	Select C.CohortId, 
	count(distinct(CC.CaseId)) CaseCount
	From @Cohort C
	join dbo.CohortCase CC on C.CohortId = CC.CohortId
	WHERE CC.IsActive = 1
	Group by C.CohortId ) D
	on C.CohortId = D.CohortId
	
 
	Select 
	C.CohortId,
	C.Name,
	C.Description,
	C.Disease,
	C.IsFacetDisplay,
	C.IsActive,	
	D.CaseCount,
	D.PatientCountTotal,
	D.PatientCountSuccess PatientCountMatched,
	(D.PatientCountTotal - D.PatientCountSuccess) as PatientCountUnMatched,
	CASE C.LoadType 
		WHEN 'P' THEN 'MRN'
		WHEN 'C' THEN 'Case'
		WHEN 'E' THEN 'EID'
		ELSE 'Undefined' 
	END as [Type]
	from 
	dbo.Cohort C
	join @Cohort D
	on C.CohortId = D.CohortId
	order by CohortId desc

End
GO
