/****** Object:  StoredProcedure [P_CohortPatient_Process]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Procedure [P_CohortPatient_Process]
@cohort_id int
as
Begin
	Update CP
	set PatientId = ISNULL(P.PatientId, -1),
	UpdateDate = GETDATE(),
	UpdateBy = User
	FROM dbo.CohortPatient CP
	left join dbo.Patient P on CP.PatientMrn = P.MRN
	Where CP.CohortId = @cohort_id
	AND CP.IsActive = 1 AND CP.PatientMrn <> '-'


	Update CP
	set PatientId = ISNULL(P.PatientId, -1),
	UpdateDate = GETDATE(),
	UpdateBy = User
	FROM dbo.CohortPatient CP
	left join dbo.Patient P on CP.PatientEpi = P.EpiId
	Where CP.CohortId = @cohort_id
	AND CP.IsActive = 1 AND CP.PatientEpi <> '-'
End
GO
