/****** Object:  StoredProcedure [sp_ssis_addlogentry]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE   PROCEDURE [sp_ssis_addlogentry]  @event sysname,  @computer nvarchar(128),  @operator nvarchar(128),  @source nvarchar(1024), 
 @sourceid uniqueidentifier,  @executionid uniqueidentifier,  @starttime datetime,  @endtime datetime,  
 @datacode int,  @databytes image,  @message nvarchar(2048)
 AS  
 BEGIN
	 INSERT INTO dbo.SSIS_LogSystem (      event,      computer,      operator,      source,      sourceid,      executionid,      starttime,      endtime,     
	 datacode,      databytes,      message )  VALUES (      @event,      @computer,      @operator,      @source,      @sourceid,      @executionid,      
	 @starttime,      @endtime,      @datacode,      @databytes,      @message )  RETURN 0
 END
GO
