<div class="modal-header">
    <h4 class="modal-title">Audit Log ({{annotationName}}): {{casenum}}</h4>
    <button type="button" class="close btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="spinner-border text-primary" role="status" *ngIf="!loaded">
        <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="items.length == 0">
        <span class="text-center">No Record Found.</span>
    </div>
    <div class="tab-pane mrn-result" *ngIf="items.length > 0">
        <table class="table align-middle mb-0 bg-white shadow p-3 bg-white rounded">
            <thead class="thead-dark">
                <tr class="table-primary">
                    <!-- <th></th> -->
                    <th>Model</th>
                    <th>Annotation Value</th>
                    <th>Created on</th>                    
                    
                </tr>
            </thead>
            <tbody *ngIf="items.length > 0">
                <tr *ngFor="let item of items; let i =index; let first = first; let last = last" class="table-light">
                    <td>
                        <p class="text-muted mb-0 ">{{item?.model}}</p>
                    </td>                    
                    <td>
                        <p class="text-muted mb-0">{{item?.value}}</p>
                    </td>
                    <td>
                        <p class="text-muted mb-0">{{item?.created | date: 'dd/MM/yyyy hh:mm a' }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>