USE [PIRO]
GO
/****** Object:  View [dbo].[V_AIRFLOW_Cohort_Delete_Load]    Script Date: 9/10/2025 4:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_AIRFLOW_Cohort_Delete_Load] AS 

SELECT 	 
	C.[CohortId] 
 FROM [dbo].[V_SOLR_Cohort_Delete_Load] C
GO
