USE [PIRO]
GO
/****** Object:  View [dbo].[V_AIRFLOW_Solr_Case]    Script Date: 9/10/2025 4:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW V_AIRFLOW_Solr_Case AS

SELECT  [CaseId] id, [CaseId] caseid, [SpecimenYear] specimenyear, [CaseNumber] casenumber, CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [AccessionDate]), 127) accessiondate, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [ReceiveDate]), 127)  receivedate, CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [OverdueDate]), 127)  overduedate, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [CollectionDate]), 127)  collectiondate, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [SignoutDate]), 127)  signoutdate, [PatientName] patientname, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [PatientDOB]), 127)  dob, [PatientEpi] epi, [PatientMrn] mrn, [PatientLanguage] language, 
[PatientEthnicity] ethnicity, [PatientGender] gender, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [PatientDeathDate]), 127)  deathdate, [PatientIsDeceased] isdeceased, 
[PatientRace] race, [Hospital] hospital, [Region] region, [CaseStatus] casestatus, [CaseType] casetype, [CaseTypeCategory] casetypecategory, [ReviewType] reviewtype, 
[Specialty] specialty, 
[SpecialtyCode] specialtycode, [SpecialtyCategory] specialtycategory, [ADDEND] addend, [ADDENDCount] addendcount, [COMMENT] comment, [COMMENTCount] commentcount, 
[FINAL] final, [FINALCount] finalcount, [GROSS] gross, [GROSSCount] grosscount, [MICROSCOPIC] microscopic, [MICROSCOPICCount] microscopiccount, [INTRAOP] intraop, [INTRAOPCount] intraopcount, 
[RESIDENT] resident, [RESIDENTCount] residentcount, [SYNOPTIC] synoptic, [SYNOPTICCount] synopticcount, [CLINICAL] clinical, [CLINICALCount] clinicalcount, 
[Interpreter] interpreter, [ProcedureCategory] procedurecategory, [StaffName] staffname, [SpecimenNumber] specimennumber, [CasePatientAge] casepatientage, 
[CasePatientAgeYears] casepatientageyears, [IsEpic] isepic, [IsEpicMigrated] isepicmigrated, [IsCopath] iscopath, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [CurrentDate]), 127)  importdate, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [CreateDate]), 127)  createdate, 
CONVERT(VARCHAR(50), CONVERT(DATETIMEOFFSET, [UpdateDate]), 127)  updatedate, [Pathologist] pathologist, [AnnotationMalignant] annotationmalignant,
[IsConcentriq] isconcentriq, 
[CaseConcentriqId] concentriqid
FROM [dbo].[V_SOLR_Case_Delta]
--FOR JSON PATH

--SELECT TOP 1 * FROM V_AIRFLOW_SOLR_CASE 
--SELECT TOP 1 * FROM CaseSolr_Delta

--SELECT TOP 1 * FROM V_AIRFLOW_SOLR_CASE FOR JSON PATH
--SELECT TOP 10 * FROM V_AIRFLOW_SOLR_CASE FOR JSON PATH


--SELECT * FROM [CASE] ORDER BY  CaseId desc
--SELECT * FROM V_AIRFLOW_SOLR_CASE ORDER BY  CaseId desc
--OFFSET     10000000 ROWS       -- skip 10 rows
--FETCH NEXT 10 ROWS ONLY -- take 10 rows
--FOR JSON PATH

--SELECT TOP 1000 * FROM V_AIRFLOW_SOLR_CASE 
--WHERE CaseId > 0 Order by CaseId desc
--FOR JSON PATH


--select CONVERT(varchar(50), [AccessionDate], 127) accessiondate FROM [dbo].[V_SOLR_Case_Delta] --2023-04-20T13:40:00
--SELECT CONVERT(VARCHAR(20), CONVERT(DATETIMEOFFSET, [AccessionDate]), 127) FROM [dbo].[V_SOLR_Case_Delta]
GO