USE [PIRO]
GO
/****** Object:  View [dbo].[V_AIRFLOW_Solr_CaseStaff_Suggest]    Script Date: 9/10/2025 4:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_AIRFLOW_Solr_CaseStaff_Suggest] AS

SELECT CaseStaffSolrId [key], Pathologist id, Pathologist staffname FROM [dbo].[CaseStaffSolr_Delta]


--Select * from [CaseStaffSolr_Delta]
--Select * from [V_AIRFLOW_Solr_CaseStaff_Suggest]
GO
