USE [PIRO]
GO
/****** Object:  View [dbo].[V_AIRFLOW_Case_Data_Load]    Script Date: 9/10/2025 4:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_AIRFLOW_Case_Data_Load] AS 

SELECT 
	* 
 FROM [dbo].[CaseSolr_Delta] C
GO
