USE [PIRO]
GO
/****** Object:  View [dbo].[V_AIRFLOW_Solr_Case_Suggest]    Script Date: 9/10/2025 4:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_AIRFLOW_Solr_Case_Suggest] AS 

SELECT 
	CaseId id, CaseNumber casenumber
 FROM [dbo].[CaseSuggestionSolr_Delta] C
GO
