/****** Object:  StoredProcedure [P_Airflow_Cohort_Reload_Data]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Procedure [P_Airflow_Cohort_Reload_Data]
as
Begin
 
	Update dbo.CohortCase 
		Set IsSolrUpdated = 0
	Where IsActive = 1
	 

	Update dbo.Cohort
		Set IsSolrUpdated = 0
	Where IsActive = 1 

End
GO
