/****** Object:  StoredProcedure [P_AIRFLOW_Case_Staff_Solr_Delete]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP Procedure [dbo].[P_AIRFLOW_Case_Staff_Processed_Update]
 CREATE    Procedure [P_AIRFLOW_Case_Staff_Solr_Delete]
as
Begin
 
	Truncate table dbo.[CaseStaffSolr_Delta]

End
GO
