/****** Object:  StoredProcedure [P_Airflow_Cohort_Processed_Update]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Procedure [P_Airflow_Cohort_Processed_Update]
@cohort_id int
as
Begin
 
	Update dbo.CohortCase 
	Set IsSolrUpdated = 1,
	UpdateDate = GETDATE(),
	UpdateBy = User
	Where CohortId = Case @cohort_id 
							When 0 then CohortId
							When Null Then -1
							else @cohort_id
						End
	AND IsSolrUpdated = 0

	Update dbo.Cohort
	Set IsSolrUpdated = 1,
	UpdateDate = GETDATE(),
	UpdateBy = User
	Where CohortId = Case @cohort_id 
							When 0 then CohortId
							When Null Then -1
							else @cohort_id
					End
	AND IsSolrUpdated = 0

End
GO
