/****** Object:  StoredProcedure [P_AIRFLOW_Case_Suggest_Processed_Update]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE    Procedure [P_AIRFLOW_Case_Suggest_Processed_Update]
as
Begin
 
	Truncate table dbo.[CaseSuggestionSolr_Delta]

End


GO
