Create Procedure [dbo].[P_AIRFLOW_Concentriq_Case_Insert] @json_string VARCHAR(MAX)
as
BEGIN
	
	DECLARE @Data TABLE (
		id INT,
		accessionDate VARCHAR(100),
		accessionId VARCHAR(100)
	);

	INSERT INTO @Data
		SELECT id, accessionDate, accessionId
		FROM OPENJSON(@json_string)
		WITH (
			id INT,
			accessionDate VARCHAR(100),
			accessionId VARCHAR(100)
		);

	--select * from @Data

	--select CONVERT(datetime, accessionDate, 127) from @Data

	--UPDATE Based on Case number match
	Update CC
		SET AccessionDate = D.accessionDate,
		ConcentriqCaseId = D.id,
		[UpdateDate] = GETDATE(),
 [UpdateBy] = USER
	FROM @Data D
	JOIN [dbo].[ConcentriqCase] CC ON D.accessionId = CC.CaseNumber


	--INSERTS
	INSERT INTO [dbo].[ConcentriqCase]
 ([ConcentriqCaseId]
 ,[CaseId]
 ,[CaseNumber]
 ,[AccessionDate]
 ,[IsActive]
 ,[CreateDate]
 ,[CreateBy]
 ,[UpdateDate]
 ,[UpdateBy])
	SELECT D.id, -1, D.accessionId, --CONVERT(datetime, D.accessionDate, 127) 
		D.accessionDate, 1,
		GETDATE(), USER, NULL, NULL 
		FROM @Data D
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[ConcentriqCase] CC WHERE D.accessionId = CC.CaseNumber)

	 
	
END
GO

