/****** Object:  StoredProcedure [P_Airflow_Case_Processed_Update]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 CREATE    Procedure [P_Airflow_Case_Processed_Update]
as
Begin
 
	Truncate table dbo.CaseSolr_Delta

End
GO
