/****** Object:  StoredProcedure [P_AIRFLOW_Case_Solr_Delete]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE    Procedure [P_AIRFLOW_Case_Solr_Delete]
as
Begin
 
	Truncate table dbo.CaseSolr_Delta
	Update [CaseSolr] Set IsSolrUpdate = 0 WHERE IsSolrUpdate = 1
End
GO
