/****** Object:  StoredProcedure [p_ssis_load_LinkedOrder]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.P_SSIS_Load_LinkedOrder
  @FullLoad BIT = 0
AS
BEGIN

	PRINT 'START'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET nocount ON;
    DECLARE @RowsInserted      INT = 0
    DECLARE @RowsUpdated       INT = 0
    DECLARE @RowsToBeInserted  INT = 0
    DECLARE @RowsToBeUpdated   INT = 0
    DECLARE @Table             VARCHAR(100) = 'LinkedOrder'
    DECLARE @CommentTypeIdNull INT
    DECLARE @year              INT = 0
	DECLARE @year_prev			INT = 0
    DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE()


	PRINT 'START'
	PRINT GetDATE()


	BEGIN try
		IF @FullLoad = 1
		BEGIN
			PRINT 'TRUNCATE TABLE'
			TRUNCATE TABLE [dbo].[LinkedOrder]
		END
		PRINT GetDATE()

		PRINT 'Indexes - SSIS Tables -- Start'
		PRINT GetDATE()

		-- Create Indexes on [[SSIS_LinkedOrder]]
		DROP INDEX
			if exists [dbo].[SSIS_LinkedOrder].[idx_SSIS_LinkedOrder_REQUISITION_ID];


		DROP INDEX
					if exists [dbo].[SSIS_LinkedOrder].[idx_SSIS_LinkedOrder_CaseId];

		CREATE NONCLUSTERED INDEX [idx_SSIS_LinkedOrder_REQUISITION_ID]
		ON [dbo].[SSIS_LinkedOrder]
		(
			[REQUISITION_ID] ASC
		)


		PRINT 'Indexes - SSIS Tables -- END'
		PRINT GetDATE()


				Update SO
				SET [CASE_ID] = C.CaseId
				FROM SSIS_LinkedOrder SO
				JOIN [CASE] C on SO.[REQUISITION_ID] = C.RefRequisitionId


				CREATE NONCLUSTERED INDEX [idx_SSIS_LinkedOrder_CaseId]
				ON [dbo].[SSIS_LinkedOrder]
				(
					[CASE_ID] ASC
				)


				DELETE FROM LinkedOrder Where exists
					(Select 0 from [SSIS_LinkedOrder] PF where
					LinkedOrder.CaseId = PF.[CASE_ID])

				DROP INDEX if exists [dbo].[LinkedOrder].[IX_LinkedOrder_CaseId];

				SET @RowsUpdated = @RowsUpdated + @@ROWCOUNT
				PRINT 'Update End -- '            + Cast(@year AS VARCHAR)
				PRINT GetDATE()

				PRINT 'Insert Start -- '          + Cast(@year AS VARCHAR)
				PRINT GetDATE()


				INSERT INTO [dbo].[LinkedOrder]
					([CaseId]
					,[ComponentName]
					,[ComponentExternalName]
					,[ProcedureDesc]
					,[DefaultUnit]
					,[OrdValue]
					,[OrdNumValue]
					,[OrdLow]
					,[OrdHigh]
					,[OrdUnit]
					,[OrdRawValue]
					,[OrdRawHigh]
					,[OrdRawLow]
					,[ResultDate]
					,[OrderDate]
					,[ReviewDate]
					,[RefRequisitionId]
					,[RefSpecTestOrderId]
					,[RefOrderId]
					,[RefOrderProcId]
					,[RefComponentId]
					,[RefProcId]
					,[CreateDate]
					,[CreateBy]
					,[UpdateDate]
					,[UpdateBy])
				SELECT [CASE_ID]
						,[COMP_NAME]
						,[COMP_EXTERNAL_NAME]
						,[PROC_DESC]
						,[DFLT_UNITS]
						,[ORD_VALUE]
						,[ORD_NUM_VALUE]
						,[REFERENCE_LOW]
						,[REFERENCE_HIGH]
						,[REFERENCE_UNIT]
						,[ORD_RAW_VALUE]
						,[RAW_LOW]
						,[RAW_HIGH]
						,[RESULT_DATE]
						,[ORDER_INST]
						,[REVIEW_TIME]
						,[REQUISITION_ID]
						,[SPEC_TST_ORDER_ID]
						,[ORDER_ID]
						,[ORDER_PROC_ID]
						,[COMPONENT_ID]
						,[PROC_ID]
						,getdate()
						,USER
						,NULL
						,NULL
				FROM [dbo].[SSIS_LinkedOrder]



		PRINT 'INDEX Creation Start'
		PRINT GetDATE()
			CREATE NONCLUSTERED INDEX [IX_LinkedOrder_CaseId] ON [dbo].[LinkedOrder]
			(
				CaseId ASC
			)
		PRINT 'INDEX Creation End'
		PRINT GetDATE()

		Update SO
				SET CaseId = C.CaseId
				FROM LinkedOrder SO
				JOIN [CASE] C on SO.RefRequisitionId = C.RefRequisitionId
				WHERE SO.CaseId IS NULL


			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;


	END try
	BEGIN catch


		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		PRINT ERROR_LINE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsToBeInserted,
				@RowsInserted,
				@RowsToBeUpdated,
				@RowsUpdated,
				0,
				@ERROR,
				@LoadTime;

	END catch

END

GO