/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_Hospital]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Lookup_Hospital]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT	 
	DECLARE @Table Varchar(100) = 'Hospital'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	DECLARE @RegionId INT
	DECLARE @RegionIdNA INT

	SELECT @RegionIdNA = RegionId from dbo.Region where DataLabReference = 'NA'
	 
	--Select * from [Hospital]
	--Select * from SSIS_Lab
	BEGIN TRY 		
		Print 'Insert Start'
		INSERT INTO [dbo].[Hospital]
           ([RegionId]
		   ,[ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		SELECT @RegionIdNA, LAB_NAME, LAB_ID, LAB_NAME, LAB_ID, 1, GETDATE(), User, NULL, NULL  
		from [dbo].[SSIS_Lab] LKP
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Hospital] WHERE DataLabReference = LKP.LAB_ID)
		SET @RowsInserted = @@ROWCOUNT


		-- Null Hospital
		IF NOT EXISTS (SELECT 0 FROM [dbo].[Hospital] WHERE CODE = 'NULL')
			INSERT INTO [dbo].[Hospital]
			   ([RegionId]
			   ,[ShortName]
			   ,[Code]
			   ,[DESCRIPTION]
			   ,[DataLabReference]
			   ,[IsActive]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
			SELECT (Select Top 1 RegionId From dbo.Region Where [Code] = 'NULL'), 'NA', 'NULL', 'Not Available', -1, 1, GETDATE(), User, NULL, NULL

			-- Null Hospital
		IF NOT EXISTS (SELECT 0 FROM [dbo].[Hospital] WHERE CODE = 'MainCampus')
			INSERT INTO [dbo].[Hospital]
			   ([RegionId]
			   ,[ShortName]
			   ,[Code]
			   ,[DESCRIPTION]
			   ,[DataLabReference]
			   ,[IsActive]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
			SELECT (Select Top 1 RegionId From dbo.Region Where [Code] = 'NEOhio'), 
			'Main Campus', 'MainCampus', 'Main Campus', 'MainCampus', 1, GETDATE(), User, NULL, NULL


		Print 'Insert End'

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)


		--IF @RowsInserted > 0
		--BEGIN
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										1,
										'',
										@LoadTime
		--END

		--Update the RegionId
		Print 'Update Start'
		DECLARE @RegionCode Varchar(100) 
		SET @RegionCode = 'NA'
		select @RegionId = RegionId from dbo.Region where Code = @RegionCode
		Update [dbo].[Hospital] 
			Set RegionId = @RegionId		  
		Where ShortName = @RegionCode AND RegionId <> @RegionId

		SET @RegionCode = 'NULL'
		select @RegionId = RegionId from dbo.Region where Code = @RegionCode
		Update [dbo].[Hospital] 
			Set RegionId = @RegionId		  
		Where Code = @RegionCode AND RegionId <> @RegionId

		SET @RegionCode = 'Florida'
		select @RegionId = RegionId from dbo.Region where Code = @RegionCode
		Update [dbo].[Hospital] 
			Set RegionId = @RegionId		  
		Where [DESCRIPTION] like '%' + @RegionCode + '%' AND RegionId <> @RegionId AND RegionId = @RegionIdNA

		SET @RegionCode = 'Ohio'
		select @RegionId = RegionId from dbo.Region where Code = @RegionCode
		Update [dbo].[Hospital] 
			Set RegionId = @RegionId		  
		Where NOT ([DESCRIPTION] like '%Florida%' OR ShortName = 'NA' OR Code = 'NULL') AND RegionId <> @RegionId
		AND RegionId = @RegionIdNA	
		
		--PIRO region mapping for Hospitals
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Lorain FHC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Avon Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Mercy') Where ShortName = 'Mercy Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Hillcrest Blood Bank'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Indian River') Where ShortName = 'Indian River Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Fairview Blood Bank'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Martin Health') Where ShortName = 'Martin Health South Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Akron') Where ShortName = 'Akron General Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Lutheran Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Florida') Where ShortName = 'Florida Weston Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'South Pointe Blood Bank'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'Stow HWC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Twinsburg FHC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Strongsville FHC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'South Pointe Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Hillcrest Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'Lodi Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Cleveland Clinic Main Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Fairview Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Marymount Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'CC Main Lab SunQuest'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'Twin FHC Draw Station Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'Non-Interfaced Reference Labs'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Martin Health') Where ShortName = 'Martin Health Tradition Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Martin Health') Where ShortName = 'Non-Interfaced Reference Labs Martin Health '
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Martin Health') Where ShortName = 'Martin Health North Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'CC Main Blood Bank'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Avon Hospital Lab Draw Station'

		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Medina Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Euclid Hospital Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'NE Ohio') Where ShortName = 'Beachwood FHC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'Bath HWC Lab'
		Update dbo.Hospital set RegionId = (Select RegionId from dbo.Region Where ShortName = 'Other') Where ShortName = 'ARUP Reference Lab'


		
		Print 'Update End'
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;

		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
