/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_Region]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [P_SSIS_Load_Lookup_Region]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT	 
	DECLARE @Table Varchar(100) = 'Region'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--Select * from [Region]	 
	BEGIN TRY 		
		INSERT INTO [dbo].[Region]
           ([ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		SELECT 'Ohio', 'Ohio', 'Ohio', 'OHIO', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'OHIO')
		UNION
		SELECT 'Florida', 'Florida', 'Florida', 'FLORIDA', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'FLORIDA')
		UNION
		SELECT 'NA', 'NA', 'NA', 'NA', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'NA')
		UNION
		SELECT 'NA', 'NULL', 'Not Available', 'NULL', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'NULL')

		UNION
		SELECT 'Akron', 'Akron', 'Akron', 'Akron', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'Akron')		
		UNION
		SELECT 'Indian River', 'IndianRiver', 'Indian River', 'IndianRiver', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'IndianRiver')
		UNION
		SELECT 'Martin Health', 'MartinHealth', 'Martin Health', 'MartinHealth', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'MartinHealth')
		UNION
		SELECT 'Mercy', 'Mercy', 'Mercy', 'Mercy', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'Mercy')
		UNION
		SELECT 'NE Ohio', 'NEOhio', 'NE Ohio', 'NEOhio', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'NEOhio')
		UNION
		SELECT 'Other', 'Other', 'Other', 'Other', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE DataLabReference = 'Other')

		SET @RowsInserted = @@ROWCOUNT

		
		IF NOT EXISTS (SELECT 0 FROM [dbo].[Region] WHERE CODE = 'NULL')
			INSERT INTO [dbo].[Region]
	   ([ShortName]
	   ,[Code]
	   ,[DESCRIPTION]
	   ,[DataLabReference]
	   ,[IsActive]
	   ,[CreateDate]
	   ,[CreateBy]
	   ,[UpdateDate]
	   ,[UpdateBy])
			SELECT 'NA', 'NULL', 'Not Available', -1, 1, GETDATE(), User, NULL, NULL

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		--IF @RowsInserted > 0
		--BEGIN
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										1,
										'',
										@LoadTime
		--END
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
