/****** Object:  StoredProcedure [P_SSIS_CaseAnnotation]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.P_SSIS_CaseAnnotation
@FullLoad BIT = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseAnnotation'
 
	DECLARE @AnnotationConfigurationId INT, @DataParseProperty VARCHAR(100), @FromValue VARCHAR(50), @ToValue VARCHAR(50), @STR NVARCHAR(MAX)
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	DROP INDEX IF EXISTS [IX_CaseAnnotation_CaseId] ON [dbo].[CaseAnnotation];
	DROP INDEX IF EXISTS [IX_AuditCaseAnnotation_CaseId] ON [dbo].[AuditCaseAnnotation];
	DROP INDEX IF EXISTS [IX_AuditCaseAnnotation_CaseId_AnnotationConfigurationId] ON [dbo].[AuditCaseAnnotation];


	BEGIN TRY
		 
		DECLARE @CaseAnnotation TABLE(AnnotationId int, 
										AnnotationConfigurationId int, 
										CaseId int, 
										SourceValue Varchar(50), 
										AnnotationValue Varchar(50), 
										ModelName Varchar(50));

		 
		 
		 
		IF CURSOR_STATUS('global','db_cursor') >= -1
		 BEGIN
		  IF CURSOR_STATUS('global','db_cursor') > -1
		   BEGIN
			CLOSE db_cursor
		   END
		 DEALLOCATE db_cursor
		END

		IF CURSOR_STATUS('global','db_cursor_update') >= -1
		 BEGIN
		  IF CURSOR_STATUS('global','db_cursor_update') > -1
		   BEGIN
			CLOSE db_cursor_update
		   END
		 DEALLOCATE db_cursor_update
		END

		

		DECLARE db_cursor CURSOR FOR 
		select AnnotationConfigurationId, DataParseProperty from [dbo].[AnnotationConfiguration]	

		OPEN db_cursor  
		FETCH NEXT FROM db_cursor INTO @AnnotationConfigurationId, @DataParseProperty
		--Print '@@FETCH_STATUS: ' + CAST(@@FETCH_STATUS AS VARCHAR)
		WHILE @@FETCH_STATUS = 0  
		BEGIN  

			Print @DataParseProperty

			INSERT INTO @CaseAnnotation (AnnotationId, 
										AnnotationConfigurationId, 
										CaseId, 
										SourceValue, 
										AnnotationValue, 
										ModelName)
			 Select AnnotationId, 
			 AnnotationConfigurationId, 
			 CaseId,
			 AnnotationValue,
			 '',
			 ModelName
			 From (
			 SELECT AnnotationId, @AnnotationConfigurationId AnnotationConfigurationId,
					   CaseId,
					   AnnotationValue,
					   ROW_NUMBER() OVER(PARTITION BY CaseId
					   ORDER BY AnnotationId DESC) AS RowId,
					   ModelName
				FROM AnnotationData
				Where AnnotationKey = @DataParseProperty ) Temp
				Where Temp.RowId = 1

			FETCH NEXT FROM db_cursor INTO @AnnotationConfigurationId, @DataParseProperty
		END 

		CLOSE db_cursor  
		DEALLOCATE db_cursor
		 
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[CaseAnnotation]
		END

		

		-- Consider the records to be inserted
		SET @RowsToBeInserted = (SELECT COUNT(0) FROM @CaseAnnotation T 
								WHERE NOT EXISTS (Select 0 from dbo.[CaseAnnotation] S where T.CaseId = S.CaseId 
								AND T.AnnotationConfigurationId = S.AnnotationConfigurationId))

		-- Consider the records to be updated
		SET @RowsToBeUpdated = (SELECT COUNT(0) FROM @CaseAnnotation T 
								WHERE EXISTS  (Select 0 from dbo.[CaseAnnotation] S where T.CaseId = S.CaseId
								AND T.AnnotationConfigurationId = S.AnnotationConfigurationId))


		--Data manipulation/conversion
		Update dbo.[CaseAnnotation] set AnnotationValue = '';

		DECLARE db_cursor_update CURSOR FOR 
		select AnnotationConfigurationId, FromValue, ToValue from [dbo].[AnnotationConfigurationData]	

		OPEN db_cursor_update  
		FETCH NEXT FROM db_cursor_update INTO @AnnotationConfigurationId, @FromValue, @ToValue
		--Print '@@FETCH_STATUS: ' + CAST(@@FETCH_STATUS AS VARCHAR)
		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			Print CAST(@AnnotationConfigurationId AS VARCHAR) + ' - ' +  @FromValue + ' - ' + @ToValue
			Update @CaseAnnotation set AnnotationValue = @ToValue where 
			AnnotationConfigurationId = @AnnotationConfigurationId And SourceValue = @FromValue

			--Print @@ROWCOUNT
			FETCH NEXT FROM db_cursor_update INTO @AnnotationConfigurationId, @FromValue, @ToValue
		END 

		CLOSE db_cursor_update  
		DEALLOCATE db_cursor_update
 
		Update @CaseAnnotation set AnnotationValue = '-' Where AnnotationValue = ''
 
		--UPDATE Data
		Print 'Update Start'
		Update A SET  
			CaseId = A.CaseId,			
			AnnotationId = B.AnnotationId,
			AnnotationValue = ISNULL(B.AnnotationValue, '-'),
			ModelName = B.ModelName
		   from dbo.[CaseAnnotation] A
		   join @CaseAnnotation B on A.CaseId = B.CaseId AND A.AnnotationConfigurationId = B.AnnotationConfigurationId		    
		WHERE A.AnnotationId <> B.AnnotationId OR		
		   A.AnnotationValue <> B.AnnotationValue OR
		   A.ModelName <> B.ModelName;

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End'
		
		
		--INSERT Data
		Print 'Insert Start'
		INSERT INTO CaseAnnotation (AnnotationId, 
									CaseId, 
									AnnotationConfigurationId, 
									ModelName,
									SourceValue,
									AnnotationValue, 
									CreateDate, 
									CreateBy)
		Select AnnotationId, 
		CaseId, 
		AnnotationConfigurationId, 
		ModelName,
		SourceValue,
		AnnotationValue, 
		GETDATE(), 
		User 
		FROM @CaseAnnotation T
		WHERE NOT EXISTS (Select 0 from dbo.[CaseAnnotation] S where T.CaseId = S.CaseId
		 AND T.AnnotationConfigurationId = S.AnnotationConfigurationId)
		--AND AnnotationValue <> '-' 

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert End'
		 
		 
		CREATE NONCLUSTERED INDEX [IX_CaseAnnotation_CaseId] ON [dbo].[CaseAnnotation]
		(
			[CaseId] ASC
		)

		CREATE NONCLUSTERED INDEX [IX_AuditCaseAnnotation_CaseId] ON [dbo].[AuditCaseAnnotation]
		(
			[CaseId] ASC
		)

		CREATE NONCLUSTERED INDEX [IX_AuditCaseAnnotation_CaseId_AnnotationConfigurationId] ON [dbo].[AuditCaseAnnotation]
		(
			[CaseId] ASC, AnnotationConfigurationId ASC
		)
		 
		INSERT INTO [dbo].[AuditCaseAnnotation]
           ([CaseAnnotationId]
           ,[AnnotationId]
           ,[CaseId]
		   ,[AnnotationConfigurationId]
           ,[ModelName]
		   ,[SourceValue]
           ,[AnnotationValue]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])

		 Select [CaseAnnotationId], 
				AnnotationId, 
				CaseId, 
				AnnotationConfigurationId,
				ModelName, 
				SourceValue,
				AnnotationValue,
				[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy] 
		 from  [CaseAnnotation] C
		 WHERE NOT EXISTS (
			 Select 0
			 From (
			 SELECT [CaseAnnotationId], 
					AnnotationId, 
					CaseId, 
					AnnotationConfigurationId,
					ModelName,
					SourceValue,
					AnnotationValue, 
					[CreateDate],
					[CreateBy],
					[UpdateDate],
					[UpdateBy],
					ROW_NUMBER() OVER(PARTITION BY CaseId, AnnotationConfigurationId
					   ORDER BY AuditCaseAnnotationId DESC) AS RowId				    
				FROM [AuditCaseAnnotation]
				) Temp
				Where Temp.RowId = 1
				AND Temp.CaseId = C.CaseId 
				AND Temp.AnnotationValue = C.AnnotationValue
				and Temp.ModelName = C.ModelName
				AND Temp.AnnotationConfigurationId = C.AnnotationConfigurationId
		)  


		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		 
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime

		IF CURSOR_STATUS('global','db_cursor') >= -1
		 BEGIN
		  IF CURSOR_STATUS('global','db_cursor') > -1
		   BEGIN
			CLOSE db_cursor
		   END
		 DEALLOCATE db_cursor
		END;


		IF CURSOR_STATUS('global','db_cursor_update') >= -1
		 BEGIN
		  IF CURSOR_STATUS('global','db_cursor_update') > -1
		   BEGIN
			CLOSE db_cursor_update
		   END
		 DEALLOCATE db_cursor_update
		END;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO