/****** Object:  StoredProcedure [P_SSIS_Load_CaseStaff]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_CaseStaff]
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0 
	DECLARE @RowsUpdated INT = 0 
	DECLARE @RowsToBeInserted INT  = 0 
	DECLARE @RowsToBeUpdated INT = 0 
	DECLARE @Table Varchar(100) = 'CaseStaff'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	ALTER INDEX IX_CaseStaff_CaseId ON [dbo].[CaseStaff] DISABLE; 
	ALTER INDEX IX_CaseStaff_RefEmployeeKey ON [dbo].[CaseStaff] DISABLE; 
	ALTER INDEX IX_CaseStaff_RefRequisitionKey ON [dbo].[CaseStaff] DISABLE; 

	BEGIN TRY

		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[CaseStaff]
		END

		SELECT @RowsToBeInserted = COUNT(0) From dbo.SSIS_CaseStaff S
		Where NOT EXISTS (Select 0 from dbo.[CaseStaff] C where S.K_REQUISITION_KEY = C.RefRequisitionKey AND S.K_EMPLOYEE_KEY = C.RefEmployeeKey)

		SELECT @RowsToBeUpdated = COUNT(0) From dbo.SSIS_CaseStaff S
		Where EXISTS (Select 0 from dbo.[CaseStaff] C where S.K_REQUISITION_KEY = C.RefRequisitionKey AND S.K_EMPLOYEE_KEY = C.RefEmployeeKey)
	 
		--UPDATE Data
		Print 'Update Start'
		Update CS SET [CaseId] = C.CaseId
				   ,[StaffId] = P.StaffId
				   ,[IsActive] = 1				  
				  ,[UpdateDate] = GETDATE()
				  ,[UpdateBy] = USER
		   from dbo.[CaseStaff] CS
			JOIN dbo.SSIS_CaseStaff S ON S.K_REQUISITION_KEY = CS.RefRequisitionKey AND S.K_EMPLOYEE_KEY = CS.RefEmployeeKey		   
			JOIN dbo.Staff P on S.K_EMPLOYEE_KEY = P.RefEmployeeKey
			JOIN dbo.[Case] C on S.K_REQUISITION_KEY = C.RefRequisitionKey		   
			WHERE  CS.[CaseId] <> C.CaseId OR
			CS.[StaffId] <> P.StaffId   

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End'

		Print 'Insert Start'
		INSERT INTO [dbo].[CaseStaff]
				   ([CaseId]
				   ,[StaffId]
				   ,[IsActive]
				   ,[RefRequisitionKey]
				   ,[RefEmployeeKey]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
		Select C.CaseId, P.StaffId, 1, S.K_REQUISITION_KEY, S.K_EMPLOYEE_KEY,  GETDATE(), user, NULL, NULL 
			from dbo.SSIS_CaseStaff S		   
			JOIN dbo.Staff P on S.K_EMPLOYEE_KEY = P.RefEmployeeKey
			JOIN dbo.[Case] C on S.K_REQUISITION_KEY = C.RefRequisitionKey			  
		   Where NOT EXISTS (Select 0 from dbo.[CaseStaff] CS where S.K_REQUISITION_KEY = CS.RefRequisitionKey AND S.K_EMPLOYEE_KEY = CS.RefEmployeeKey)

		SET @RowsInserted = @@ROWCOUNT

		Print 'Insert End'

		ALTER INDEX IX_CaseStaff_CaseId ON [dbo].[CaseStaff] REBUILD; 
		ALTER INDEX IX_CaseStaff_RefEmployeeKey ON [dbo].[CaseStaff] REBUILD; 
		ALTER INDEX IX_CaseStaff_RefRequisitionKey ON [dbo].[CaseStaff] REBUILD; 

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;

	END CATCH
END
GO
