/****** Object:  StoredProcedure [P_SSIS_Load_CaseCommentSynopticReport]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_Load_CaseCommentSynopticReport]
AS
BEGIN
 
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSourceInfo'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	BEGIN TRY
		DROP INDEX IF EXISTS [IX_CaseCommentSynopticReport] ON [dbo].[CaseCommentSynopticReport]
		TRUNCATE TABLE [dbo].[CaseCommentSynopticReport]

		declare @CaseSynopticTable TABLE(
								CaseId INT,
								SynopticId INT
							   )
		INSERT INTO @CaseSynopticTable
		SELECT CaseId, Max(SynopticId) SynopticId FROM [dbo].[CaseCommentSynopticSpecimen]
		Group by CaseId

 
		INSERT INTO [dbo].[CaseCommentSynopticReport]
				   ([CaseId]
				   ,[SynopticId]
				   ,[ReportText]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
		SELECT MAX(S.CaseId) CaseId, A.SynopticId, 
			--STRING_AGG(ContexHierarchy,', ') + 
			STRING_AGG(ElementValue,', ') + 
			STRING_AGG(ElementComment,', ')   AS Report,	
		GETDATE(),
		USER,
		NULL,
		NULL
		FROM [dbo].[CaseCommentSynopticText] A
		JOIN @CaseSynopticTable S on A.SynopticId = S.SynopticId
		--Where SynopticId = 4407888
		GROUP BY A.SynopticId
		ORDER BY A.SynopticId, Max(CommentSequence)

		--select * from [CaseCommentSynopticText]
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticReport] ON [dbo].[CaseCommentSynopticReport]
		(
			[CaseId] ASC
		)


		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;

	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH

END



--select * from [CaseCommentSynopticReport]
GO
