/****** Object:  StoredProcedure [P_SSIS_Load_Patient]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE P_SSIS_Load_Patient 
@Full_Load BIT = 0
AS
	
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'Patient'
	DECLARE @GenderIdNull INT, @EthnicityIdNull INT, @RaceIdNull INT, @MartitalStatusIdNull INT, @LanguageIdNull INT
	

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--ALTER INDEX IX_Patient_RefPatientKey ON [dbo].[Patient] DISABLE;
		
	DROP INDEX IF EXISTS [IX_Patient_RefPatientKey] ON [dbo].[Patient];
 	DROP INDEX IF EXISTS [IDX_Patient_RefPatientKey] ON [dbo].[Patient];
	DROP INDEX IF EXISTS [IDX_Patient_MRN] ON [dbo].[Patient];


	BEGIN TRY

		SELECT @GenderIdNull = GenderId from dbo.Gender Where Code = 'NULL'
		SELECT @EthnicityIdNull = EthnicityId from dbo.Ethnicity Where Code = 'NULL'
		SELECT @RaceIdNull = RaceId from dbo.Race Where Code = 'NULL'
		SELECT @MartitalStatusIdNull = MaritalStatusId from dbo.MaritalStatus Where Code = 'NULL'
		SELECT @LanguageIdNull = LanguageId from dbo.[Language] Where Code = 'NULL'

	 

 		SELECT @RowsToBeInserted = count(0) from SSIS_PATIENT SP Where NOT Exists (Select 0 from Patient P Where SP.PAT_ID = P.RefPatientKey)
		SELECT @RowsToBeUpdated = count(0) from SSIS_PATIENT SP Where Exists (Select 0 from Patient P Where SP.PAT_ID = P.RefPatientKey)
   
	 

		Print 'Update Start'
		Update [dbo].[Patient]
			Set [GenderId] = ISNULL(G.GenderId, @GenderIdNull)
			   ,[EthnicityId] = ISNULL(E.EthnicityId, @EthnicityIdNull)
			   ,[RaceId] = ISNULL(R.RaceId, @RaceIdNull)
			   ,MaritalStatusId = ISNULL(M.MaritalStatusId, @MartitalStatusIdNull)
			   ,LanguageId = ISNULL(L.LanguageId, @LanguageIdNull)
			   ,[FirstName] = ISNULL(SP.PAT_FIRST_NM, '') 
			   ,[LastName] = ISNULL(SP.PAT_LAST_NM, '')
			   ,[MiddleName] = ISNULL(SP.PAT_MI_NM, '')
			   ,[DOB] = ISNULL(SP.PAT_DOB, '01-01-1900')
			   ,[MRN] = ISNULL(SP.PAT_MRN_ID, '')
			   ,[PatId] = ISNULL(SP.Pat_ID, '')
			   ,EpiId = ISNULL(SP.PAT_EPI_ID, '')
			   ,City = ISNULL(SP.PAT_CITY, '')
			   ,[State] = ISNULL(SP.PAT_STATE, '')
			   ,Country = ISNULL(SP.PAT_COUNTRY, '')
			   ,IsDeceased = ISNULL(SP.PAT_DECEASED_IND, 0)
			   ,DeathDate =  SP.Pat_DEATH_DATE		   
			   ,[IsActive] = 1			   
			,[UpdateDate] = GetDate()
			,[UpdateBy] = User
		FROM dbo.Patient S
		JOIN SSIS_PATIENT SP ON S.RefPatientKey = SP.PAT_ID
		JOIN Gender G on SP.PAT_GENDER_CD = G.DataLabReference
		JOIN Ethnicity E on SP.PAT_ETHNIC_GROUP_CD = E.DataLabReference
		JOIN Race R on SP.PAT_RACE_CD = R.DataLabReference
		JOIN MaritalStatus M on SP.PAT_MARITAL_STATUS_CD = M.DataLabReference
		JOIN [Language] L on SP.PAT_LANG_CD = L.DataLabReference
		WHERE S.[GenderId] <> ISNULL(G.GenderId, @GenderIdNull) OR
		S.[EthnicityId] <> ISNULL(E.EthnicityId, @EthnicityIdNull) OR
		S.[RaceId] <> ISNULL(R.RaceId, @RaceIdNull) OR
		S.MaritalStatusId <> ISNULL(M.MaritalStatusId, @MartitalStatusIdNull) OR
		S.[FirstName] <> ISNULL(SP.PAT_FIRST_NM, '') OR
		S.[LastName] <> ISNULL(SP.PAT_LAST_NM, '') OR
		S.[DOB] <> ISNULL(SP.PAT_DOB, '01-01-1900') OR
		S.[MRN] <> ISNULL(SP.PAT_MRN_ID, '') OR
		S.[PatId] <> ISNULL(SP.Pat_ID, '') OR
		S.EpiId <> ISNULL(SP.PAT_EPI_ID, '') OR
		S.City <> ISNULL(SP.PAT_CITY, '') OR
		S.[State] <> ISNULL(SP.PAT_STATE, '') OR
		S.Country <> ISNULL(SP.PAT_COUNTRY, '') OR
		S.IsDeceased <> ISNULL(SP.PAT_DECEASED_IND, 0) OR
		S.DeathDate <> SP.Pat_DEATH_DATE		
		

		SELECT @RowsUpdated = @@ROWCOUNT

		Print 'Update End'
		--select * from SSIS_EthnicGroup
		--select * from SSIS_PatientRace
		--select * from SSIS_Patient
		Print 'Insert Start'
		INSERT INTO [dbo].[Patient]
			   ([GenderId]
			   ,[EthnicityId]
			   ,[RaceId]
			   ,MaritalStatusId
			   ,LanguageId
			   ,[FirstName]
			   ,[LastName]
			   ,[MiddleName]
			   ,[DOB]
			   ,[MRN]
			   ,[PatId]
			   ,EpiId
			   ,City
			   ,[State]
			   ,Country
			   ,IsDeceased
			   ,DeathDate			   
			   ,[IsActive]
			   ,RefPatientKey
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
		SELECT  ISNULL(G.GenderId, @GenderIdNull), ISNULL(E.EthnicityId, @EthnicityIdNull), ISNULL(R.RaceId, @RaceIdNull),  
		ISNULL(M.MaritalStatusId, @MartitalStatusIdNull), ISNULL(L.LanguageId, @LanguageIdNull), 
		ISNULL(SP.PAT_FIRST_NM, ''), ISNULL(SP.PAT_LAST_NM, ''), ISNULL(SP.PAT_MI_NM, ''), ISNULL(SP.PAT_DOB, '01-01-1900'), ISNULL(SP.PAT_MRN_ID, ''), 
		ISNULL(SP.Pat_ID, ''), ISNULL(SP.PAT_EPI_ID, ''), ISNULL(SP.PAT_CITY, ''), ISNULL(SP.PAT_STATE, ''), ISNULL(SP.PAT_COUNTRY, ''), 
		ISNULL(SP.PAT_DECEASED_IND, 0), SP.Pat_DEATH_DATE, 
		1, SP.PAT_ID,  GetDate(), User, NULL, NULL
		FROM SSIS_PATIENT SP
		LEFT JOIN Gender G on SP.PAT_GENDER_CD = G.DataLabReference
		LEFT JOIN Ethnicity E on SP.PAT_ETHNIC_GROUP_CD = E.DataLabReference
		LEFT JOIN Race R on SP.PAT_RACE_CD = R.DataLabReference
		LEFT JOIN MaritalStatus M on SP.PAT_MARITAL_STATUS_CD = M.DataLabReference
		LEFT JOIN [Language] L on SP.PAT_LANG_CD = L.DataLabReference
		WHERE NOT EXISTS (Select 0 from [dbo].[Patient] P Where SP.PAT_ID = P.RefPatientKey)
		SELECT @RowsInserted = @@ROWCOUNT
		Print 'Insert End'
		 
		
		IF NOT EXISTS (SELECT 0 FROM [dbo].[Patient] WHERE RefPatientKey = 'NULL')
			INSERT INTO [dbo].[Patient]
			   ([GenderId]
			   ,[EthnicityId]
			   ,[RaceId]
			   ,MaritalStatusId
			   ,LanguageId
			   ,[FirstName]
			   ,[LastName]
			   ,[MiddleName]
			   ,[DOB]
			   ,[MRN]
			   ,[PatId]
			   ,EpiId
			   ,City
			   ,[State]
			   ,Country
			   ,IsDeceased
			   ,DeathDate			   
			   ,[IsActive]
			   ,RefPatientKey
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
			SELECT @GenderIdNull, @EthnicityIdNull, @RaceIdNull, @MartitalStatusIdNull, @LanguageIdNull, 
			'NA', 'NA', 'NA', '01-01-1800', 'NULL', '', '', '', '', '', 0, NULL, 1, 'NULL', GETDATE(), User, NULL, NULL
 
		--ALTER INDEX IX_Patient_RefPatientKey ON [dbo].[Patient] REBUILD;
		CREATE INDEX [IDX_Patient_RefPatientKey]
		ON [dbo].[Patient] (RefPatientKey);

		CREATE INDEX [IDX_Patient_MRN]
		ON [dbo].[Patient] (MRN);

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								1,
								'',
								@LoadTime
	END TRY 
	BEGIN CATCH
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;

		THROW 50001, @ERROR, 1;
	END CATCH
END
GO