SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[P_SSIS_Seed_Region]
AS
BEGIN
	SET NOCOUNT ON;

	-- Seed rows sourced from Region.csv in the repo root.
	DECLARE @Seed TABLE(
		[ShortName] [varchar](100) NOT NULL,
		[Code] [varchar](50) NOT NULL,
		[DESCRIPTION] [varchar](1000) NOT NULL,
		[DataLabReference] [varchar](100) NOT NULL,
		[IsActive] [bit] NOT NULL,
		[CreateDate] [datetime] NOT NULL,
		[CreateBy] [varchar](100) NOT NULL,
		[UpdateDate] [datetime] NULL,
		[UpdateBy] [varchar](100) NULL
	);

	INSERT INTO @Seed (
		[ShortName],
		[Code],
		[DESCRIPTION],
		[DataLabReference],
		[IsActive],
		[CreateDate],
		[CreateBy],
		[UpdateDate],
		[UpdateBy]
	)
	VALUES
		('Florida', 'Florida', 'Florida', 'FLORIDA', 1, '2023-04-25T07:00:21.747', 'CC\koppirv', NULL, NULL),
		('NA', 'NA', 'NA', 'NA', 1, '2023-04-25T07:00:21.747', 'CC\koppirv', NULL, NULL),
		('NA', 'NULL', 'Not Available', 'NULL', 1, '2023-04-25T07:00:21.747', 'CC\koppirv', NULL, NULL),
		('Ohio', 'Ohio', 'Ohio', 'OHIO', 1, '2023-04-25T07:00:21.747', 'CC\koppirv', NULL, NULL),
		('AAA1', 'AAA1', 'AAA', 'AAA', 0, '2023-05-03T16:33:16.573', 'admin', '2023-05-03T16:50:01.230', NULL),
		('Akron', 'Akron', 'Akron', 'Akron', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL),
		('Indian River', 'IndianRiver', 'Indian River', 'IndianRiver', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL),
		('Martin Health', 'MartinHealth', 'Martin Health', 'MartinHealth', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL),
		('Mercy', 'Mercy', 'Mercy', 'Mercy', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL),
		('NE Ohio', 'NEOhio', 'NE Ohio', 'NEOhio', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL),
		('Other', 'Other', 'Other', 'Other', 1, '2023-08-29T16:34:00.900', 'CC\koppirv', NULL, NULL);

	INSERT INTO [dbo].[Region] (
		[ShortName],
		[Code],
		[DESCRIPTION],
		[DataLabReference],
		[IsActive],
		[CreateDate],
		[CreateBy],
		[UpdateDate],
		[UpdateBy]
	)
	SELECT
		S.[ShortName],
		S.[Code],
		S.[DESCRIPTION],
		S.[DataLabReference],
		S.[IsActive],
		S.[CreateDate],
		S.[CreateBy],
		S.[UpdateDate],
		S.[UpdateBy]
	FROM @Seed S
	WHERE NOT EXISTS (
		SELECT 1
		FROM [dbo].[Region] R
		WHERE R.[Code] = S.[Code]
		  AND R.[DataLabReference] = S.[DataLabReference]
	);
END
GO
