/****** Object:  StoredProcedure [P_SSIS_Load_Case]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.P_SSIS_Load_Case 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0 
	DECLARE @RowsUpdated INT = 0 
	DECLARE @RowsToBeInserted INT = 0 
	DECLARE @RowsToBeUpdated INT = 0 
	DECLARE @Table Varchar(100) = 'Case'
	DECLARE @HospitalIdNull INT, @CaseStatusIdNull INT, @CaseTypeIdNull INT, @SpecialityIdNull INT, @PatientIdNull INT
	
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	DROP INDEX IF EXISTS IX_Case_CaseNumber ON dbo.[Case];
	DROP INDEX IF EXISTS IX_Case_CollectionDate ON dbo.[Case];
	DROP INDEX IF EXISTS IX_Case_RefPatientKey ON dbo.[Case];
	--DROP INDEX IF EXISTS IX_Case_RefRequisitionId ON dbo.[Case];
	DROP INDEX IF EXISTS IX_Case_RefRequisitionKey ON dbo.[Case];	
	DROP INDEX IF EXISTS IX_Case_SpecimenYear ON dbo.[Case];
	
 
	BEGIN TRY
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[Case]
		END
	
	 

		DROP INDEX IF EXISTS IDX_SSIS_CaseData_K_REQUISITION_KEY ON dbo.SSIS_CaseData;
		DROP INDEX IF EXISTS IDX_SSIS_CaseData_K_PAT_KEY ON dbo.SSIS_CaseData;
		DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_LAB_ID ON dbo.SSIS_CaseData;
		DROP INDEX IF EXISTS IDX_SSIS_CaseData_AP_CASE_STATUS_CD ON dbo.SSIS_CaseData;
		DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_TYPE_ID ON dbo.SSIS_CaseData;
		DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_SUBSPECIALTY_CD ON dbo.SSIS_CaseData;

		CREATE INDEX IDX_SSIS_CaseData_K_REQUISITION_KEY on dbo.SSIS_CaseData(CASE_ID);
		CREATE INDEX IDX_SSIS_CaseData_K_PAT_KEY on dbo.SSIS_CaseData(CASE_PAT_ID);
		CREATE INDEX IDX_SSIS_CaseData_CASE_LAB_ID on dbo.SSIS_CaseData(CASE_LAB_ID);
		CREATE INDEX IDX_SSIS_CaseData_AP_CASE_STATUS_CD on dbo.SSIS_CaseData(AP_CASE_STATUS_C);
		CREATE INDEX IDX_SSIS_CaseData_CASE_TYPE_ID on dbo.SSIS_CaseData(CASE_TYPE_ID);
		CREATE INDEX IDX_SSIS_CaseData_CASE_SUBSPECIALTY_CD on dbo.SSIS_CaseData(CASE_SUBSPECIALTY_C);
		




		SELECT @HospitalIdNull = HospitalId from dbo.Hospital Where Code = 'NULL'
		SELECT @CaseStatusIdNull = CaseStatusId from dbo.CaseStatus Where Code = 'NULL'
		SELECT @CaseTypeIdNull = CaseTypeId from dbo.CaseType Where Code = 'NULL'
		SELECT @SpecialityIdNull = SpecialtyId from dbo.Specialty Where Code = 'NULL'
		SELECT @PatientIdNull = PatientId from dbo.Patient Where RefPatientKey = 'NULL'

		SELECT @RowsToBeInserted = COUNT(0) From dbo.SSIS_CaseData S
		Where NOT EXISTS (Select 0 from dbo.[Case] C where S.CASE_ID = C.RefRequisitionId)

		SELECT @RowsToBeUpdated = COUNT(0) From dbo.SSIS_CaseData S
		Where EXISTS (Select 0 from dbo.[Case] C where S.CASE_ID = C.RefRequisitionId)



		--Update the CoPath Specialities

		IF NOT EXISTS (SELECT 0 FROM [dbo].[Specialty] Where Code = 'OTHER') 
		BEGIN
			INSERT INTO [dbo].[Specialty]
				 ([ShortName]
				 ,[Code]
				 ,[DESCRIPTION]
				 ,[DataLabReference]
				 ,[SpecialtyCategory]
				 ,[IsActive]
				 ,[CreateDate]
				 ,[CreateBy]
				 ,[UpdateDate]
				 ,[UpdateBy])
			 VALUES
				 ('Other'
				 ,'OTHER'
				 ,'OTHER'
				 ,-10
				 ,''
				 ,1
				 ,GetDate()
				 ,User
				 ,NULL
				 ,NULL)
		END 




		/*
		CoPath specialty backfill disabled for this branch.
		ETLCopathSpecialty is not available in this environment.
		Update ETLCopathSpecialty
		set specialty_name = 'HN1', specialty_desc = 'Head & Neck 1'
		Where specialty_name = 'ENT'

		Update ETLCopathSpecialty
		set specialty_name = 'Other', specialty_desc ='OTHER'
		Where specialty_name in ('BEACHWOOD', 'END', 'GIE')

		--Check with Dr.Robertson		
		Update ETLCopathSpecialty set specialty_name = 'GU LARGE' where specialty_name = 'GULARGE'
		Update ETLCopathSpecialty set specialty_name = 'LYM1' where specialty_name = 'LYM'
		Update ETLCopathSpecialty set specialty_name = 'GYN BX' where specialty_name = 'GYNX'
		Update ETLCopathSpecialty set specialty_name = 'BR BX' where specialty_name = 'BRX'
		Update ETLCopathSpecialty set specialty_name = 'NEU1' where specialty_name = 'NEU'
		Update ETLCopathSpecialty set specialty_name = 'CYTO NG' where specialty_name = 'CYT'
		Update ETLCopathSpecialty set specialty_name = 'REFGX' where specialty_name = 'REF GIX'

		Update S
		set CASE_SUBSPECIALTY_C = SP.DataLabReference
		From SSIS_CaseData S
		join ETLCopathSpecialty C on S.CASE_NUM = C.[specnum_formatted]
		join Specialty SP on C.specialty_name = SP.Code or C.specialty_name = SP.ShortName
		or C.specialty_desc = SP.DESCRIPTION
		Where S.CASE_SUBSPECIALTY_C is NULL
		*/
	 

	 --select top 100 * from SSIS_CaseData
	 --select top 100 * from SSIS_CaseData
		--UPDATE Data
		print 'Update Start'




		Update C SET [PatientId] = ISNULL(P.PatientId, @PatientIdNull)
		 ,[HospitalId] = ISNULL(H.HospitalId, @HospitalIdNull)
		 ,[CaseStatusId] = ISNULL(CS.CaseStatusId, @CaseStatusIdNull)
		 ,[CaseTypeId] = ISNULL(CT.CaseTypeId, @CaseTypeIdNull)
		 ,[SpecialtyId] = ISNULL(ST.SpecialtyId, @SpecialityIdNull)
		 ,[SpecimenYear] = ISNULL(YEAR(S.CASE_ACCESSION_DTTM), 0)
		 ,[CaseNumber] = S.CASE_NUM
		 ,[AccessionDate] = S.CASE_ACCESSION_DTTM
		 ,[ReceiveDate] = S.CASE_RECEIVED_DTTM
		 ,[OverdueDate] = S.CASE_OVERDUE_DTTM
		 ,[CollectionDate] = S.CASE_COLL_DTTM
		 ,[SignoutDate] = S.CASE_SIGNOUT_DTTM		 
		 ,[RefPatientKey] = P.RefPatientKey
		 ,[IsActive] = 1		 
		 ,[UpdateDate] = GETDATE()
		 ,[UpdateBy] = USER
		 ,[UploadDate] = GETDATE()
		 from dbo.[Case] C
			JOIN dbo.SSIS_CaseData S ON S.CASE_ID = C.RefRequisitionId	 
			LEFT JOIN dbo.Patient P on S.CASE_PAT_ID = P.RefPatientKey
			LEFT JOIN dbo.Hospital H on S.CASE_LAB_ID = H.DataLabReference
			LEFT JOIN dbo.CaseStatus CS on S.AP_CASE_STATUS_C = CS.DataLabReference
			LEFT JOIN dbo.CaseType CT on S.CASE_TYPE_ID = CT.DataLabReference
			LEFT JOIN dbo.Specialty ST on S.CASE_SUBSPECIALTY_C = ST.DataLabReference			 
			WHERE				
			C.[HospitalId] <> ISNULL(H.HospitalId, @HospitalIdNull) OR
 			C.[CaseStatusId] <> ISNULL(CS.CaseStatusId, @CaseStatusIdNull) OR
			C.[CaseTypeId] <> ISNULL(CT.CaseTypeId, @CaseTypeIdNull) OR
			C.[SpecialtyId] <> ISNULL(ST.SpecialtyId, @SpecialityIdNull) OR
			C.[SpecimenYear] <> ISNULL(YEAR(S.CASE_ACCESSION_DTTM), 0) OR
			C.[CaseNumber] <> S.CASE_NUM OR
			C.[AccessionDate] <> S.CASE_ACCESSION_DTTM OR
			C.[ReceiveDate] <> S.CASE_RECEIVED_DTTM OR
			C.[OverdueDate] <> S.CASE_OVERDUE_DTTM OR
			C.[CollectionDate] <> S.CASE_COLL_DTTM OR
			C.[SignoutDate] <> S.CASE_SIGNOUT_DTTM	OR	 
			C.[RefPatientKey] <> P.RefPatientKey OR 
			C.[PatientId] <> ISNULL(P.PatientId, @PatientIdNull)
		

		SET @RowsUpdated = @@ROWCOUNT

		Update [CASE] SET UploadDate = GETDATE() WHERE UploadDate IS NULL

		print 'Update End'
		--INSERT Data
		print 'Insert Start'
		INSERT INTO [dbo].[Case]
			 ([PatientId]
			 ,[HospitalId]
			 ,[CaseStatusId]
			 ,[CaseTypeId]
			 ,[SpecialtyId]
			 ,[SpecimenYear]
			 ,[CaseNumber]
			 ,[AccessionDate]
			 ,[ReceiveDate]
			 ,[OverdueDate]
			 ,[CollectionDate]
			 ,[SignoutDate]
			 ,[RefRequisitionKey]
			 ,[RefRequisitionId]
			 ,[RefPatientKey]
			 
			 ,[IsActive]
			 ,[CreateDate]
			 ,[CreateBy]
			 ,[UpdateDate]
			 ,[UpdateBy]
			 ,[UploadDate])
		Select ISNULL(P.PatientId, @PatientIdNull), ISNULL(H.HospitalId, @HospitalIdNull), ISNULL(CS.CaseStatusId, @CaseStatusIdNull), 
		ISNULL(CT.CaseTypeId, @CaseTypeIdNull), ISNULL(ST.SpecialtyId, @SpecialityIdNull), ISNULL(YEAR(S.CASE_ACCESSION_DTTM), 0),
			S.CASE_NUM, S.CASE_ACCESSION_DTTM, S.CASE_RECEIVED_DTTM, S.CASE_OVERDUE_DTTM, S.CASE_COLL_DTTM,
			S.CASE_SIGNOUT_DTTM, S.CASE_ID, S.CASE_ID, P.RefPatientKey, 1, GETDATE(), user, NULL, NULL, GETDATE()
			from dbo.SSIS_CaseData S		 
			LEFT JOIN dbo.Patient P on S.CASE_PAT_ID = P.RefPatientKey
			LEFT JOIN dbo.Hospital H on S.CASE_LAB_ID = H.DataLabReference
			LEFT JOIN dbo.CaseStatus CS on S.AP_CASE_STATUS_C = CS.DataLabReference
			LEFT JOIN dbo.CaseType CT on S.CASE_TYPE_ID = CT.DataLabReference
			LEFT JOIN dbo.Specialty ST on S.CASE_SUBSPECIALTY_C = ST.DataLabReference			 
		 Where NOT EXISTS (Select 0 from dbo.[Case] C where S.CASE_ID = C.RefRequisitionId)

		SET @RowsInserted = @@ROWCOUNT
			print 'Insert End'

		DROP INDEX IF EXISTS IX_Case_CaseNumber ON dbo.[Case];
		CREATE INDEX IX_Case_CaseNumber on dbo.[Case](CaseNumber);

		DROP INDEX IF EXISTS IX_Case_CollectionDate ON dbo.[Case];
		CREATE INDEX IX_Case_CollectionDate on dbo.[Case](CollectionDate);

		DROP INDEX IF EXISTS IX_Case_RefPatientKey ON dbo.[Case];
		CREATE INDEX IX_Case_RefPatientKey on dbo.[Case](RefPatientKey);

		DROP INDEX IF EXISTS IX_Case_RefRequisitionId ON dbo.[Case];
		CREATE INDEX IX_Case_RefRequisitionId on dbo.[Case](RefRequisitionId);

		DROP INDEX IF EXISTS IX_Case_RefRequisitionKey ON dbo.[Case];
		CREATE INDEX IX_Case_RefRequisitionKey on dbo.[Case](RefRequisitionKey);

		DROP INDEX IF EXISTS IX_Case_SpecimenYear ON dbo.[Case];
		CREATE INDEX IX_Case_SpecimenYear on dbo.[Case](SpecimenYear);


		DROP INDEX IF EXISTS IX_Case_UploadDate ON dbo.[Case];
		CREATE INDEX IX_Case_UploadDate on dbo.[Case](UploadDate);
 


		--Update the Hospital for Beaker AP Conversion Laboratory cases
		Declare @BeakerHospitalId INT, @IndianRiverHospitalId INT, @MartinHealthHospitalId INT, @MainCampusHospitalId INT
		Select @BeakerHospitalId = HospitalId from dbo.Hospital Where ShortName = 'Beaker AP Conversion Laboratory'
		Select @IndianRiverHospitalId = HospitalId from dbo.Hospital Where ShortName = 'Indian River Hospital Lab'
		Select @MartinHealthHospitalId = HospitalId from dbo.Hospital Where ShortName = 'Martin Health South Hospital Lab'
		Select @MainCampusHospitalId = HospitalId from dbo.Hospital Where ShortName = 'Main Campus'

		--Select @BeakerHospitalId, @IndianRiverHospitalId, @MartinHealthHospitalId, @MainCampusHospitalId

		Update dbo.[Case] set HospitalId = @IndianRiverHospitalId
		Where CaseNumber like 'SIR[0-9][0-9]%' and HospitalId = @BeakerHospitalId

		Update dbo.[Case] set HospitalId = @MartinHealthHospitalId
		Where CaseNumber like 'SMHS[0-9][0-9]%' and HospitalId = @BeakerHospitalId

		Update dbo.[Case] set HospitalId = @MainCampusHospitalId
		Where CaseNumber LIKE 'SIR[0-9][0-9]%' and HospitalId = @BeakerHospitalId
		 
		Update dbo.[Case] set HospitalId = @MainCampusHospitalId
		Where CaseNumber LIKE 'SU[0-9][0-9]%' and HospitalId = @BeakerHospitalId

		Update dbo.[Case] set HospitalId = @MainCampusHospitalId
		Where CaseNumber LIKE 'S[0-9][0-9]%' and HospitalId = @BeakerHospitalId

		--Select * from dbo.[Case] Where CaseNumber LIKE 'SIR[0-9][0-9]%'
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
		
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		PRINT ERROR_LINE() 
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;

	END CATCH
END
GO
