/****** Object:  StoredProcedure [P_SSIS_Load_SynopticCommentSpecimen]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.P_SSIS_Load_SynopticCommentSpecimen 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsInserted_1 INT = 0, @RowsInserted_2 INT = 0
	DECLARE @RowsUpdated INT = 0, @RowsUpdated_1 INT = 0, @RowsUpdated_2 INT = 0
	DECLARE @RowsToBeInserted INT = 0, @RowsToBeInserted_1 INT = 0, @RowsToBeInserted_2 INT = 0
	DECLARE @RowsToBeUpdated INT = 0, @RowsToBeUpdated_1 INT = 0, @RowsToBeUpdated_2 INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSynopticSpecimen'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--DROP INDEX IF EXISTS IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
	--DROP INDEX IF EXISTS IX_SSIS_CommentSynopticSpecimenLevel_K_SPECIMEN_KEY ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
	DROP INDEX IF EXISTS IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
	DROP INDEX IF EXISTS IX_SSIS_CommentSynopticCaseLevel_SYNOPTIC_ID ON [dbo].[SSIS_CommentSynopticCaseLevel]
 
	--DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_CaseId] ON [dbo].[CaseCommentSynopticSpecimen]
	--DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_SpecimenId] ON [dbo].[CaseCommentSynopticSpecimen]
 


	BEGIN TRY

	 
		--CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
		--(
		--	SYNOPTIC_ID ASC
		--)
		--CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticSpecimenLevel_K_SPECIMEN_KEY] ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
		--(
		--	K_SPECIMEN_KEY ASC
		--)
		 
		CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
		(
			SYNOPTIC_ID ASC
		)

		CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticCaseLevel_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticCaseLevel]
		(
			SYNOPTIC_ID ASC
		)
		 
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[CaseCommentSynopticSpecimen]
		END

		-- Consider the records to be inserted
		SET @RowsToBeInserted_1 = (SELECT COUNT(0) FROM [SSIS_CommentSynopticSpecimenLevel] T 
								WHERE NOT EXISTS (Select 0 from dbo.[CaseCommentSynopticSpecimen] S where T.SYNOPTIC_ID = S.SynopticId))

		-- Consider the records to be updated
		SET @RowsToBeUpdated_1 = (SELECT COUNT(0) FROM [SSIS_CommentSynopticSpecimenLevel] T 
								WHERE EXISTS  (Select 0 from dbo.[CaseCommentSynopticSpecimen] S where T.SYNOPTIC_ID = S.SynopticId))
 

		-- Consider the records to be inserted
		SET @RowsToBeInserted_2 = (SELECT COUNT(0) FROM [SSIS_CommentSynopticCaseLevel] T 
								WHERE NOT EXISTS (Select 0 from dbo.[CaseCommentSynopticSpecimen] S where T.SYNOPTIC_ID = S.SynopticId))

		-- Consider the records to be updated
		SET @RowsToBeUpdated_2 = (SELECT COUNT(0) FROM [SSIS_CommentSynopticCaseLevel] T 
								WHERE EXISTS  (Select 0 from dbo.[CaseCommentSynopticSpecimen] S where T.SYNOPTIC_ID = S.SynopticId))

		--UPDATE Data
		Print 'Update Start'
		 
		--Update SP
		--SET [CaseId] = S.CaseId, 
		--[SpecimenId] = S.SpecimenId,
		--[SynopticId] = SYN_CASE.SYNOPTIC_ID, 
		--[SynopticLine] = SYN_CASE.SYNOPIC_LINE,
		--[CaseNum] = SYN_CASE.CASE_NUM, 
		--[SpecimenNum] = SYN_CASE.SPECIMEN_NUM, 
		--[SpecimenList] = ISNULL(SYN_CASE.SPECIMEN_LIST, ''), 
		--[RecordCreateDate] = CASE
		--	WHEN SYN_CASE.RECORD_CREATION_DT IS NOT NULL THEN SYN_CASE.RECORD_CREATION_DT
		--	WHEN S.ClosedDate IS NOT NULL THEN S.ClosedDate
		--	WHEN S.CollectionDate IS NOT NULL THEN S.CollectionDate
		--	WHEN S.ReceivedDate IS NOT NULL THEN S.ReceivedDate
		--	ELSE S.CreateDate
		--END,
		--[IsSpecimenLevel] = SYN_CASE.IS_SPECIMEN_LEVEL,
		--[RefSpecimenKey] = K_SPECIMEN_KEY, 
		--[RefRequisitionKey] = K_REQUISITION_KEY,
		--[UpdateDate] = getdate(), 
		--[UpdateBy] = user
		--from [dbo].[SSIS_CommentSynopticSpecimenLevel] SYN_CASE  
		--JOIN Specimen S on SYN_CASE.K_SPECIMEN_KEY = S.RefSpecimenKey 		 
		--JOIN dbo.[CaseCommentSynopticSpecimen] SP ON SYN_CASE.[SYNOPTIC_ID] = SP.[SynopticId]
		Delete from dbo.[CaseCommentSynopticSpecimen]    
		WHERE EXISTS (Select 0 from 
		[dbo].[SSIS_CommentSynopticSpecimenLevel] SYN_CASE 
			WHERE SYN_CASE.[SYNOPTIC_ID] = dbo.[CaseCommentSynopticSpecimen].[SynopticId] )
		AND IsSpecimenLevel = 1
		
		
		SET @RowsUpdated_1 = @@ROWCOUNT

		--Update SP
		--SET [CaseId] = S.CaseId, 
		--[SpecimenId] = S.SpecimenId,
		--[SynopticId] = SYN_CASE.SYNOPTIC_ID, 
		--[SynopticLine] = SYN_CASE.SYNOPIC_LINE,
		--[CaseNum] = SYN_CASE.CASE_NUM, 
		--[SpecimenNum] = SYN_CASE.SPECIMEN_NUM, 
		--[SpecimenList] = ISNULL(SYN_CASE.SPECIMEN_LIST, ''), 
		--[RecordCreateDate] = CASE
		--	WHEN SYN_CASE.RECORD_CREATION_DT IS NOT NULL THEN SYN_CASE.RECORD_CREATION_DT
		--	WHEN S.ClosedDate IS NOT NULL THEN S.ClosedDate
		--	WHEN S.CollectionDate IS NOT NULL THEN S.CollectionDate
		--	WHEN S.ReceivedDate IS NOT NULL THEN S.ReceivedDate
		--	ELSE S.CreateDate
		--END,
		--[IsSpecimenLevel] = SYN_CASE.IS_SPECIMEN_LEVEL,
		--[RefSpecimenKey] = K_SPECIMEN_KEY, 
		--[RefRequisitionKey] = K_REQUISITION_KEY,
		--[UpdateDate] = getdate(), 
		--[UpdateBy] = user
		--from [dbo].[SSIS_CommentSynopticCaseLevel] SYN_CASE  
		--JOIN Specimen S on SYN_CASE.K_SPECIMEN_KEY = S.RefSpecimenKey 		 
		--JOIN dbo.[CaseCommentSynopticSpecimen] SP ON SYN_CASE.[SYNOPTIC_ID] = SP.[SynopticId]

		DELETE from dbo.[CaseCommentSynopticSpecimen] 
		WHERE EXISTS (Select 0 FROM  [dbo].[SSIS_CommentSynopticCaseLevel] SYN_CASE  
			WHERE SYN_CASE.[SYNOPTIC_ID] = dbo.[CaseCommentSynopticSpecimen].[SynopticId])
		AND IsSpecimenLevel = 0

		SET @RowsUpdated_2 = @@ROWCOUNT
		Print 'Update End'



		
		
		--INSERT Data
		Print 'Insert Start'
 
		INSERT INTO [dbo].[CaseCommentSynopticSpecimen]
           ([CaseId]
           ,[SpecimenId]
           ,[SynopticId]
           ,[SynopticLine]
           ,[CaseNum]
           ,[SpecimenNum]
		   ,[SpecimenList]
           ,[RecordCreateDate]
		   ,[IsSpecimenLevel]
           ,[RefSpecimenKey]
           ,[RefRequisitionKey]
		   ,[IsParsed]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		select S.CaseId, S.SpecimenId,
		SYN_CASE.SYNOPTIC_ID SynopticId, SYN_CASE.SYNOPIC_LINE SynopticLine,
		SYN_CASE.CASE_NUM CaseNum, SYN_CASE.SPECIMEN_NUM SpecimenNum, 
		ISNULL(SYN_CASE.SPECIMEN_LIST, ''), 
		CASE
			WHEN SYN_CASE.RECORD_CREATION_DT IS NOT NULL THEN SYN_CASE.RECORD_CREATION_DT
			WHEN S.ClosedDate IS NOT NULL THEN S.ClosedDate
			WHEN S.CollectionDate IS NOT NULL THEN S.CollectionDate
			WHEN S.ReceivedDate IS NOT NULL THEN S.ReceivedDate
			ELSE S.CreateDate
		END 
		,
		SYN_CASE.IS_SPECIMEN_LEVEL,
		K_SPECIMEN_KEY RefSpecimenKey, K_REQUISITION_KEY RefRequisitionKey,
		0,
		getdate(), user, NULL UpdateDate, NULL UpdateBy
		from [dbo].[SSIS_CommentSynopticSpecimenLevel] SYN_CASE  
		JOIN Specimen S on SYN_CASE.K_SPECIMEN_KEY = S.RefSpecimenKey 		 
		  -- Where NOT EXISTS (Select 0 from dbo.[CaseCommentSynopticSpecimen] SP where SYN_CASE.[SYNOPTIC_ID] = SP.[SynopticId])


		SET @RowsInserted_1 = @@ROWCOUNT

		INSERT INTO [dbo].[CaseCommentSynopticSpecimen]
           ([CaseId]
           ,[SpecimenId]
           ,[SynopticId]
           ,[SynopticLine]
           ,[CaseNum]
           ,[SpecimenNum]
		   ,[SpecimenList]
           ,[RecordCreateDate]
		   ,[IsSpecimenLevel]
           ,[RefSpecimenKey]
           ,[RefRequisitionKey]
		   ,[IsParsed]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		select S.CaseId, S.SpecimenId,
		SYN_CASE.SYNOPTIC_ID SynopticId, SYN_CASE.SYNOPIC_LINE SynopticLine,
		SYN_CASE.CASE_NUM CaseNum, SYN_CASE.SPECIMEN_NUM SpecimenNum, 
		ISNULL(SYN_CASE.SPECIMEN_LIST, ''), 
		CASE
			WHEN SYN_CASE.RECORD_CREATION_DT IS NOT NULL THEN SYN_CASE.RECORD_CREATION_DT
			WHEN S.ClosedDate IS NOT NULL THEN S.ClosedDate
			WHEN S.CollectionDate IS NOT NULL THEN S.CollectionDate
			WHEN S.ReceivedDate IS NOT NULL THEN S.ReceivedDate
			ELSE S.CreateDate
		END 
		,
		SYN_CASE.IS_SPECIMEN_LEVEL,
		K_SPECIMEN_KEY RefSpecimenKey, K_REQUISITION_KEY RefRequisitionKey, 0,
		getdate(), user, NULL UpdateDate, NULL UpdateBy
		from [dbo].[SSIS_CommentSynopticCaseLevel] SYN_CASE  
		JOIN Specimen S on SYN_CASE.K_SPECIMEN_KEY = S.RefSpecimenKey 		 
		  -- Where NOT EXISTS (Select 0 from dbo.[CaseCommentSynopticSpecimen] SP where SYN_CASE.[SYNOPTIC_ID] = SP.[SynopticId])



		SET @RowsInserted_2 = @@ROWCOUNT
		Print 'Insert End'
		 
		DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_CaseId] ON [dbo].[CaseCommentSynopticSpecimen]	
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_CaseId] ON [dbo].[CaseCommentSynopticSpecimen]
		(
			[CaseId] ASC
		)

		DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_SpecimenId] ON [dbo].[CaseCommentSynopticSpecimen]
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_SpecimenId] ON [dbo].[CaseCommentSynopticSpecimen]
		(
			SpecimenId ASC
		)


 		DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_SynopticId] ON [dbo].[CaseCommentSynopticSpecimen]
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_SynopticId] ON [dbo].[CaseCommentSynopticSpecimen]
		(
			SynopticId ASC
		)
		
		SET @RowsToBeInserted = @RowsToBeInserted_1 + @RowsToBeInserted_2
		SET @RowsInserted = @RowsInserted_1 + @RowsInserted_2
		SET @RowsToBeUpdated = @RowsToBeUpdated_1 + @RowsToBeUpdated_2
		SET @RowsUpdated = @RowsUpdated_1 + @RowsUpdated_2
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		SET @RowsToBeInserted = @RowsToBeInserted_1 + @RowsToBeInserted_2
		SET @RowsInserted = @RowsInserted_1 + @RowsInserted_2
		SET @RowsToBeUpdated = @RowsToBeUpdated_1 + @RowsToBeUpdated_2
		SET @RowsUpdated = @RowsUpdated_1 + @RowsUpdated_2

		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO