/****** Object:  StoredProcedure [P_SSIS_LogMainTable]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [P_SSIS_LogMainTable] (
	@Table VARCHAR(100),
	@RowsToBeInserted INT,
	@RowsInserted INT,
	@RowsToBeUpdated INT,
	@RowsUpdated INT,
	@IsSuccess BIT,
	@Message  VARCHAR(MAX),
	@LoadTime INT = 0
)
AS
BEGIN
	INSERT INTO [dbo].[SSIS_LogMainTable]
					   ([TableName]
					   ,[ToBeInsertRecordCount]
					   ,[InsertRecordCount]
					   ,[TobeUpdateRecordCount]
					   ,[UpdateRecordCount]
					   ,[IsSuccess]
					   ,[ErrorMessage]
					   ,[LoadTime]
					   ,[CreatedDate]
					   ,[CreatedBy])
				 VALUES
					   (@Table
					   ,@RowsToBeInserted
					   ,@RowsInserted
					   ,@RowsToBeUpdated
					   ,@RowsUpdated
					   ,@IsSuccess
					   ,@Message
					   ,@LoadTime
					   ,GETDATE()
					   ,user)

END
GO
