/****** Object:  StoredProcedure [P_SSIS_Load_CaseCommentPlain_Direct]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.P_SSIS_Load_CaseCommentPlain_Direct
  @FullLoad BIT = 0
AS
  BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET nocount ON;
    DECLARE @RowsInserted      INT = 0
    DECLARE @RowsUpdated       INT = 0
    DECLARE @RowsToBeInserted  INT = 0
    DECLARE @RowsToBeUpdated   INT = 0
    DECLARE @Table             VARCHAR(100) = 'CaseComment'
    DECLARE @CommentTypeIdNull INT
    DECLARE @year              INT
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

    IF EXISTS
    (
           SELECT 0
           FROM   [dbo].[SSIS_CommentPlainTextGroup])
    BEGIN
      DECLARE @COMMENTDATA TABLE
                                 (
                                                            [CaseId] [INT] NOT NULL,
                                                            [CommentTypeId] [INT] NOT NULL,
                                                            [Text] [VARCHAR](max) NOT NULL,
                                                            [RefRequistionKey] [VARCHAR](50) NOT NULL,
                                                            [RefResultKey] [VARCHAR](50) NOT NULL,
                                                            [RefLabCompName] [VARCHAR](100) NOT NULL,
                                                            [RefCommentType] [VARCHAR](100) NULL
                                 )
      --ALTER INDEX IX_CaseComment_CaseId ON [dbo].[CaseComment] DISABLE;
      --ALTER INDEX IX_CaseComment_CaseId_CommentTypeId ON [dbo].[CaseComment] DISABLE;
      --ALTER INDEX IX_CaseComment_RefLabCompName ON [dbo].[CaseComment] DISABLE;
      --ALTER INDEX IX_CaseComment_RefRequistionKey ON [dbo].[CaseComment] DISABLE;
      --ALTER INDEX IX_CaseComment_RefResultKey ON [dbo].[CaseComment] DISABLE;
      BEGIN try
        IF @FullLoad = 1
        BEGIN
          TRUNCATE TABLE [dbo].[CaseComment]
        END
        -- Create Indexes on [SSIS_CommentPlainTextGroup]
        DROP INDEX
        if exists [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_REQUISITION_ID];
        DROP INDEX
        if exists [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_RESULT_ID];
        DROP INDEX
        if exists [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_CommentType];
        DROP INDEX
        if exists [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_CompName];
        DROP INDEX
        if exists [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_REQUISITION_COMPONENT_GROUP_VALUE];
        CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainTextGroup_REQUISITION_ID]
        ON [dbo].[SSIS_CommentPlainTextGroup]
                                  (
                                                            [REQUISITION_ID] ASC
                                  )
        CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainTextGroup_RESULT_ID]
        ON [dbo].[SSIS_CommentPlainTextGroup]
                                  (
                                                            [RESULT_ID] ASC
                                  )
        CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainTextGroup_CommentType]
        ON [dbo].[SSIS_CommentPlainTextGroup]
                                  (
                                                            [COMMENT_TYPE] ASC
                                  )
        CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainTextGroup_CompName]
        ON [dbo].[SSIS_CommentPlainTextGroup]
                                  (
                                                            [COMP_NAME] ASC
                                  )
        CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainTextGroup_REQUISITION_COMPONENT_GROUP_VALUE]
        ON [dbo].[SSIS_CommentPlainTextGroup]
                                  (
                                                            requisition_id ASC,
                                                            component_id ASC,
                                                            group_line ASC,
                                                            value_line ASC
                                  )
        SELECT @CommentTypeIdNull = commenttypeid
        FROM   dbo.commenttype
        WHERE  code = 'NULL'
        SELECT @RowsToBeInserted = Count(0)
        FROM   dbo.SSIS_CommentPlainTextGroup
        
          
          PRINT 'Rank End -- '             + Cast(@year AS VARCHAR)
          PRINT 'Comment Concat Start -- ' + Cast(@year AS VARCHAR)
          DELETE
          FROM   @CommentData
          INSERT INTO @CommentData
          SELECT    c.caseid,
                    ct.commenttypeid,
                    --String_agg(mult_ln_val_storage, Char(13)+Char(10) ) within GROUP (ORDER BY group_line, value_line) AS mult_ln_val_storage_all,
					mult_ln_val_storage,
                    requisition_id,
                    result_id,
                    comp_name,
                    comment_type
          FROM      SSIS_CommentPlainTextGroup cpt
          JOIN      dbo.[Case] c
          ON        cpt.requisition_id = c.refrequisitionid
          LEFT JOIN dbo.commenttype ct
          ON        cpt.comment_type = ct.code
		  Order by cpt.Result_id, cpt.[COMP_NAME]
          --WHERE     c.specimenyear = @year
          --AND
                    --CPT.REQUISITION_ID = 44011522215 AND
          --          cpt.rank_res_group = 1
          --GROUP BY  c.caseid,
          --          ct.commenttypeid,
                    --requisition_id,
                    --comment_type,
                    --comp_name
          PRINT 'Comment Concat End -- ' + Cast(@year AS VARCHAR)
          PRINT 'Update Start -- '       + Cast(@year AS VARCHAR)
          IF @FullLoad = 0
          BEGIN
            UPDATE cc
            SET    [Text] = cpt.[Text],
                   [RefRequistionKey] = cpt.[RefRequistionKey],
                   [RefResultKey] = cpt.[RefResultKey],
                   [RefLabCompName] = cpt.[RefLabCompName],
                   [RefCommentType] = cpt.[RefCommentType],
                   updatedate = Getdate(),
                   updateby = USER
            FROM   @CommentData CPT
            JOIN   casecomment CC
            ON     cc.caseid = cpt.caseid
            AND    cc.commenttypeid = cpt.commenttypeid
            AND    cpt.reflabcompname = cc.reflabcompname
          END
          SET @RowsInserted = @RowsInserted + @@ROWCOUNT
          PRINT 'Update End -- '            + Cast(@year AS VARCHAR)
          PRINT 'Insert Start -- '          + Cast(@year AS VARCHAR)
          INSERT INTO [dbo].[CaseComment]
                      (
                                  [CaseId] ,
                                  [CommentTypeId] ,
                                  [Text] ,
                                  [RefRequistionKey] ,
                                  [RefResultKey] ,
                                  [RefLabCompName] ,
                                  [RefCommentType] ,
                                  [CreateDate] ,
                                  [CreateBy] ,
                                  [UpdateDate] ,
                                  [UpdateBy]
                      )
          SELECT [CaseId],
                 [CommentTypeId],
                 [Text],
                 [RefRequistionKey],
                 [RefResultKey],
                 [RefLabCompName],
                 [RefCommentType],
                 Getdate(),
                 USER,
                 NULL,
                 NULL
          FROM   @CommentData CPT
          WHERE  NOT EXISTS
                 (
                        SELECT 0
                        FROM   casecomment CC
                        WHERE  cc.caseid = cpt.caseid
                        AND    cc.commenttypeid = cpt.commenttypeid
                        AND    cpt.reflabcompname = cc.reflabcompname)
          SET @RowsInserted = @RowsInserted + @@ROWCOUNT
          PRINT 'Insert End -- '            + Cast(@year AS VARCHAR)
          --FETCH next
          --FROM  cursor_year
          --INTO  @year;
        
        --END
        --CLOSE cursor_year;
        --DEALLOCATE cursor_year;
		DECLARE @Ignore varchar(100)
		if EXISTS (select i.name
			from sys.indexes I
			join sys.tables o ON i.object_id = o.object_id
			WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_CommentTypeId')
		BEGIN
			--ALTER INDEX [IX_CaseComment_CommentTypeId] ON [dbo].[CaseComment] rebuild;
			SET @Ignore = ''
		END
		ELSE
		BEGIN
			CREATE NONCLUSTERED INDEX [IX_CaseComment_CommentTypeId] ON [dbo].[CaseComment]
			(
			 [CommentTypeId] ASC
			)
		END


		if EXISTS (select i.name
			from sys.indexes I
			join sys.tables o ON i.object_id = o.object_id
			WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_CaseId')
		BEGIN
			--ALTER INDEX [IX_CaseComment_CaseId] ON [dbo].[CaseComment] rebuild;
			SET @Ignore = ''
		END
		ELSE
		BEGIN
			CREATE NONCLUSTERED INDEX [IX_CaseComment_CaseId] ON [dbo].[CaseComment]
			(
			 CaseId ASC
			)
		END


		if EXISTS (select i.name
			from sys.indexes I
			join sys.tables o ON i.object_id = o.object_id
			WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_RefLabCompName')
		BEGIN
			--ALTER INDEX [IX_CaseComment_RefLabCompName] ON [dbo].[CaseComment] rebuild;
			SET @Ignore = ''
		END
		ELSE
		BEGIN
			CREATE NONCLUSTERED INDEX [IX_CaseComment_RefLabCompName] ON [dbo].[CaseComment]
			(
			 [RefLabCompName] ASC
			)
		END
        
        
        
        
        

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsToBeInserted,
				@RowsInserted,
				@RowsToBeUpdated,
				@RowsUpdated,
				1,
				'',
				@LoadTime;


      END try
      BEGIN catch
        DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		PRINT ERROR_LINE() 
		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsToBeInserted,
				@RowsInserted,
				@RowsToBeUpdated,
				@RowsUpdated,
				0,
				@ERROR,
				@LoadTime;
      END catch
    END
	ELSE
	BEGIN
		PRINT 'NO Records to load'
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsToBeInserted,
				@RowsInserted,
				@RowsToBeUpdated,
				@RowsUpdated,
				1,
				'',
				@LoadTime;
	END
  END
GO