/****** Object:  StoredProcedure [P_SSIS_Load_CaseCommentplain_v1]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.P_SSIS_Load_CaseCommentplain_v1
  @FullLoad BIT = 0
AS
  BEGIN
	
	PRINT 'START'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET nocount ON;
    DECLARE @RowsInserted      INT = 0
    DECLARE @RowsUpdated       INT = 0
    DECLARE @RowsToBeInserted  INT = 0
    DECLARE @RowsToBeUpdated   INT = 0
    DECLARE @Table             VARCHAR(100) = 'CaseComment'
    DECLARE @CommentTypeIdNull INT
    DECLARE @year              INT = 0
	DECLARE @year_prev			INT = 0
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 


    IF EXISTS
    (
           SELECT 0
           FROM   [dbo].[SSIS_CommentPlainText])
    BEGIN
		  PRINT 'START'	
		  PRINT GetDATE()
		 
 
		 
		  BEGIN try
			IF @FullLoad = 1
			BEGIN
				PRINT 'TRUNCATE TABLE'
				TRUNCATE TABLE [dbo].[CaseComment]
			END
			PRINT GetDATE()
			PRINT 'START - SSIS_CommentPlainText CONTAINS ROWS'
			 
			PRINT 'Indexes - SSIS Tables -- Start'
			PRINT GetDATE()

			DROP INDEX if exists [dbo].[CaseComment].[IX_CaseComment_CommentTypeId];
			DROP INDEX if exists [dbo].[CaseComment].IX_CaseComment_RefLabCompName;
			--DROP INDEX if exists [dbo].[CaseComment].IX_CaseComment_CaseId;
	 


			
			-- Create Indexes on [SSIS_CommentPlainText]
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_ID];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_RESULT_ID];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CommentType];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CompName];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp];
		

			DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainText_Final].[idx_SSIS_CommentPlainText_Final_caseid];
			DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainText_Final].[idx_SSIS_CommentPlainText_Final_RefRequistionId];

			
		
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_ID]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[REQUISITION_ID] ASC
									  )-- with (online = on, sort_in_tempdb = on);
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_RESULT_ID]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[RESULT_ID] ASC
									  ) --with (online = on, sort_in_tempdb = on);
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CommentType]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[COMMENT_TYPE] ASC
									  )-- with (online = on, sort_in_tempdb = on);
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CompName]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[COMP_NAME] ASC
									  ) --with (online = on, sort_in_tempdb = on);
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																requisition_id ASC,
																component_id ASC,
																group_line ASC,
																value_line ASC
									  )-- with (online = on, sort_in_tempdb = on);
			   CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																requisition_id ASC,
																[COMMENT_TYPE] ASC,
																comp_name ASC
                                                           
									  )-- with (online = on, sort_in_tempdb = on);
			
			PRINT 'Indexes - SSIS Tables -- END'
			PRINT GetDATE()
			

			SELECT @CommentTypeIdNull = commenttypeid
			FROM   dbo.commenttype
			WHERE  code = 'NULL'
			SELECT @RowsToBeInserted = Count(0)
			FROM   dbo.ssis_commentplaintext
			PRINT '@RowsToBeInserted: ' + casT(@RowsToBeInserted AS varchar)
			PRINT GetDATE()
			--INSERT Data
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_CaseId;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].[IX_CaseComment_CommentTypeId];
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefLabCompName;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefRequistionKey;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefResultKey;
			print 'cursor_year_	Start'
			PRINT GetDATE()
			PRINT 'Rank Start -- ' + Cast(@year AS VARCHAR);

			WITH cte AS
			(
					SELECT   rank_res_group,
							Row_number() OVER(partition BY requisition_id, component_id, group_line, value_line 
							ORDER BY result_id DESC) rank_num
					FROM     ssis_commentplaintext CPT
			)
			UPDATE cte
			SET    rank_res_group = rank_num;
          
			PRINT 'Rank End -- '             + Cast(@year AS VARCHAR)
			PRINT GetDATE()



			  PRINT 'Comment Concat Start -- ' + Cast(@year AS VARCHAR)
				  Truncate Table  SSIS_CommentPlainText_Final

				  PRINT 'Comment Concat Group - Start - ' + Cast(@year AS VARCHAR)
				  PRINT GetDATE()
				  INSERT INTO SSIS_CommentPlainText_Final
				  SELECT    --Max(c.caseid),
							--Max(ct.commenttypeid),
							0, 0, 0,
							String_agg(case when RTRIM(mult_ln_val_storage) = '' Then '   ||||   ' Else mult_ln_val_storage End, '' ) within GROUP (ORDER BY group_line, value_line) AS mult_ln_val_storage_all,
							requisition_id,
							max(result_id),
							comp_name,
							comment_type,
							MAX(COMPONENT_INST)
				  FROM      ssis_commentplaintext cpt
				  --JOIN      dbo.[Case] c
				  --ON        cpt.requisition_id = c.refrequisitionid
				  --JOIN dbo.commenttype ct
				  --ON        cpt.comment_type = ct.code
				  WHERE    -- c.specimenyear = @year AND
				  
							--CPT.REQUISITION_ID = 44011522215 AND
							cpt.rank_res_group = 1
				   GROUP BY  cpt.requisition_id,
							comment_type,
							comp_name
				 
				  PRINT 'Comment Concat Group - End - ' + Cast(@year AS VARCHAR)
				  PRINT GetDATE()


				  PRINT 'Case Id Comment Id Year Mapping - Start - ' + Cast(@year AS VARCHAR)
				  PRINT GetDATE()



				 CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_Final_RefRequistionId]
					ON [dbo].[SSIS_CommentPlainText_Final]
					(	RefRequistionId ASC )



				  Update cpt
				  Set CaseId = C.CaseId,
				  CommentTypeId = 	ct.CommentTypeId,
				  [YEAR] = C.SpecimenYear
				  FROM SSIS_CommentPlainText_Final cpt
				  JOIN      dbo.[Case] c
				  ON        cpt.RefRequistionId = c.refrequisitionid
				  JOIN dbo.commenttype ct
				  ON        cpt.[RefCommentType] = ct.code 




				  PRINT 'Case Id Comment Id Mapping - End - ' + Cast(@year AS VARCHAR)
				  PRINT GetDATE()



				PRINT 'SSIS_CommentPlainText_Final Index - Start - ' + Cast(@year AS VARCHAR)
				PRINT GetDATE()

						

						 
				CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_Final_caseid]
				ON [dbo].[SSIS_CommentPlainText_Final]
					(	caseid ASC ) ;-- with (online = on, sort_in_tempdb = on);


				PRINT 'SSIS_CommentPlainText_Final Index - End - ' + Cast(@year AS VARCHAR)
				PRINT GetDATE()


					--CREATE NONCLUSTERED  INDEX idx_CommentData_CaseId_CommentTypeId_CompName ON CommentData (caseid, commenttypeid, reflabcompname);
				  --GROUP BY  c.caseid,
				  --          ct.commenttypeid,
				  --          requisition_id,
				  --          comment_type,
				  --          comp_name
				  PRINT 'Comment Concat End -- ' + Cast(@year AS VARCHAR)
				  --PRINT 'Update Start -- '       + Cast(@year AS VARCHAR)
				  PRINT GetDATE()



		 
				  
				  PRINT 'Disable Index - Start'
				  PRINT GetDATE()

				  --ALTER INDEX IX_CaseComment_CommentTypeId ON [dbo].[CaseComment] DISABLE;
				  --ALTER INDEX IX_CaseComment_RefLabCompName ON [dbo].[CaseComment] DISABLE;

				  PRINT 'Disable Index - End'
				  PRINT GetDATE()


				  PRINT 'Update Start -- '            + Cast(@year AS VARCHAR)
				  PRINT GetDATE()

				  IF @FullLoad = 0
				  BEGIN
						--UPDATE cc
						--SET    [Text] = cpt.[Text],
						--	   [RefRequistionKey] = cpt.RefRequistionId,
						--	   [RefResultKey] = cpt.[RefResultKey],
						--	   [RefLabCompName] = cpt.[RefLabCompName],
						--	   [RefCommentType] = cpt.[RefCommentType],
						--	   updatedate = Getdate(),
						--	   updateby = USER
						--FROM   SSIS_CommentPlainText_Final CPT
						--JOIN   casecomment CC
						--ON     cc.caseid = cpt.caseid
						--AND    cc.commenttypeid = cpt.commenttypeid
						--AND    cpt.reflabcompname = cc.reflabcompname

						--WHERE CPT.[YEAR] >= @year_prev AND CPT.[YEAR] < @year


						DELETE FROM CaseComment Where exists 
						(Select 0 from [SSIS_CommentPlainText_Final] PF where
						CaseComment.CaseID = PF.CaseId AND
						CaseComment.CommentTypeId = PF.CommentTypeId AND CaseComment.RefLabCompName = PF.RefLabCompName)					 
				  END

				  SET @RowsUpdated = @RowsUpdated + @@ROWCOUNT
				  PRINT 'Update End -- '            + Cast(@year AS VARCHAR)
				  PRINT GetDATE()

				  PRINT 'Insert Start -- '          + Cast(@year AS VARCHAR)
				  PRINT GetDATE()
				  
				  --ALTER INDEX IX_CaseComment_CaseId ON [dbo].[CaseComment] DISABLE;

				  /*

					DROP INDEX if exists [dbo].[CaseComment].[IX_CaseComment_CommentTypeId];	 
					DROP INDEX if exists [dbo].[CaseComment].IX_CaseComment_CaseId; 
					DROP INDEX if exists [dbo].[CaseComment].IX_CaseComment_RefLabCompName;        
					DROP INDEX if exists [dbo].[CaseComment].IX_CaseComment_CreateDate;
		 
		 */

				  INSERT INTO [dbo].[CaseComment]
							  (
										  [CaseId] ,
										  [CommentTypeId] ,
										  [Text] ,
										  [RefRequistionKey] ,
										  [RefResultKey] ,
										  [RefLabCompName] ,
										  [RefCommentType] ,
										  [RefComponentDate],
										  [CreateDate] ,
										  [CreateBy] ,
										  [UpdateDate] ,
										  [UpdateBy]
							  )
				  SELECT [CaseId],
						 [CommentTypeId],
						 [Text],
						 RefRequistionId,
						 [RefResultKey],
						 [RefLabCompName],
						 [RefCommentType],
						 [RefComponentDate],
						 Getdate(),
						 USER,
						 NULL,
						 NULL
				  FROM   SSIS_CommentPlainText_Final CPT
				  WHERE CaseId <> 0 
				  --WHERE --CPT.[YEAR] >= @year_prev AND CPT.[YEAR] < @year AND
				  -- NOT EXISTS
						-- (
						--		SELECT 0
						--		FROM   casecomment CC
						--		WHERE  cc.caseid = cpt.caseid
						--		AND    cc.commenttypeid = cpt.commenttypeid
						--		AND    cc.reflabcompname = cpt.reflabcompname)


				  SET @year_prev = @year 
				  SET @RowsInserted = @RowsInserted + @@ROWCOUNT
				  PRINT 'Insert End -- '            + Cast(@year AS VARCHAR)
				  PRINT GetDATE()
 

			PRINT 'INDEX Creation Start'
			PRINT GetDATE()
			 

		  
			PRINT 'INDEX Creation End'
			PRINT GetDATE()
			 
			
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;

		  END try
		  BEGIN catch
			DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()			 
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
			PRINT ERROR_LINE() 
			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					0,
					@ERROR,
					@LoadTime;
		  END catch
		END
		ELSE
		BEGIN
			PRINT 'NO Records to load'
			PRINT GetDATE()
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;
		END
  END

GO