﻿/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_CommentType]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Lookup_CommentType]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT	 
	DECLARE @Table Varchar(100) = 'CommentType'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	 
	--Select * from [CommentType]
	BEGIN TRY 		
		INSERT INTO [dbo].[CommentType]
           ([ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
		   ,[ETLSource]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		SELECT 'Final', 'FINAL', 'FINAL', 'FINAL', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'FINAL')
		UNION
		SELECT 'Gross', 'GROSS', 'GROSS', 'GROSS', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'GROSS')
		UNION
		SELECT 'IntraOp', 'INTRAOP', 'INTRAOP', 'INTRAOP', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'INTRAOP')
		UNION
		SELECT 'Comment', 'COMMENT', 'COMMENT', 'COMMENT', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'COMMENT')
		UNION
		SELECT 'Synoptic', 'SYNOPTIC', 'SYNOPTIC', 'SYNOPTIC', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'SYNOPTIC')
		UNION
		SELECT 'Resident', 'RESIDENT', 'RESIDENT', 'RESIDENT', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'RESIDENT')
		UNION
		SELECT 'Addendum', 'ADDEND', 'ADDEND', 'ADDEND', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'ADDEND')
		UNION
		SELECT 'Other', 'OTHER', 'OTHER', 'OTHER', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'OTHER')
		UNION
		SELECT 'NA', 'NULL', 'NULL', 'NULL', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'NULL')
		UNION
		SELECT 'Microscopic', 'MICROSCOPIC', 'MICROSCOPIC', 'MICROSCOPIC', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'MICROSCOPIC')
		UNION
		SELECT 'Clinical', 'CLINICAL', 'CLINICAL', 'CLINICAL', 'EDV', 1, GETDATE(), User, NULL, NULL  
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CommentType] WHERE DataLabReference = 'CLINICAL')

		SET @RowsInserted = @@ROWCOUNT
		Print @RowsInserted
		--IF @RowsInserted > 0
		--BEGIN
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										1,
										'',
										@LoadTime;
		--END
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
	SELECT @EndTime=GETDATE()
	SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
