/****** Object:  StoredProcedure [P_SSIS_LoadCohortCase_PreLoad]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [P_SSIS_LoadCohortCase_PreLoad]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CohortCase_Preload'
	 
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	BEGIN TRY 

		Print 'Insert Start'		

		Truncate table dbo.CohortCase_Preload;
		Insert into dbo.CohortCase_Preload 
		Select [CohortCaseId]
           ,[CohortPatientId]
           ,[CohortId]
           ,[PatientId]
		   ,[CaseNumber]
           ,[CaseId]
           ,[IsActive]
           ,[LoadType]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy] from dbo.CohortCase WHERE IsActive = 1;

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert Ended' 
		 
 
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										'',
										@LoadTime;
		 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
	END CATCH
END
GO
