/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_CaseType]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Lookup_CaseType]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT, @RowsUpdated INT 
	DECLARE @Table Varchar(100) = 'CaseType'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--Select * from [CaseType]
	--Select * from SSIS_CaseType Where CASE_TYPE_NAME like '%AUTOPSY%'
	--Select * from SSIS_CaseType Order by CASE_TYPE_NAME
	--truncate table CaseType
	BEGIN TRY 		
		INSERT INTO [dbo].[CaseType]
           ([ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
		   ,[CaseTypeCategory]
		   ,[ReviewType]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy]
		   ,[CaseTypeInfo]
		   ,[WorklistTypeInfo]
		   ,DataLabReferenceCategory)
		SELECT CASE_TYPE_NAME, LAB_ID, ISNULL(TYPE_CASE, ''), LAB_ID, '', '', 1, GETDATE(), User, NULL, NULL,
		ISNULL(TYPE_CASE, ''), ISNULL(WORKLIST_TYPE, ''), TYPE_CASE_C from [dbo].[SSIS_CaseType] LKP
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CaseType] WHERE DataLabReference = LKP.LAB_ID)
		
		SET @RowsInserted = @@ROWCOUNT

		--select * from [dbo].[CaseType]
		--select * from [dbo].[SSIS_CaseType] WHERE LAB_ID IN (240320, 240940)

		UPDATE CT
         SET	[ShortName] = CASE_TYPE_NAME             
           ,[DESCRIPTION] = ISNULL(TYPE_CASE, '')
           ,[DataLabReference] = LAB_ID		             
           ,[UpdateDate] = GETDATE()
           ,[UpdateBy] = USER
		   ,[CaseTypeInfo] = ISNULL(TYPE_CASE, '')
		   ,[WorklistTypeInfo] = ISNULL(WORKLIST_TYPE, '')
		   ,[DataLabReferenceCategory] = TYPE_CASE_C
		FROM  [dbo].[CaseType] CT
		JOIN [dbo].[SSIS_CaseType] LKP ON CT.DataLabReference =  LKP.LAB_ID
		WHERE  [ShortName] <> CASE_TYPE_NAME OR
		[DESCRIPTION] <> ISNULL(TYPE_CASE, '') OR
		[CaseTypeInfo] <> ISNULL(TYPE_CASE, '') OR
		[WorklistTypeInfo] <> ISNULL(WORKLIST_TYPE, '') OR 
		[DataLabReferenceCategory] <> TYPE_CASE_C
		
		SET @RowsUpdated = @@ROWCOUNT
		--select * from [CaseTypeCategory]
		Update CT
		SET CaseTypeCategory = CTC.ShortName
		FROM [dbo].[CaseType] CT
		JOIN [dbo].[CaseTypeCategory] CTC ON CT.DataLabReferenceCategory = CTC.DataLabReference
		
		IF NOT EXISTS (SELECT 0 FROM [dbo].[CaseType] WHERE CODE = 'NULL')
			INSERT INTO [dbo].[CaseType]
			   ([ShortName]
			   ,[Code]
			   ,[DESCRIPTION]
			   ,[DataLabReference]
			   ,[CaseTypeCategory]
			   ,[ReviewType]
			   ,[IsActive]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
		SELECT 'NA', 'NULL', 'Not Available', -1, '', '', 1, GETDATE(), User, NULL, NULL

		-- Update [CaseType] Description or Category
		/* 
		Update CaseType Set CaseTypeCategory = '', ReviewType = ''

		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'AUTOPSY BODY'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'AUTOPSY BRAIN'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'BLOOD BANK REPORT, MAIN CAMPUS'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'BONE MARROW AKRON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Consult' Where ShortName = 'BONE MARROW CONSULT'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'BONE MARROW FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'Bone Marrow Indian River'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'BONE MARROW MAIN'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'BONE MARROW MERCY'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Outside Review' Where ShortName = 'BONE MARROW OUTSIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV ANCILLARY PATHOLOGY AKRON'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'CONV AUTOPSY AKRON'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'CONV AUTOPSY BODY'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'CONV AUTOPSY FLORIDA'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'CONV AUTOPSY MEDINA'
		Update CaseType Set CaseTypeCategory = 'Autopsy', ReviewType = 'Routine' Where ShortName = 'CONV AUTOPSY WITH NEURO'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV AVON PROCEDURE ONLY W/SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW AKRON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW AVON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW CONSULT'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW EUCLID'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW HILLCREST'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW HURON'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW LUTHERAN'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW MAIN'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'Conv Bone Marrow MC Indian River'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW MEDINA'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Outside Review' Where ShortName = 'CONV BONE MARROW OUTSIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Consult' Where ShortName = 'CONV BONE MARROW REFERENCE LAB TISSUE'
		Update CaseType Set CaseTypeCategory = 'Bone Marrow', ReviewType = 'Routine' Where ShortName = 'CONV BONE MARROW SOUTH POINTE'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'Conv Cytology CC Indian River'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Outside Review' Where ShortName = 'CONV CYTOLOGY CONSULT FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY GYN AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY GYN MAIN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY GYN REF CONVENTIONAL MAIN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY NON-GYN AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY NON-GYN FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY NON-GYN FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY NON-GYN HILLCREST'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV CYTOLOGY NON-GYN MAIN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Outside Review' Where ShortName = 'CONV CYTOLOGY OUTSIDE SLIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Outside Review' Where ShortName = 'CONV CYTOLOGY OUTSIDE SLIDE REVIEW GYN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CONV CYTOLOGY REFERENCE LAB CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV ELECTRON MICROSCOPY AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CONV FAIRVIEW CYTOLOGY CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV FAIRVIEW PROCEDURE ONLY W/SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV FLORIDA BAPTIST HOSPITAL SURGICAL ROUTINE'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV FLORIDA BIOPSY ROUTINE'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV FLORIDA CYTOLOGY FNA'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV FLORIDA FLOW CYTOMETRY'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV FLORIDA MOLECULAR DIAGNOSTICS'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV FLORIDA PROCEDURE ONLY'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV FLORIDA SOUTH MIAMI SURGICAL ROUTINE'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'Conv GI Send Out Indian River'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY AVON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY HILLCREST'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY LAKEWOOD'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY LUTHERAN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV GYN CYTOLOGY MEDINA'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV HER-2/NEU AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CONV HILLCREST CYTOLOGY CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV HILLCREST PROCEDURE ONLY W/SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV HPV DNA AKRON'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV KAROTYPE AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV LAKEWOOD CYTOLOGY FNA'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV LAKEWOOD CYTOLOGY NON-GYNECOLOGICAL'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV LAKEWOOD PROCEDURE ONLY W/ SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV MARYMOUNT PROCEDURE ONLY W/SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CONV MEDINA CYTOLOGY CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV MEDINA PROCEDURE ONLY W/SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV MISCELLANEOUS PATHOLOGY AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY AVON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY EUCLID'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY LUTHERAN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY MARYMOUNT'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY MEDINA'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CONV NON-GYN CYTOLOGY SOUTH POINTE'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV PC CYTO PROCEDURE SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV PRC CYTO REF LAB PROCEDURE SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV PRS REF LAB PROCEDURE SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV PS PROCEDURE SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV RESEARCH SURGICAL ROUTINE'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV SUREPATH PAP'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL CONSULT EUCLID'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL CONSULT FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL CONSULT FLORIDA'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL CONSULT MEDINA'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'CONV SURGICAL CONSULT REFERENCE LAB'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'CONV SURGICAL ELECTRONIC CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'Conv Surgical Indian River'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Outside Review' Where ShortName = 'CONV SURGICAL OUTSIDE SLIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'CONV SURGICAL REFERENCE LAB TISSUE'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE AKRON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE AVON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE EUCLID'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE HILLCREST'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE HURON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE LAKEWOOD'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE LUTHERAN'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE MAIN'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE MARYMOUNT'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE MEDINA'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'CONV SURGICAL ROUTINE SOUTH POINTE'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'CONV UROVYSION AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CYTOLOGY CONSULT AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CYTOLOGY CONSULT FLORIDA'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY GYN AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY GYN MAIN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY GYN MERCY'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN AKRON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN FAIRVIEW'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN HILLCREST'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'Cytology Non-Gyn Indian River'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN MAIN'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Routine' Where ShortName = 'CYTOLOGY NON-GYN MERCY'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Outside Review' Where ShortName = 'CYTOLOGY OUTSIDE SLIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'Cytology', ReviewType = 'Consult' Where ShortName = 'CYTOLOGY REFERENCE LAB CONSULT'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'FLORIDA FLOW CYTOMETRY'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'FLOW CYTOMETRY MAIN'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'Flow Cytometry, Indian River'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'PRT TECH ONLY'
		Update CaseType Set CaseTypeCategory = 'NA', ReviewType = 'NA' Where ShortName = 'PS PROCEDURE SIGNOUT'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'RESEARCH SURGICAL ROUTINE'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'SURGICAL CONSULT AKRON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'SURGICAL CONSULT FLORIDA'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'SURGICAL CONSULT MERCY'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'SURGICAL CONSULT REFERENCE LAB'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Consult' Where ShortName = 'SURGICAL ELECTRONIC CONSULT'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Outside Review' Where ShortName = 'SURGICAL OUTSIDE SLIDE REVIEW'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'SURGICAL ROUTINE AKRON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'SURGICAL ROUTINE FLORIDA WESTON'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'Surgical Routine Indian River'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'SURGICAL ROUTINE MAIN'
		Update CaseType Set CaseTypeCategory = 'Surgical Pathology', ReviewType = 'Routine' Where ShortName = 'SURGICAL ROUTINE MERCY'
		*/
		/*
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240187' OR ShortName = 'AUTOPSY BODY';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240189' OR ShortName = 'AUTOPSY BRAIN';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240129' OR ShortName = 'BONE MARROW AKRON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Consult' Where Code = '240190' OR ShortName = 'BONE MARROW CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240137' OR ShortName = 'BONE MARROW FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240951' OR ShortName = 'Bone Marrow Indian River';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '2406' OR ShortName = 'BONE MARROW MAIN';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240799' OR ShortName = 'BONE MARROW MERCY';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Outside Review' Where Code = '240191' OR ShortName = 'BONE MARROW OUTSIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240603' OR ShortName = 'CONV AUTOPSY AKRON';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240195' OR ShortName = 'CONV AUTOPSY BODY';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240324' OR ShortName = 'CONV AUTOPSY FLORIDA';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240314' OR ShortName = 'CONV AUTOPSY MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Autopsy', ReviewType = 'Routine' Where Code = '240186' OR ShortName = 'CONV AUTOPSY WITH NEURO';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240596' OR ShortName = 'CONV BONE MARROW AKRON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240130' OR ShortName = 'CONV BONE MARROW AVON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240672' OR ShortName = 'CONV BONE MARROW CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240131' OR ShortName = 'CONV BONE MARROW EUCLID';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240132' OR ShortName = 'CONV BONE MARROW FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240673' OR ShortName = 'CONV BONE MARROW FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240133' OR ShortName = 'CONV BONE MARROW HILLCREST';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240375' OR ShortName = 'CONV BONE MARROW HURON';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240134' OR ShortName = 'CONV BONE MARROW LUTHERAN';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240674' OR ShortName = 'CONV BONE MARROW MAIN';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '2401053' OR ShortName = 'Conv Bone Marrow MC Indian River';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240138' OR ShortName = 'CONV BONE MARROW MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Outside Review' Where Code = '240675' OR ShortName = 'CONV BONE MARROW OUTSIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Consult' Where Code = '240193' OR ShortName = 'CONV BONE MARROW REFERENCE LAB TISSUE';
		Update dbo.CaseType set CaseTypeCategory='Bone Marrow', ReviewType = 'Routine' Where Code = '240136' OR ShortName = 'CONV BONE MARROW SOUTH POINTE';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '2401050' OR ShortName = 'Conv Cytology CC Indian River';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Outside Review' Where Code = '240700' OR ShortName = 'CONV CYTOLOGY CONSULT FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240619' OR ShortName = 'CONV CYTOLOGY GYN AKRON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240677' OR ShortName = 'CONV CYTOLOGY GYN MAIN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240199' OR ShortName = 'CONV CYTOLOGY GYN REF CONVENTIONAL MAIN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240620' OR ShortName = 'CONV CYTOLOGY NON-GYN AKRON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240679' OR ShortName = 'CONV CYTOLOGY NON-GYN FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240680' OR ShortName = 'CONV CYTOLOGY NON-GYN FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240681' OR ShortName = 'CONV CYTOLOGY NON-GYN HILLCREST';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240682' OR ShortName = 'CONV CYTOLOGY NON-GYN MAIN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Outside Review' Where Code = '240683' OR ShortName = 'CONV CYTOLOGY OUTSIDE SLIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Outside Review' Where Code = '240196' OR ShortName = 'CONV CYTOLOGY OUTSIDE SLIDE REVIEW GYN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240684' OR ShortName = 'CONV CYTOLOGY REFERENCE LAB CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240208' OR ShortName = 'CONV FAIRVIEW CYTOLOGY CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240379' OR ShortName = 'CONV FLORIDA BAPTIST HOSPITAL SURGICAL ROUTINE';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240240' OR ShortName = 'CONV FLORIDA BIOPSY ROUTINE';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240242' OR ShortName = 'CONV FLORIDA CYTOLOGY FNA';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240378' OR ShortName = 'CONV FLORIDA SOUTH MIAMI SURGICAL ROUTINE';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240115' OR ShortName = 'CONV GYN CYTOLOGY AVON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240111' OR ShortName = 'CONV GYN CYTOLOGY FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240112' OR ShortName = 'CONV GYN CYTOLOGY HILLCREST';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240366' OR ShortName = 'CONV GYN CYTOLOGY LAKEWOOD';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240113' OR ShortName = 'CONV GYN CYTOLOGY LUTHERAN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240114' OR ShortName = 'CONV GYN CYTOLOGY MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240213' OR ShortName = 'CONV HILLCREST CYTOLOGY CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240368' OR ShortName = 'CONV LAKEWOOD CYTOLOGY FNA';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240369' OR ShortName = 'CONV LAKEWOOD CYTOLOGY NON-GYNECOLOGICAL';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240203' OR ShortName = 'CONV MEDINA CYTOLOGY CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240125' OR ShortName = 'CONV NON-GYN CYTOLOGY AVON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240121' OR ShortName = 'CONV NON-GYN CYTOLOGY EUCLID';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240122' OR ShortName = 'CONV NON-GYN CYTOLOGY LUTHERAN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240123' OR ShortName = 'CONV NON-GYN CYTOLOGY MARYMOUNT';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240120' OR ShortName = 'CONV NON-GYN CYTOLOGY MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240124' OR ShortName = 'CONV NON-GYN CYTOLOGY SOUTH POINTE';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240691' OR ShortName = 'CONV RESEARCH SURGICAL ROUTINE';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240223' OR ShortName = 'CONV SURGICAL CONSULT EUCLID';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240212' OR ShortName = 'CONV SURGICAL CONSULT FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240693' OR ShortName = 'CONV SURGICAL CONSULT FLORIDA';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240205' OR ShortName = 'CONV SURGICAL CONSULT MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240694' OR ShortName = 'CONV SURGICAL CONSULT REFERENCE LAB';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240695' OR ShortName = 'CONV SURGICAL ELECTRONIC CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Outside Review' Where Code = '240696' OR ShortName = 'CONV SURGICAL OUTSIDE SLIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240221' OR ShortName = 'CONV SURGICAL REFERENCE LAB TISSUE';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240697' OR ShortName = 'CONV SURGICAL ROUTINE AKRON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240108' OR ShortName = 'CONV SURGICAL ROUTINE AVON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240104' OR ShortName = 'CONV SURGICAL ROUTINE EUCLID';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240102' OR ShortName = 'CONV SURGICAL ROUTINE FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240698' OR ShortName = 'CONV SURGICAL ROUTINE FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240103' OR ShortName = 'CONV SURGICAL ROUTINE HILLCREST';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240377' OR ShortName = 'CONV SURGICAL ROUTINE HURON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240372' OR ShortName = 'CONV SURGICAL ROUTINE LAKEWOOD';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240105' OR ShortName = 'CONV SURGICAL ROUTINE LUTHERAN';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240699' OR ShortName = 'CONV SURGICAL ROUTINE MAIN';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240106' OR ShortName = 'CONV SURGICAL ROUTINE MARYMOUNT';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240107' OR ShortName = 'CONV SURGICAL ROUTINE MEDINA';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240109' OR ShortName = 'CONV SURGICAL ROUTINE SOUTH POINTE';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240592' OR ShortName = 'CYTOLOGY CONSULT AKRON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240231' OR ShortName = 'CYTOLOGY CONSULT FLORIDA';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240407' OR ShortName = 'CYTOLOGY GYN AKRON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '2408' OR ShortName = 'CYTOLOGY GYN MAIN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240798' OR ShortName = 'CYTOLOGY GYN MERCY';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240126' OR ShortName = 'CYTOLOGY NON-GYN AKRON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240117' OR ShortName = 'CYTOLOGY NON-GYN FAIRVIEW';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240119' OR ShortName = 'CYTOLOGY NON-GYN FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240118' OR ShortName = 'CYTOLOGY NON-GYN HILLCREST';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240952' OR ShortName = 'Cytology Non-Gyn Indian River';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '2409' OR ShortName = 'CYTOLOGY NON-GYN MAIN';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Routine' Where Code = '240797' OR ShortName = 'CYTOLOGY NON-GYN MERCY';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Outside Review' Where Code = '240197' OR ShortName = 'CYTOLOGY OUTSIDE SLIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Cytology', ReviewType = 'Consult' Where Code = '240198' OR ShortName = 'CYTOLOGY REFERENCE LAB CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240239' OR ShortName = 'RESEARCH SURGICAL ROUTINE';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240593' OR ShortName = 'SURGICAL CONSULT AKRON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240232' OR ShortName = 'SURGICAL CONSULT FLORIDA';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240811' OR ShortName = 'SURGICAL CONSULT MERCY';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240220' OR ShortName = 'SURGICAL CONSULT REFERENCE LAB';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Consult' Where Code = '240230' OR ShortName = 'SURGICAL ELECTRONIC CONSULT';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Outside Review' Where Code = '240219' OR ShortName = 'SURGICAL OUTSIDE SLIDE REVIEW';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240116' OR ShortName = 'SURGICAL ROUTINE AKRON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240110' OR ShortName = 'SURGICAL ROUTINE FLORIDA WESTON';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240953' OR ShortName = 'Surgical Routine Indian River';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240100' OR ShortName = 'SURGICAL ROUTINE MAIN';
		Update dbo.CaseType set CaseTypeCategory='Surgical Pathology', ReviewType = 'Routine' Where Code = '240796' OR ShortName = 'SURGICAL ROUTINE MERCY';

		*/

		Update CaseType Set CaseTypeCategory = 'NA' where CaseTypeCategory = ''
		Update CaseType Set ReviewType = 'NA' where ReviewType = ''

		--IF @RowsInserted > 0
		--BEGIN
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										@RowsUpdated,
										@RowsUpdated,
										1,
										'',
										@LoadTime
		--END

		
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										@RowsUpdated,
										@RowsUpdated,
										0,
										@ERROR,
										@LoadTime;

		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
