﻿/****** Object:  StoredProcedure [P_SSIS_LOAD_CaseCommentSourceInfo]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_LOAD_CaseCommentSourceInfo]
AS 
BEGIN

	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSourceInfo'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	BEGIN TRY

		truncate table [CaseCommentSourceInfo]

		DROP INDEX IF EXISTS idx_CaseCommentSourceInfo_RefRequisitionKey
		ON CaseCommentSourceInfo;

		DROP INDEX IF EXISTS idx_CaseCommentSourceInfo_CaseId
		ON CaseCommentSourceInfo;

		DROP INDEX IF EXISTS idx_CaseCommentSourceInfo_CaseNumber
		ON CaseCommentSourceInfo;

		INSERT INTO [dbo].[CaseCommentSourceInfo]
				   ([RefRequisitionKey]
				   ,[CaseId]
				   ,[CaseNumber]
				   ,[IsEpic]
				   ,[IsCopath]
				   ,[IsEpicMigrated]
				   ,[IsActive]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
		Select RefRequisitionKey, CaseId, CaseNumber,
		0, 0, 0, 1, getdate(), User, NULL, NULL from [Case]

		SET @RowsInserted = @@ROWCOUNT
 
		CREATE INDEX idx_CaseCommentSourceInfo_CaseNumber
		ON CaseCommentSourceInfo (CaseNumber);

		CREATE INDEX idx_CaseCommentSourceInfo_CaseId
		ON CaseCommentSourceInfo (CaseId);

		 Update [dbo].[CaseCommentSourceInfo]
		 set [IsEpic] = 1
		 WHERE EXISTS (Select 0 from CaseCommentEpic CC WHERE CC.CaseId = [dbo].[CaseCommentSourceInfo].CaseId)

		  Update [dbo].[CaseCommentSourceInfo]
		 set [IsEpicMigrated] = 1
		 WHERE EXISTS (Select 0 from CaseComment CC WHERE CC.CaseId = [dbo].[CaseCommentSourceInfo].CaseId)

		IF OBJECT_ID('dbo.ETLCopathCaseComment', 'U') IS NOT NULL
		BEGIN
			EXEC sp_executesql N'
				UPDATE CSI
				SET IsCoPath = 1
				FROM dbo.CaseCommentSourceInfo CSI
				WHERE EXISTS (
					SELECT 1
					FROM dbo.ETLCopathCaseComment CC
					WHERE CC.CaseNum = CSI.CaseNumber
				)';
		END

		-- select count(0) from [CaseCommentSourceInfo]  --	6921760
		-- select count(0) from [Case]  --	6921760
		--select count(0) from [CaseCommentSourceInfo] where IsEpic = 1		--	493798
		--select count(0) from [CaseCommentSourceInfo] where [IsEpicMigrated] = 1		--	6903682
		--select count(0) from [CaseCommentSourceInfo] where [IsEpicMigrated] = 0	--	18078
		--select count(0) from [CaseCommentSourceInfo] where [IsEpicMigrated] = 0	AND (IsEpic = 1 OR [IsCoPath] = 1) --	7961
		--select count(0) from [CaseCommentSourceInfo] where [IsEpicMigrated] = 0	AND (IsEpic = 1) --	7958
		--select count(0) from [CaseCommentSourceInfo] where [IsEpicMigrated] = 0	AND ([IsCoPath] = 1) --	3
		--select count(0) from [CaseCommentSourceInfo] where [IsCoPath] = 1 -- 4929432


 
			CREATE INDEX idx_CaseCommentSourceInfo_RefRequisitionKey
			ON CaseCommentSourceInfo (RefRequisitionKey);

			SET @RowsInserted = @@ROWCOUNT
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsToBeInserted,
										@RowsInserted,
										@RowsToBeUpdated,
										@RowsUpdated,
										1,
										'',
										@LoadTime;

	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
