/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_Specialty]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Lookup_Specialty]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT	 
	DECLARE @Table Varchar(100) = 'Specialty'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--Select * from [SSIS_CaseFlag]
	--Select * from [Specialty]
	 
	BEGIN TRY 		
		INSERT INTO [dbo].[Specialty]
           ([ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
		   ,[SpecialtyCategory]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		SELECT [NAME], ABBR, TITLE, CASE_FLAGS_C, 'NA', 1, GETDATE(), User, NULL, NULL  from [dbo].[SSIS_CaseFlag] LKP
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Specialty] WHERE DataLabReference = LKP.CASE_FLAGS_C)
		
		SET @RowsInserted = @@ROWCOUNT

		
		IF NOT EXISTS (SELECT 0 FROM [dbo].[Specialty] WHERE CODE = 'NULL')
			INSERT INTO [dbo].[Specialty]
			   ([ShortName]
			   ,[Code]
			   ,[DESCRIPTION]
			   ,[DataLabReference]
			   ,[SpecialtyCategory]
			   ,[IsActive]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])
			SELECT 'NA', 'NULL', 'Not Available', -1,  'NA', 1, GETDATE(), User, NULL, NULL


		UPDATE dbo.specialty set SpecialtyCategory = 'Derm' Where ShortName = '1 DERM'
		UPDATE dbo.specialty set SpecialtyCategory = 'Derm' Where ShortName = '2 DERM'
		UPDATE dbo.specialty set SpecialtyCategory = 'Derm' Where ShortName = '3 DERM'
		UPDATE dbo.specialty set SpecialtyCategory = 'Breast' Where ShortName = 'BREAST BIOPSY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Breast' Where ShortName = 'BREAST LARGE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Cardiac' Where ShortName = 'CARDIAC'
		UPDATE dbo.specialty set SpecialtyCategory = 'Consult' Where ShortName = 'CONSULT'
		UPDATE dbo.specialty set SpecialtyCategory = 'Cyto' Where ShortName = 'CYTO NON-GYN'
		UPDATE dbo.specialty set SpecialtyCategory = 'Eye' Where ShortName = 'EYE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Foreign' Where ShortName = 'FOREIGN BODY/HARDWARE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gi' Where ShortName = 'GI LARGE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gi' Where ShortName = 'GI SMALL'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gu' Where ShortName = 'GU EPATH'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gu' Where ShortName = 'GU LARGE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gu' Where ShortName = 'GU SMALL'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gyn' Where ShortName = 'GYN BIOPSY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gyn' Where ShortName = 'GYN LARGE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Gyn' Where ShortName = 'GYN PLACENTA/POC'
		UPDATE dbo.specialty set SpecialtyCategory = 'Head' Where ShortName = 'HEAD & NECK 1'
		UPDATE dbo.specialty set SpecialtyCategory = 'Head' Where ShortName = 'HEAD & NECK 2'
		UPDATE dbo.specialty set SpecialtyCategory = 'Hematology' Where ShortName = 'HEMATOLOGY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Hepatobiliary' Where ShortName = 'HEPATOBILIARY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Jmckenney' Where ShortName = 'JMCKENNEY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Lymphoma' Where ShortName = 'LYMPHOMA 1'
		UPDATE dbo.specialty set SpecialtyCategory = 'Lymphoma' Where ShortName = 'LYMPHOMA 2'
		UPDATE dbo.specialty set SpecialtyCategory = 'Medical' Where ShortName = 'MEDICAL KIDNEY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Neuro' Where ShortName = 'NEURO 1'
		UPDATE dbo.specialty set SpecialtyCategory = 'Neuro' Where ShortName = 'NEURO 2'
		UPDATE dbo.specialty set SpecialtyCategory = 'Orthopedic' Where ShortName = 'ORTHOPEDIC'
		UPDATE dbo.specialty set SpecialtyCategory = 'Pulmonary' Where ShortName = 'PULMONARY BIOPSY'
		UPDATE dbo.specialty set SpecialtyCategory = 'Pulmonary' Where ShortName = 'PULMONARY LARGE'
		UPDATE dbo.specialty set SpecialtyCategory = 'Reference' Where ShortName = 'REFERENCE GI'
		UPDATE dbo.specialty set SpecialtyCategory = 'Soft' Where ShortName = 'SOFT TISSUE'

		UPDATE dbo.specialty set SpecialtyCategory = 'Billings' Where ShortName = 'BILLINGS'
		UPDATE dbo.specialty set SpecialtyCategory = 'Breast' Where ShortName = 'Breast'
		UPDATE dbo.specialty set SpecialtyCategory = 'Hepatobiliary' Where ShortName = 'HPB Biopsy'
		UPDATE dbo.specialty set SpecialtyCategory = 'Hepatobiliary' Where ShortName = 'HPB Large'
		UPDATE dbo.specialty set SpecialtyCategory = 'Hepatobiliary' Where ShortName = 'HPB Reference'
		UPDATE dbo.specialty set SpecialtyCategory = 'Head' Where ShortName = 'Oral/Maxilofacial'
		UPDATE dbo.specialty set SpecialtyCategory = 'Pediatric' Where ShortName = 'Pediatric'
 

		UPDATE dbo.specialty set SpecialtyCategory = 'NA' Where SpecialtyCategory = ''

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		--IF @RowsInserted > 0
		--BEGIN
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										1,
										'',
										@LoadTime;
		--END
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
		THROW 50001, @ERROR, 1;

	END CATCH
END
GO
