/****** Object:  StoredProcedure [P_SSIS_Load_Staff]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Staff]
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0 
	DECLARE @RowsUpdated INT = 0 
	DECLARE @RowsToBeInserted INT  = 0 
	DECLARE @RowsToBeUpdated INT = 0 
	DECLARE @Table Varchar(100) = 'Staff'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	ALTER INDEX IX_Staff_RefEmployeeKey ON [dbo].[Staff] DISABLE;
	
	BEGIN TRY 		
 
		SELECT @RowsToBeInserted = COUNT(0) From dbo.[SSIS_Staff] LKP
		Where NOT EXISTS (Select 0 from dbo.[Staff] S where LKP.K_EMPLOYEE_KEY = S.[RefEmployeeKey])

		SELECT @RowsToBeUpdated = COUNT(0) From dbo.[SSIS_Staff] LKP
		Where EXISTS (Select 0 from dbo.[Staff] S where LKP.K_EMPLOYEE_KEY = S.[RefEmployeeKey])
		-- Cannot truncate since it is referenced in the Case Table
		--IF @FullLoad = 1
		--BEGIN
		--	TRUNCATE TABLE [dbo].[Staff]
		--END

		Print 'Update Start'
		Update S
			Set [FullName] = ISNULL(EMPLOYEE_NM, '')
			,[UserId] = ISNULL(USER_ID, '')
			,[StartDate] = EFF_FROM_DT
			,[EndDate] = EFF_TO_DT	 
			,[IsActive] = 1			   
			,[UpdateDate] = GetDate()
			,[UpdateBy] = User		 
		  
		From [dbo].[SSIS_Staff] LKP
		JOIN [dbo].[Staff] S ON  LKP.K_EMPLOYEE_KEY = S.[RefEmployeeKey]
		WHERE S.[FullName] <> ISNULL(LKP.EMPLOYEE_NM, '') OR
		S.[UserId] <> ISNULL(LKP.USER_ID, '') OR
		(LKP.EFF_FROM_DT IS NOT NULL AND S.[StartDate] <> LKP.EFF_FROM_DT) OR
		(LKP.EFF_TO_DT IS NOT NULL AND S.[EndDate] <> LKP.EFF_TO_DT)


		SELECT @RowsUpdated = @@ROWCOUNT

		Print 'Update End'

		Print 'Insert Start'
 
		INSERT INTO [dbo].[Staff]
				   ([FullName]
				   ,[UserId]
				   ,[StartDate]
				   ,[EndDate]
				   ,[RefEmployeeKey]
				   ,[IsActive]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
		SELECT ISNULL(EMPLOYEE_NM, ''), ISNULL(USER_ID, ''), EFF_FROM_DT, EFF_TO_DT, K_EMPLOYEE_KEY,  1, GETDATE(), User, NULL, NULL  from [dbo].[SSIS_Staff] LKP
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[Staff] WHERE [RefEmployeeKey] = LKP.K_EMPLOYEE_KEY)

		SET @RowsInserted = @@ROWCOUNT
		
		Print 'Insert End'
			 

		ALTER INDEX IX_Staff_RefEmployeeKey ON [dbo].[Staff] REBUILD;

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)


		--IF @RowsInserted > 0 OR @RowsToBeUpdated > 0
		--BEGIN
			EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
		--END
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									0,
									@ERROR,
									@LoadTime;

		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
