/****** Object:  StoredProcedure [P_SSIS_Load_Interpreter]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[P_SSIS_Load_Interpreter] 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0 
	DECLARE @RowsUpdated INT = 0 
	DECLARE @RowsToBeInserted INT  = 0 
	DECLARE @RowsToBeUpdated INT = 0 
	DECLARE @Table Varchar(100) = 'Interpreter'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	ALTER INDEX IX_Interpreter_CaseId ON [dbo].[Interpreter] DISABLE;
	ALTER INDEX IX_Interpreter_RefOrdKey ON [dbo].[Interpreter] DISABLE;
	ALTER INDEX IX_Interpreter_RefRequisitionKey ON [dbo].[Interpreter] DISABLE;

	BEGIN TRY

		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[Interpreter]
		END

		SELECT @RowsToBeInserted = COUNT(0) From dbo.SSIS_Interpreter S
		Where NOT EXISTS (Select 0 from dbo.[Interpreter] C where S.ORDER_ID = C.RefOrdId)

		SELECT @RowsToBeUpdated = COUNT(0) From dbo.SSIS_Interpreter S
		Where EXISTS (Select 0 from dbo.[Interpreter] C where S.ORDER_ID = C.RefOrdId)
	 
		--UPDATE Data
		Print 'Update Start'
		 
		DELETE FROM dbo.[Interpreter] 
		WHERE EXISTS (SELECT 0 FROM dbo.SSIS_Interpreter S WHERE S.ORDER_ID = dbo.[Interpreter].RefOrdId)

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End'

		Print 'Insert Start' 
		INSERT INTO [dbo].[Interpreter]
           ([CaseId]
           ,[ProcedureDescription]
           ,[ProcedureCategoryDescription]
           ,[ProcedureType]
           ,[FullName]
           ,[RefRequisitionKey]
           ,[RefOrdKey]
           ,[RefRequisitionId]
           ,[RefOrdId]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		Select C.CaseId, S.ORD_PROC_DESC, S.[PROCEDURE], S.[TYPE], S.RSLTS_INTERPRETER, NULL, NULL,
			S.REQUISITION_ID, S.ORDER_ID, 1,  GETDATE(), user, NULL, NULL 
			FROM dbo.SSIS_Interpreter S
			JOIN dbo.[Case] C on S.REQUISITION_ID = C.RefRequisitionId		  
		  -- Where NOT EXISTS (Select 0 from dbo.[Interpreter] CS where S.K_REQUISITION_KEY = CS.RefRequisitionKey AND S.K_ORD_KEY = CS.[RefOrdKey] AND CS.FullName = S.ORD_RSLTS_INTERPRETER)

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert End'

		ALTER INDEX IX_Interpreter_CaseId ON [dbo].[Interpreter] REBUILD;
		ALTER INDEX IX_Interpreter_RefOrdKey ON [dbo].[Interpreter] REBUILD;
		ALTER INDEX IX_Interpreter_RefRequisitionKey ON [dbo].[Interpreter] REBUILD;

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
	SELECT @EndTime=GETDATE()
	SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO