/****** Object:  StoredProcedure [P_SSIS_Load_Specimen]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Specimen] 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'Specimen'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	DECLARE @SpecimenStatusIdNull INT, @SpecimenDrawTypeIdNull INT, @SpecimenSourceIdNull INT, @PatientIdNull INT
	--DISABLE TRIGGER ALL ON [dbo].[Specimen];
 
	----ALTER INDEX IX_Specimen_CaseId ON [dbo].[Specimen] DISABLE;
	----ALTER INDEX IX_Specimen_RefPaitentKey ON [dbo].[Specimen] DISABLE;
	----ALTER INDEX IX_Specimen_RefRequisitionKey ON [dbo].[Specimen] DISABLE;
	----ALTER INDEX IX_Specimen_RefSpecimenKey ON [dbo].[Specimen] DISABLE;
 
 
	------DROP INDEX IF EXISTS [IX_Specimen_CaseId] ON [dbo].[Specimen]
	------DROP INDEX IF EXISTS [IX_Specimen_RefPaitentKey] ON [dbo].[Specimen]
	--DROP INDEX IF EXISTS [IX_Specimen_RefRequisitionKey] ON [dbo].[Specimen]
	--DROP INDEX IF EXISTS [IX_Specimen_RefSpecimenKey] ON [dbo].[Specimen]
 
	DROP INDEX IF EXISTS [IX_SSIS_Specimen_SPECIMEN_ID] ON [dbo].[SSIS_Specimen]
	 

	BEGIN TRY


		CREATE NONCLUSTERED INDEX [IX_SSIS_Specimen_SPECIMEN_ID] ON [dbo].[SSIS_Specimen]
		(
			[SPECIMEN_ID] ASC
		)


		SELECT @SpecimenStatusIdNull = SpecimenStatusId from dbo.SpecimenStatus Where Code = 'NULL'
		SELECT @SpecimenDrawTypeIdNull = SpecimenDrawTypeId from dbo.SpecimenDrawType Where Code = 'NULL'
		SELECT @SpecimenSourceIdNull = SpecimenSourceId from dbo.SpecimenSource Where Code = 'NULL'
		SELECT @PatientIdNull = PatientId from dbo.Patient Where RefPatientKey = 'NULL'
		
		
		 
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[Specimen]
		END

		-- Consider the records to be inserted
		SET @RowsToBeInserted = (SELECT COUNT(0) FROM SSIS_Specimen T 
								WHERE NOT EXISTS (Select 0 from dbo.[Specimen] S where T.SPECIMEN_ID = S.RefSpecimenKey))

		-- Consider the records to be updated
		SET @RowsToBeUpdated = (SELECT COUNT(0) FROM SSIS_Specimen T 
								WHERE EXISTS  (Select 0 from dbo.[Specimen] S where T.SPECIMEN_ID   = S.RefSpecimenKey))
 
 
		--UPDATE Data
		Print 'Update Start:' + CAST(getdate() as VARCHAR)
		Update SP SET  
			CaseID = C.CaseId,			
			PatientId = ISNULL( P.PatientId, @PatientIdNull),
			SpecimenStatusId = ISNULL(ST.SpecimenStatusId, @SpecimenStatusIdNull),
			SpecimenDrawTypeId = ISNULL(SD.SpecimenDrawTypeId, @SpecimenDrawTypeIdNull),
			SpecimenSourceId = ISNULL(SS.SpecimenSourceId, @SpecimenSourceIdNull),
			SpecimenNumber = S.SPEC_NUMBER_LN1,
			CollectionDate = S.SPEC_DTM_COLLECTED,
			ReceivedDate = S.SPEC_DTM_RECEIVED,
			ClosedDate = S.SPEC_CLOSED_DT,
			IsReceivedByBarcode = CASE ISNULL(RECV_BY_BARCODE_YN, '0.0000') WHEN '0.0000' THEN 0 ELSE 1 END, ---ISNULL(S.RECV_BY_BARCODE_YN, 0),
			IsActive = 1, 			
			RefRequisitionKey = S.CASE_ID,
			RefSpecimenKey = S.SPECIMEN_ID, 
			RefPatientKey = ISNULL(S.SPEC_EPT_PAT_ID, ''),
			UpdateDate = GETDATE(), 
			UpdateBy = user 
		   from dbo.[Specimen] SP
		   join dbo.SSIS_Specimen S on SP.RefSpecimenKey = S.SPECIMEN_ID
		   join dbo.[Case] C on S.CASE_ID = C.RefRequisitionId
		   left join dbo.Patient P on S.SPEC_EPT_PAT_ID = P.RefPatientKey
		   left join dbo.SpecimenStatus ST on S.SPEC_VAL_STAT_C = ST.DataLabReference
		   left join dbo.SpecimenSource SS on S.SPEC_SOURCE_C = SS.DataLabReference
		   left join dbo.SpecimenDrawType SD on S.SPEC_DRAW_TYPE_C = SD.DataLabReference		 
		WHERE SP.CaseID <> C.CaseId OR		
		   SP.PatientId <> ISNULL( P.PatientId, @PatientIdNull) OR
		   SP.SpecimenStatusId <> ISNULL(ST.SpecimenStatusId, @SpecimenStatusIdNull) OR
		   SP.SpecimenDrawTypeId <> ISNULL(SD.SpecimenDrawTypeId, @SpecimenDrawTypeIdNull) OR
		   SP.SpecimenSourceId <> ISNULL(SS.SpecimenSourceId, @SpecimenSourceIdNull) OR
		   SP.SpecimenNumber <> S.SPEC_NUMBER_LN1 OR
		   SP.CollectionDate <> S.SPEC_DTM_COLLECTED OR
		   SP.ReceivedDate <> S.SPEC_DTM_RECEIVED OR
		   SP.ClosedDate <> S.SPEC_CLOSED_DT OR
		   SP.IsReceivedByBarcode <> CASE ISNULL(RECV_BY_BARCODE_YN, '0.0000') WHEN '0.0000' THEN 0 ELSE 1 END OR		
		   SP.RefRequisitionKey <> S.CASE_ID OR
		   SP.RefSpecimenKey = S.SPECIMEN_ID OR
		   SP.RefPatientKey <> ISNULL(S.SPEC_EPT_PAT_ID, '')

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End:' + CAST(getdate() as VARCHAR)
		
		--DROP INDEX IF EXISTS [IX_Specimen_CaseId] ON [dbo].[Specimen]
		--DROP INDEX IF EXISTS [IX_Specimen_RefPaitentKey] ON [dbo].[Specimen]
		--INSERT Data
		Print 'Insert Start:' + CAST(getdate() as VARCHAR)
		INSERT INTO [dbo].[Specimen]([CaseId], PatientId, SpecimenStatusId, [SpecimenSourceId], SpecimenDrawTypeId,
		[SpecimenNumber], [CollectionDate], ReceivedDate, ClosedDate, IsReceivedByBarcode, [IsActive], 
		[RefRequisitionKey], [RefSpecimenKey],RefPatientKey, [CreateDate], [CreateBy], [UpdateDate], [UpdateBy]) 

		Select C.CaseId, ISNULL( P.PatientId, @PatientIdNull), ISNULL(ST.SpecimenStatusId, @SpecimenStatusIdNull), ISNULL(SS.SpecimenSourceId, @SpecimenSourceIdNull), 
		ISNULL(SD.SpecimenDrawTypeId, @SpecimenDrawTypeIdNull),
		S.SPEC_NUMBER_LN1, S.SPEC_DTM_COLLECTED, S.SPEC_DTM_RECEIVED, S.SPEC_CLOSED_DT, 
		CASE ISNULL(RECV_BY_BARCODE_YN, '0.0000') WHEN '0.0000' THEN 0 ELSE 1 END, --ISNULL(S.RECV_BY_BARCODE_YN, 0), 
		1, S.CASE_ID, S.SPECIMEN_ID, ISNULL(S.SPEC_EPT_PAT_ID, ''), GETDATE(), User, NULL, NULL
		   from dbo.SSIS_Specimen S
		   join dbo.[Case] C on S.CASE_ID = C.RefRequisitionId
		   left join dbo.Patient P on S.SPEC_EPT_PAT_ID = P.RefPatientKey
		   left join dbo.SpecimenStatus ST on CAST(S.SPEC_VAL_STAT_C as varchar) = ST.DataLabReference
		   left join dbo.SpecimenSource SS on CAST(S.SPEC_SOURCE_C as varchar) = SS.DataLabReference
		   left join dbo.SpecimenDrawType SD on CAST(S.SPEC_DRAW_TYPE_C as varchar) = SD.DataLabReference		 
		   Where NOT EXISTS (Select 0 from dbo.[Specimen] SP where S.SPECIMEN_ID = SP.RefSpecimenKey)

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert End:' + CAST(getdate() as VARCHAR)
		
		--ALTER INDEX IX_Specimen_CaseId ON [dbo].[Specimen] REBUILD;
		--ALTER INDEX IX_Specimen_RefPaitentKey ON [dbo].[Specimen] REBUILD;
		--ALTER INDEX IX_Specimen_RefRequisitionKey ON [dbo].[Specimen] REBUILD;
		--ALTER INDEX IX_Specimen_RefSpecimenKey ON [dbo].[Specimen] REBUILD;

		DROP INDEX IF EXISTS [IX_Specimen_CaseId] ON [dbo].[Specimen]
		DROP INDEX IF EXISTS [IX_Specimen_RefPaitentKey] ON [dbo].[Specimen]

		CREATE NONCLUSTERED INDEX [IX_Specimen_CaseId] ON [dbo].[Specimen]
		(
			[CaseId] ASC
		)
		CREATE NONCLUSTERED INDEX [IX_Specimen_RefPaitentKey] ON [dbo].[Specimen]
		(
			[RefPatientKey] ASC
		)
		DROP INDEX IF EXISTS [IX_Specimen_RefRequisitionKey] ON [dbo].[Specimen]
		CREATE NONCLUSTERED INDEX [IX_Specimen_RefRequisitionKey] ON [dbo].[Specimen]
		(
			[RefRequisitionKey] ASC
		)

		DROP INDEX IF EXISTS [IX_Specimen_RefSpecimenKey] ON [dbo].[Specimen]
		CREATE NONCLUSTERED INDEX [IX_Specimen_RefSpecimenKey] ON [dbo].[Specimen]
		(
			[RefSpecimenKey] ASC
		)

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
