/****** Object:  StoredProcedure [p_ssis_load_SpecimenOrder]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[P_SSIS_Load_SpecimenOrder]
  @FullLoad BIT = 0
AS
BEGIN

	PRINT 'START'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET nocount ON;
    DECLARE @RowsInserted      INT = 0
    DECLARE @RowsUpdated       INT = 0
    DECLARE @RowsToBeInserted  INT = 0
    DECLARE @RowsToBeUpdated   INT = 0
    DECLARE @Table             VARCHAR(100) = 'SpecimenOrder'
    DECLARE @CommentTypeIdNull INT
    DECLARE @year              INT = 0
	DECLARE @year_prev			INT = 0
    DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	PRINT 'START'	
	PRINT GetDATE()
	 
		 
	BEGIN try
	IF @FullLoad = 1
	BEGIN
		PRINT 'TRUNCATE TABLE'
		TRUNCATE TABLE [dbo].[CaseComment]
	END
	PRINT GetDATE()
	PRINT 'START - SSIS_CommentPlainText CONTAINS ROWS'
			 
	PRINT 'Indexes - SSIS Tables -- Start'
	PRINT GetDATE()

		
			 

			
	-- Create Indexes on [[SSIS_SpecimenOrder]]
	DROP INDEX
		if exists [dbo].[SSIS_SpecimenOrder].[idx_SSIS_SpecimenOrder_REQUISITION_ID];
			 
		
	DROP INDEX
				if exists [dbo].[SSIS_SpecimenOrder].[idx_SSIS_SpecimenOrder_CaseId];	 
		
	CREATE NONCLUSTERED INDEX [idx_SSIS_SpecimenOrder_REQUISITION_ID]
	ON [dbo].[SSIS_SpecimenOrder]
								(
														[REQUISITION_ID] ASC
								)
			 
			
	PRINT 'Indexes - SSIS Tables -- END'
	PRINT GetDATE()
			

	 		Update SO
			SET [CASE_ID] = C.CaseId
			FROM SSIS_SpecimenOrder SO
			JOIN [CASE] C on SO.[REQUISITION_ID] = C.RefRequisitionId

						 
			CREATE NONCLUSTERED INDEX [idx_SSIS_SpecimenOrder_CaseId]
			ON [dbo].[SSIS_SpecimenOrder]
								(
														[CASE_ID] ASC
								)
				  
			IF @FullLoad = 0
			BEGIN					 
				Truncate table SpecimenOrder			

			END


			DELETE FROM SpecimenOrder Where exists 
				(Select 0 from [SSIS_SpecimenOrder] PF where
				SpecimenOrder.CaseId = PF.[CASE_ID])

			DROP INDEX if exists [dbo].[SpecimenOrder].[IX_SpecimenOrder_CaseId];	

			SET @RowsUpdated = @RowsUpdated + @@ROWCOUNT
			PRINT 'Update End -- '            + Cast(@year AS VARCHAR)
			PRINT GetDATE()

			PRINT 'Insert Start -- '          + Cast(@year AS VARCHAR)
			PRINT GetDATE()
				  
			

			INSERT INTO [dbo].[SpecimenOrder]
				   ([CaseId]
				   ,[ComponentName]
				   ,[ComponentExternalName]
				   ,[ProcedureDesc]
				   ,[DefaultUnit]
				   ,[OrdValue]
				   ,[OrdNumValue]
				   ,[OrdLow]
				   ,[OrdHigh]
				   ,[OrdUnit]
				   ,[OrdRawValue]
				   ,[OrdRawHigh]
				   ,[OrdRawLow]
				   ,[ResultDate]
				   ,[OrderDate]
				   ,[ReviewDate]
				   ,[RefRequisitionId]
				   ,[RefSpecTestOrderId]
				   ,[RefOrderId]
				   ,[RefOrderProcId]
				   ,[RefComponentId]
				   ,[RefProcId]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
			SELECT [CASE_ID]
					,[COMP_NAME]
					,[COMP_EXTERNAL_NAME]
					,[PROC_DESC]
					,[DFLT_UNITS]
					,[ORD_VALUE]
					,[ORD_NUM_VALUE]
					,[REFERENCE_LOW]
					,[REFERENCE_HIGH]
					,[REFERENCE_UNIT]
					,[ORD_RAW_VALUE]
					,[RAW_LOW]
					,[RAW_HIGH]
					,[RESULT_DATE]					
					,[ORDER_INST]
					,[REVIEW_TIME]
					,[REQUISITION_ID]
					,[SPEC_TST_ORDER_ID]
					,[ORDER_ID]
					,[ORDER_PROC_ID]
					,[COMPONENT_ID]
					,[PROC_ID]
					,getdate()
					,USER
					,NULL
					,NULL				  
			FROM [dbo].[SSIS_SpecimenOrder]
		 
		  
     
	PRINT 'INDEX Creation Start'
	PRINT GetDATE()	 
        CREATE NONCLUSTERED INDEX [IX_SpecimenOrder_CaseId] ON [dbo].[SpecimenOrder]
		(
			CaseId ASC
		)
	PRINT 'INDEX Creation End'
	PRINT GetDATE()



	Update SO
			SET CaseId = C.CaseId
			FROM SpecimenOrder SO
			JOIN [CASE] C on SO.RefRequisitionId = C.RefRequisitionId

	
	 
	SELECT @EndTime=GETDATE()
	SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

	EXEC dbo.P_SSIS_LogMainTable @Table,
			@RowsToBeInserted,
			@RowsInserted,
			@RowsToBeUpdated,
			@RowsUpdated,
			1,
			'',
			@LoadTime;

	END try
	BEGIN catch
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		PRINT ERROR_LINE() 
		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsToBeInserted,
				@RowsInserted,
				@RowsToBeUpdated,
				@RowsUpdated,
				0,
				@ERROR,
				@LoadTime;
	END catch
		
END
		 
 
GO