/****** Object:  StoredProcedure [P_SSIS_Load_SynopticCommentSpecimenText]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_SynopticCommentSpecimenText] 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSynopticText'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE()

	DROP INDEX IF EXISTS [IX_SSIS_CommentSynopticText_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticText]
	
  

	BEGIN TRY

	 
		CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticText_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticText]
		(
			SYNOPTIC_ID ASC
		)
		 
		
		 
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[CaseCommentSynopticText]
		END

		-- Consider the records to be inserted
		
		SET @RowsToBeInserted = (SELECT COUNT(0) FROM [SSIS_CommentSynopticText] SYN
					WHERE NOT EXISTS ( SELECT 0 FROM 
			[dbo].[CaseCommentSynopticText] SYNText WHERE SYN.SYNOPTIC_ID <> SYNText.SynopticId  ) )
		
		
		SET @RowsToBeUpdated = (SELECT COUNT(0) FROM [SSIS_CommentSynopticText] SYN
					WHERE NOT EXISTS ( SELECT 0 FROM 
			[dbo].[CaseCommentSynopticText] SYNText WHERE SYN.SYNOPTIC_ID = SYNText.SynopticId  ) )
 

		--UPDATE Data
		Print 'Update Start'	 

		 
			DELETE FROM [dbo].[CaseCommentSynopticText]
			WHERE EXISTS (SELECT 0 FROM [dbo].[SSIS_CommentSynopticText] SSISText WHERE 
			SSISText.SYNOPTIC_ID = [dbo].[CaseCommentSynopticText].SynopticId)


			DROP INDEX IF EXISTS [IX_CaseCommentSynopticText_SynopticId] ON [dbo].[CaseCommentSynopticText]
			DROP INDEX IF EXISTS [IX_CaseCommentSynopticText_HlvId] ON [dbo].[CaseCommentSynopticText]

			

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End'
			 	 
		

		--INSERT Data
		Print 'Insert Start'

		INSERT INTO [dbo].[CaseCommentSynopticText]
           ([SynopticId]
           ,[Name]  
           ,[ResultId]
           ,[HlvId]
           ,[DataType]
           ,[ContextName]
           ,[ContexHierarchy]
           ,[ValueLine]
           ,[Level1]
           ,[Level2]
           ,[Level3]
           ,[Level4]
           ,[Level5]
           ,[Level6]
           ,[ElementName]
           ,[ElementValue]
           ,[SynopticKey]
           ,[ElementComment]
           ,[CommentLine]
		   ,[CommentSequence]
           ,[RefSynopticKey]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])		 
		select SYN.SYNOPTIC_ID SynopticId,
			--S.CaseId, S.SpecimenId,
			SYNOPTIC_NAME [Name], RECORD_ID_NUMERIC ResultId, HLV_ID HlvId, ISNULL(DATA_TYPE_C, 0) DataType, ISNULL(CONTEXT_NAME, '')  ContextName, 
			ISNULL(Concept_Hierarchy, '') ContexHierarchy, ELEM_VALUE_LINE ValueLine,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 1) Level_1,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 2) Level_2,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 3) Level_3,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 4) Level_4,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 5) Level_5,
			[dbo].[F_Split](ISNULL(Concept_Hierarchy, ''), '>', 6) Level_6,
			ISNULL(ELEMENT_ID, '')  ElementName, ISNULL(SMRTDTA_ELEM_VALUE, '')  ElementValue, SYNOPTIC_ID SynopticKey,
			SMRTDTA_ELEM_DESC ElementComment, ELEM_DESC_LINE CommentLine, 
			RANK_SYNOPTIC,
			--SYN_CASE.CASE_NUM CaseNum, SYN_CASE.SPECIMEN_NUM SpecimenNun, 
			SYNOPTIC_ID RefSynopticKey, 
			--K_SPECIMEN_KEY RefSpecimenKey, K_REQUISITION_KEY RefRequisitionKey,
			getdate(), USER, NULL UpdateDate, NULL UpdateBy
			from [dbo].[SSIS_CommentSynopticText] SYN 
			  

		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @RowsInserted - @RowsUpdated
		Print 'Insert End'
		

		--Update CS
		--Set CommentSequence =   CS_Seq.RANK_SYNOPTIC
		--FROM CaseCommentSynopticText CS
		--JOIN (SELECT SynopticId, HlvId, RANK() OVER (PARTITION BY SynopticId, [ValueLine] ORDER BY HlvId ASC) RANK_SYNOPTIC FROM CaseCommentSynopticText) CS_Seq
		--on CS.SynopticId = CS_Seq.SynopticId AND CS.HlvId = CS_Seq.HlvId


 
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticText_SynopticId] ON [dbo].[CaseCommentSynopticText]
		(
			[SynopticId] ASC
		)

		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticText_HlvId] ON [dbo].[CaseCommentSynopticText]
		(
			[HlvId] ASC
		)
 
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime) 
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
