/****** Object:  StoredProcedure [P_SSIS_Load_Lookup_CaseTypeCategory]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_Lookup_CaseTypeCategory]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT	 
	DECLARE @Table Varchar(100) = 'CaseTypeCategory'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	--Select * from SSIS_PatientRace
	--Select * from [Race]
	BEGIN TRY 		
	 

		INSERT INTO [dbo].[CaseTypeCategory]
           ([ShortName]
           ,[Code]
           ,[DESCRIPTION]
           ,[DataLabReference]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])		 
		SELECT [NAME], ABBR, TITLE, TYPE_CASE_C, 1, GETDATE(), User, NULL, NULL  from [dbo].[SSIS_CaseTypeCategory] LKP
		WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CaseTypeCategory] WHERE DataLabReference = LKP.TYPE_CASE_C)
		SET @RowsInserted = @@ROWCOUNT

		
		IF NOT EXISTS (SELECT 0 FROM [dbo].[CaseTypeCategory] WHERE CODE = 'NULL')
			INSERT INTO [dbo].[CaseTypeCategory]
			   ([ShortName]
			   ,[Code]
			   ,[DESCRIPTION]
			   ,[DataLabReference]
			   ,[IsActive]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy])		 
			SELECT 'NA', 'NULL', 'Not Available', -1, 1, GETDATE(), User, NULL, NULL

		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		--select * from [CaseTypeCategory]
		UPDATE [CaseTypeCategory]
		SET ShortName = 'Surgical Pathology' WHERE ShortName = 'Surgical Pathology'
		UPDATE [CaseTypeCategory]
		SET ShortName = 'Bone Marrow' WHERE ShortName = 'Bone Marrow Pathology'
		UPDATE [CaseTypeCategory]
		SET ShortName = 'Cytology' WHERE ShortName = 'Medical Cytology'
		UPDATE [CaseTypeCategory]
		SET ShortName = 'Cytology' WHERE ShortName = 'Gynecologic Cytology'
		--UPDATE [CaseTypeCategory]
		--SET ShortName = 'Autopsy' WHERE ShortName = 'Autopsy'
		--UPDATE [CaseTypeCategory]
		--SET ShortName = 'Flow Cytometry' WHERE ShortName = 'Flow Cytometry'
	
		--IF @RowsInserted > 0
		--BEGIN
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										1,
										'',
										@LoadTime;
		--END
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
		THROW 50001, @ERROR, 1;

	END CATCH
END
GO
