/****** Object:  StoredProcedure [P_SSIS_Load_CaseCommentSynopticReportParseData]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE PIRO
--GO
CREATE OR ALTER PROCEDURE P_SSIS_Load_CaseCommentSynopticReportParseData
@FullLoad INT = 0
AS 
BEGIN

	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSynopticReportData'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	BEGIN TRY
		IF @FullLoad = 1
		BEGIN
			Truncate Table CaseCommentSynopticReportData
						Update CaseCommentSynopticSpecimen set IsParsed = 0

		END
		DECLARE @SynId INT
		DECLARE @synoptic_rep TABLE([SynopticId] INT, [CaseId] INT, CaseNumber VARCHAR(1000),
		[Level] INT, [Key] VARCHAR(1000) , [Value] VARCHAR(1000), TextId INT, CommentId INT,
		Level1 VARCHAR(1000), Level2 VARCHAR(1000), Level3 VARCHAR(1000), Level4 VARCHAR(1000), Level5 VARCHAR(1000), Level6 VARCHAR(1000), 
		ElementValue VARCHAR(1000), Comment VARCHAR(1000), 
		CommentSequence INT, NewCommentSequence DECIMAL(18,4))


		SET @RowsInserted = (SELECT count(0) from CaseCommentSynopticSpecimen Where IsParsed = 0 OR IsParsed IS NULL)

		DECLARE cursor_synoptic_rep CURSOR FOR
		Select  SynopticId from CaseCommentSynopticSpecimen 
		Where IsParsed = 0 OR IsParsed IS NULL
 
		-- open cursor
		OPEN cursor_synoptic_rep

		-- loop through a cursor
		FETCH NEXT FROM cursor_synoptic_rep INTO @SynId	 
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF NOT EXISTS (Select 0 FROM CaseCommentSynopticReportData Where SynopticId = @SynId)
			BEGIN
				Delete from @synoptic_rep;

				INSERT INTO @synoptic_rep
				EXEC dbo.[P_CaseCommentSynopticReport] @SynopticId = @SynId

				INSERT INTO CaseCommentSynopticReportData
				Select R.*, GETDATE(), USER, NULL, NULL from @synoptic_rep R;

				Update CaseCommentSynopticSpecimen
				Set IsParsed = 1 Where SynopticId = @SynId
			END
			FETCH NEXT FROM cursor_synoptic_rep INTO @SynId;
		END;
 
		-- close and deallocate cursor
		CLOSE cursor_synoptic_rep;
		DEALLOCATE cursor_synoptic_rep;


		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsToBeInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;

	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH

END
GO