/****** Object:  StoredProcedure [P_SSIS_Load_CaseCommentRTF]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE dbo.P_SSIS_Load_CaseCommentRTF
@FullLoad BIT = 0
AS
BEGIN
		
		DECLARE @RowsInserted INT, @RowsUpdated INT, @CommentTypeIdNull INT
		DECLARE @Table Varchar(100) = 'CaseCommentEpic';

		DECLARE @EndTime datetime
		DECLARE @StartTime datetime, @LoadTime INT
		SELECT @StartTime=GETDATE() 


		BEGIN TRY 
			IF @FullLoad = 1
			BEGIN
				TRUNCATE TABLE [dbo].[CaseCommentEpic]
			END

			--DROP INDEX IF EXISTS [idx_CaseCommentEpic_CaseId]
			--ON [dbo].[CaseCommentEpic];				
	
			 

			--Clear and create index on SSIS_CommentRTFText
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_CommentType]
			ON dbo.SSIS_CommentRTFText;
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_RESULT_LINE]
			ON dbo.SSIS_CommentRTFText;
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_REQUISITION_ID]
			ON dbo.SSIS_CommentRTFText;	
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_RESULT_ID]
			ON dbo.SSIS_CommentRTFText;	
			
 
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_CommentType] ON [dbo].[SSIS_CommentRTFText]
			(
				[COMMENT_TYPE] ASC
			)
 
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_RESULT_LINE] ON [dbo].[SSIS_CommentRTFText]
			(
				RESULT_ID ASC,
				LINE_RES_SPE ASC
			)
 
	
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_REQUISITION_ID] ON [dbo].[SSIS_CommentRTFText]
			(
				[REQUISITION_ID] ASC
			) 

 
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_RESULT_ID] ON [dbo].[SSIS_CommentRTFText]
			(
				[RESULT_ID] ASC
			) 


			

	
			DROP INDEX IF EXISTS idx_SSIS_CommentRTFText_FINAL_RefRequisitionKey
			ON dbo.SSIS_CommentRTFText_FINAL;

			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_FINAL_RefRequisitionKey_OrdKey_SeqNum]
			ON dbo.SSIS_CommentRTFText_FINAL;

			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_FINAL_K_REQUISITION_KEY]
			ON dbo.SSIS_CommentRTFText_FINAL;
			

			--TRUNCATE TABLE dbo.SSIS_CommentRTFText_FINAL	


						 

			SELECT @CommentTypeIdNull = CommentTypeId from dbo.CommentType Where Code = 'NULL'
			
		
			Print 'Temp data Started' 
			PRINT GETDATE();


			WITH CTE AS
			(
				Select *,
				RANK() OVER (PARTITION BY REQUISITION_ID, COMPONENT_ID, LINE_RTF_CMT, LINE_RES_SPE, SPECIMENS_ID 
				ORDER BY RESULT_ID DESC, LINE_RES_SPE DESC) AS RANK_RES_SPECIMENS_2 
				FROM SSIS_CommentRTFText 
			)
			UPDATE CTE
			SET RANK_RES_SPECIMENS = RANK_RES_SPECIMENS_2;


			--INSERT INTO dbo.SSIS_CommentRTFText_FINAL		 
			--	SELECT [CaseCommentsRTFId]
			--		  ,[K_ORD_KEY]
			--		  ,[ORD_ID]
			--		  ,[ORD_RSLT_DTTM]
			--		  ,[CONTACT_DATE_REAL]
			--		  ,[ORD_RSLT_COMP_NM]
			--		  ,[LINE_SEQ_NUM]
			--		  ,[LINE]
			--		  ,[ROW_NUM]
			--		  ,[RTF_VAL_START_LINE]
			--		  ,[RTF_VAL_END_LINE]
			--		  ,[CONTACT_DT]
			--		  ,[RTF_VAL_CMT]
			--		  ,[K_REQUISITION_KEY]
			--		  ,[REQUISITION_ID]
			--		  ,[REC_NUM]
			--		  ,[CommentTypeId]
			--		  ,CONVERT(VARCHAR, [K_REQUISITION_KEY]) + '.'
			--		  ,RANK_NUM
			--		  ,ROW_NUM_NEW
			--		  FROM (
			--	select *,  
			--		ROW_NUMBER() Over(PARTITION BY  K_REQUISITION_KEY, K_ORD_KEY, LINE_SEQ_NUM, LINE  
			--					ORDER BY  ROW_NUM  ASC) RANK_NUM,
			--		ROW_NUMBER() Over(PARTITION BY  K_REQUISITION_KEY, K_ORD_KEY, LINE_SEQ_NUM  
			--					ORDER BY  LINE  ASC) ROW_NUM_NEW
			--	from dbo.[SSIS_CommentRTFText] --WHERE K_REQUISITION_KEY = -999999999993340281
			--	) DAT WHERE RANK_NUM  = 1;

			--CREATE INDEX idx_SSIS_CommentRTFText_FINAL_RefRequisitionKey 
			--on dbo.SSIS_CommentRTFText_FINAL(RefRequisitionKey);


			--CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_FINAL_K_REQUISITION_KEY] ON [dbo].[SSIS_CommentRTFText_FINAL]
			--(
			--	[K_REQUISITION_KEY] ASC
			--) 

			--CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_FINAL_RefRequisitionKey_OrdKey_SeqNum] ON [dbo].[SSIS_CommentRTFText_FINAL]
			--(
			--	[K_ORD_KEY] ASC,
			--	[K_REQUISITION_KEY] ASC,
			--	[LINE_SEQ_NUM] ASC
			--)

			Print 'Temp data Ended' ;
			PRINT GETDATE();
		 
			 --select count(distinct K_ORD_KEY) from dbo.SSIS_CommentRTFText --598208
			 --select count(distinct K_REQUISITION_KEY) from dbo.SSIS_CommentRTFText --674772
			 --select count(0) from (
			 -- select distinct K_ORD_KEY, K_REQUISITION_KEY from dbo.SSIS_CommentRTFText) DAT --680342

			 -- select K_REQUISITION_KEY from (
			 -- select distinct K_ORD_KEY, K_REQUISITION_KEY from dbo.SSIS_CommentRTFText) DAT
			 -- group  by K_REQUISITION_KEY having count(0) > 1


			Print 'Update Started';
			PRINT GETDATE();
			 
			--Update CE
			--SET		 
			--		[Text] = DAT.RTF_VAL_CMT_All
			--		,[NumberOfLines] = DAT.NoOfLines
			--		,[RefRequisitionKey] = DAT.REQUISITION_ID
			--		,[RefOrdKey] = DAT.ORDER_ID
			--		,[RefLabCompName] = DAT.COMP_NAME
			--		,[RefOrdResultDate] = DAT.CONTACT_DATE
			--		,[RefContactDate] = DAT.CONTACT_DATE_REAL
			--		,[RefRecNum] = RES_ORDER_ID
			--		,[UpdateDate] = GETDATE()
			--		,[UpdateBy] = USER
			--		FROM (
			--		 SELECT REQUISITION_ID, COMMENT_TYPE, COMP_NAME,
			--				 STRING_AGG(RTF_VAL_CMT, ', ') WITHIN GROUP (ORDER BY LINE_RTF_CMT) AS RTF_VAL_CMT_All,
			--				 count(0) NoOfLines, MAX(ORDER_ID) ORDER_ID,  MAX(CONTACT_DATE) CONTACT_DATE, MAX(RES_ORDER_ID) RES_ORDER_ID,
			--				 MAX(CONTACT_DATE_REAL) CONTACT_DATE_REAL
			--			FROM SSIS_CommentRTFText
			--			WHERE --REQUISITION_ID = 44012972720  AND 
			--			RANK_RES_SPECIMENS = 1 
			--			GROUP BY REQUISITION_ID, COMMENT_TYPE, COMP_NAME 
			--		) DAT
			--	LEFT JOIN CommentType CT on DAT.COMMENT_TYPE = CT.CODE
			--	JOIN [CASE] C on DAT.REQUISITION_ID = C.RefRequisitionId
			--	JOIN [dbo].[CaseCommentEpic] CE ON C.CaseId = CE.CaseId AND CT.CommentTypeId = CE.CommentTypeId
			--		AND DAT.COMP_NAME = CE.RefLabCompName


			DELETE FROM CaseCommentEpic Where exists 
						(Select 0 from [SSIS_CommentRTFText] RTF where
						CaseCommentEpic.[RefRequisitionKey] = RTF.REQUISITION_ID AND
						CaseCommentEpic.RefLabCompName = RTF.COMP_NAME)

			SET @RowsUpdated = @@ROWCOUNT
		
			Print 'Update Ended'
			PRINT GETDATE()


			Print 'Insert Started';
			PRINT GETDATE();
		
			INSERT INTO [dbo].[CaseCommentEpic]
					   ([CaseId]
					   ,[CommentTypeId]
					   ,[Text]
					   ,[NumberOfLines]
					   ,[RefRequisitionKey]
					   ,[RefOrdKey]
					   ,[RefLabCompName]
					   ,[RefOrdResultDate]
					   ,[RefContactDate]
					   ,[RefRecNum]
					   ,[CreateDate]
					   ,[CreateBy]
					   ,[UpdateDate]
					   ,[UpdateBy])
				Select C.CaseId
					,ISNULL(CT.CommentTypeId, @CommentTypeIdNull)
					,DAT.RTF_VAL_CMT_All
					,DAT.NoOfLines
					,DAT.REQUISITION_ID
					,DAT.ORDER_ID					 
					,DAT.COMP_NAME
					,DAT.CONTACT_DATE
					,DAT.CONTACT_DATE_REAL
					,DAT.RES_ORDER_ID
					,GETDATE()
					,USER
					,NULL,
					NULL
					FROM (
					 SELECT REQUISITION_ID, COMMENT_TYPE, COMP_NAME,
							 STRING_AGG(RTF_VAL_CMT, ', ') WITHIN GROUP (ORDER BY LINE_RTF_CMT) AS RTF_VAL_CMT_All,
							 count(0) NoOfLines, MAX(ORDER_ID) ORDER_ID,  MAX(CONTACT_DATE) CONTACT_DATE, MAX(RES_ORDER_ID) RES_ORDER_ID,
							  MAX(CONTACT_DATE_REAL) CONTACT_DATE_REAL
						FROM SSIS_CommentRTFText
						WHERE --REQUISITION_ID = 44012972720  AND 
						RANK_RES_SPECIMENS = 1 
						GROUP BY REQUISITION_ID, COMMENT_TYPE, COMP_NAME 
					) DAT
				LEFT JOIN CommentType CT on DAT.COMMENT_TYPE = CT.CODE
				JOIN [CASE] C on DAT.REQUISITION_ID = C.RefRequisitionId
				WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CaseCommentEpic] CE WHERE C.CaseId = CE.CaseId AND CT.CommentTypeId = CE.CommentTypeId
					AND DAT.COMP_NAME = CE.RefLabCompName)

			SET @RowsInserted = @@ROWCOUNT
		
			Print 'Insert Ended'
			PRINT GETDATE()
				--CREATE INDEX [idx_CaseCommentEpic_CaseId] ON [dbo].[CaseCommentEpic]
				--(
				--	[CaseId] ASC
				--);
			SET @RowsInserted = @@ROWCOUNT
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
											@RowsInserted,
											@RowsInserted,
											0,
											0,
											1,
											'',
											@LoadTime;
		END TRY 
		BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END


GO