/****** Object:  StoredProcedure [P_SSIS_LoadCohortCase_Delta]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE dbo.P_SSIS_LoadCohortCase_Delta
	@cohortId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CohortCase_Delta'
	 
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	BEGIN TRY 

		If @cohortId = 0
		BEGIN
			Truncate table [dbo].[CohortCase_Delta]

			Print 'Insert Start'
			INSERT INTO [dbo].[CohortCase_Delta]
			Select [CohortCaseId]
				   ,[CohortPatientId]
				   ,[CohortId]
				   ,[PatientId]
				   ,[CaseNumber]
				   ,[CaseId]
				   ,[IsActive]
				   ,[LoadType]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy], 'I' from 
			[dbo].[CohortCase] CC 
			Where not exists (Select 0 FROM
								[dbo].[CohortCase_Preload] CP
								Where CC.CohortId = CP.CohortId AND CC.CohortPatientId = CP.CohortPatientId 
								AND CC.CaseId = CP.CaseId AND CP.IsActive = 1 AND CC.LoadType = 'P')
			AND CC.IsActive = 1
			AND CC.LoadType = 'P'
			UNION
			Select [CohortCaseId]
				   ,[CohortPatientId]
				   ,[CohortId]
				   ,[PatientId]
				   ,[CaseNumber]
				   ,[CaseId]
				   ,[IsActive]
				   ,[LoadType]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy], 'I' from 
			[dbo].[CohortCase] CC 
			Where not exists (Select 0 FROM
								[dbo].[CohortCase_Preload] CP
								Where CC.CohortId = CP.CohortId
								AND CC.CaseId = CP.CaseId AND CP.IsActive = 1 AND CC.LoadType = 'C')
			AND CC.IsActive = 1
			AND CC.LoadType = 'C'

			SET @RowsInserted = @@ROWCOUNT
			Print 'Insert Ended' 

			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsInserted,
					@RowsInserted,
					@RowsUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;

		END
		ELSE
		BEGIN
			Delete from [dbo].[CohortCase_Delta] Where CohortId = @cohortId

			 
			INSERT INTO [dbo].[CohortCase_Delta]
			Select [CohortCaseId]
			   ,[CohortPatientId]
			   ,[CohortId]
			   ,[PatientId]
			   ,[CaseNumber]
			   ,[CaseId]
			   ,[IsActive]
			   ,[LoadType]
			   ,[CreateDate]
			   ,[CreateBy]
			   ,[UpdateDate]
			   ,[UpdateBy], 'I' from 
			[dbo].[CohortCase] Where CohortId = @cohortId  AND IsActive = 1
			
		END	 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		PRINT ERROR_LINE() 
		EXEC dbo.P_SSIS_LogMainTable @Table,
				@RowsInserted,
				@RowsInserted,
				@RowsUpdated,
				@RowsUpdated,
				0,
				@ERROR,
				@LoadTime;
	END CATCH
END
GO

 