/****** Object:  StoredProcedure [P_SSIS_Load_MainTables]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE OR ALTER PROCEDURE [dbo].[P_SSIS_Load_MainTables] 
AS
BEGIN 

 

	EXEC dbo.P_SSIS_LOAD_CaseCommentSourceInfo;

	EXEC dbo.P_SSIS_CaseAnnotation;

	EXEC dbo.P_SSIS_LoadCaseCommentSolr;
	
	

	EXEC dbo.P_SSIS_LoadCohortCase_PreLoad ;

	EXEC dbo.P_SSIS_LoadCaseSolr_PreLoad;
	 
	EXEC dbo.P_SSIS_LoadCaseSolr;
	
	EXEC dbo.P_SSIS_LoadCaseSolr_Delta;

	EXEC dbo.P_SSIS_LoadCaseStaffSolr;

	EXEC dbo.P_SSIS_LoadCaseStaffSolr_Delta;

	EXEC dbo.P_SSIS_LoadCaseSuggestionSolr_Delta;

	EXEC dbo.P_SSIS_LoadCohortCase_Delta @cohortId=0;
	

	 
END


GO