/****** Object:  StoredProcedure [P_SSIS_Load_SynopticCommentSpecimenTextComment]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [P_SSIS_Load_SynopticCommentSpecimenTextComment] 
@FullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSynopticTextComment'

	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 

	DROP INDEX IF EXISTS [IX_SSIS_CommentSynopticTextComment_HLV_ID] ON [dbo].[SSIS_CommentSynopticTextComment]
 
  

	BEGIN TRY

	 
		CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticTextComment_HLV_ID] ON [dbo].[SSIS_CommentSynopticTextComment]
		(
			HLV_ID ASC
		)
		 
		
		 
		IF @FullLoad = 1
		BEGIN
			TRUNCATE TABLE [dbo].[SSIS_CommentSynopticTextComment]
		END

		-- Consider the records to be inserted
		SET @RowsToBeInserted = (SELECT COUNT(0) FROM [SSIS_CommentSynopticTextComment] SYN
					WHERE NOT EXISTS ( SELECT 0 FROM 
			[dbo].[CaseCommentSynopticTextComment] SYNText WHERE SYN.HLV_ID <> SYNText.HLVID  ) )
		
		
		SET @RowsToBeUpdated = (SELECT COUNT(0) FROM [SSIS_CommentSynopticTextComment] SYN
					WHERE NOT EXISTS ( SELECT 0 FROM 
			[dbo].[CaseCommentSynopticTextComment] SYNText WHERE SYN.HLV_ID = SYNText.HLVID  ) )

		--UPDATE Data
		Print 'Update Start'	 

			DELETE FROM [dbo].[CaseCommentSynopticTextComment]
			WHERE EXISTS (SELECT 0 FROM [dbo].[SSIS_CommentSynopticTextComment] SSISTextComment WHERE 
			SSISTextComment.HLV_ID = [dbo].[CaseCommentSynopticTextComment].HlvId)
		 
			DROP INDEX IF EXISTS [IX_CaseCommentSynopticTextComment_HlvId] ON [dbo].[CaseCommentSynopticTextComment]
			DROP INDEX IF EXISTS [IX_CaseCommentSynopticTextComment_SynopticId] ON [dbo].[CaseCommentSynopticTextComment]

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update End'
			 	 
		

		--INSERT Data
		Print 'Insert Start'

		INSERT INTO [dbo].[CaseCommentSynopticTextComment]
           ([SynopticId]
           ,[HlvId]
		   ,[Line]
           ,[Comment]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy])
		select  
			CC.SynopticId, SYN.HLV_ID, SYN.LINE, SYN.CURRENT_COMMENT, 
			getdate(), USER, NULL UpdateDate, NULL UpdateBy
			from [dbo].[SSIS_CommentSynopticTextComment] SYN 
			LEFT JOIN dbo.CaseCommentSynopticText CC on 
			SYN.HLV_ID = CC.HlvId
		 

		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @RowsInserted - @RowsUpdated
		Print 'Insert End'

		
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticTextComment_HlvId] ON [dbo].[CaseCommentSynopticTextComment]		 
		(
			[HlvId] ASC
		)

		CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticTextComment_SynopticId] ON [dbo].[CaseCommentSynopticTextComment]		 
		(
			[SynopticId] ASC
		)
 
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;
		THROW 50001, @ERROR, 1;
	END CATCH
END
GO
