/****** Object:  StoredProcedure [p_ssis_load_casecommentplain]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.P_SSIS_Load_CaseCommentPlain
  @FullLoad BIT = 0
AS
  BEGIN

	PRINT 'START'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET nocount ON;
    DECLARE @RowsInserted      INT = 0
    DECLARE @RowsUpdated       INT = 0
    DECLARE @RowsToBeInserted  INT = 0
    DECLARE @RowsToBeUpdated   INT = 0
    DECLARE @Table             VARCHAR(100) = 'CaseComment'
    DECLARE @CommentTypeIdNull INT
    DECLARE @year              INT
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE()

    IF EXISTS
    (
           SELECT 0
           FROM   [dbo].[SSIS_CommentPlainText])
    BEGIN
		  PRINT 'START'	
		  DECLARE @COMMENTDATA TABLE
			(
				[CaseId] [INT] NOT NULL,
				[CommentTypeId] [INT] NOT NULL,
				[Text] [VARCHAR](max) NOT NULL,
				[RefRequistionKey] [VARCHAR](50) NOT NULL,
				[RefResultKey] [VARCHAR](50) NOT NULL,
				[RefLabCompName] [VARCHAR](100) NOT NULL,
				[RefCommentType] [VARCHAR](100) NULL
			)
		  --ALTER INDEX IX_CaseComment_CaseId ON [dbo].[CaseComment] DISABLE;
		  --ALTER INDEX IX_CaseComment_CaseId_CommentTypeId ON [dbo].[CaseComment] DISABLE;
		  --ALTER INDEX IX_CaseComment_RefLabCompName ON [dbo].[CaseComment] DISABLE;
		  --ALTER INDEX IX_CaseComment_RefRequistionKey ON [dbo].[CaseComment] DISABLE;
		  --ALTER INDEX IX_CaseComment_RefResultKey ON [dbo].[CaseComment] DISABLE;
		  BEGIN try
			IF @FullLoad = 1
			BEGIN
				PRINT 'TRUNCATE TABLE'
				TRUNCATE TABLE [dbo].[CaseComment]
			END
			PRINT 'START - SSIS_CommentPlainText CONTAINS ROWS'
			/*
			-- Create Indexes on [SSIS_CommentPlainText]
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_ID];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_RESULT_ID];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CommentType];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CompName];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE];
			DROP INDEX
				if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp];
		
		
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_ID]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[REQUISITION_ID] ASC
									  )
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_RESULT_ID]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[RESULT_ID] ASC
									  )
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CommentType]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[COMMENT_TYPE] ASC
									  )
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CompName]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																[COMP_NAME] ASC
									  )
			CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																requisition_id ASC,
																component_id ASC,
																group_line ASC,
																value_line ASC
									  )
			   CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp]
			ON [dbo].[SSIS_CommentPlainText]
									  (
																requisition_id ASC,
																[COMMENT_TYPE] ASC,
																comp_name ASC
                                                           
									  )
			*/
			SELECT @CommentTypeIdNull = commenttypeid
			FROM   dbo.commenttype
			WHERE  code = 'NULL'
			SELECT @RowsToBeInserted = Count(0)
			FROM   dbo.ssis_commentplaintext
			PRINT '@RowsToBeInserted: ' + casT(@RowsToBeInserted AS varchar)
			--INSERT Data
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_CaseId;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].[IX_CaseComment_CommentTypeId];
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefLabCompName;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefRequistionKey;
			--DROP INDEX IF EXISTS [dbo].[CaseComment].IX_CaseComment_RefResultKey;
			print 'cursor_year_	Start'

			PRINT 'Rank Start -- ' + Cast(@year AS VARCHAR);
			WITH cte AS
			(
					SELECT   rank_res_group,
							Row_number() OVER(partition BY requisition_id, component_id, group_line, value_line 
							ORDER BY result_id DESC) rank_num
					FROM     ssis_commentplaintext CPT
			)
			UPDATE cte
			SET    rank_res_group = rank_num;
          
			PRINT 'Rank End -- '             + Cast(@year AS VARCHAR)


			DECLARE cursor_year_ CURSOR FOR
			SELECT DISTINCT specimenyear
			FROM            [Case];
        
			OPEN cursor_year_;
			FETCH next
			FROM  cursor_year_
			INTO  @year;
			
			WHILE @@FETCH_STATUS = 0
			BEGIN
				  ----PRINT 'Rank Start -- ' + Cast(@year AS VARCHAR);
				  ----WITH cte AS
				  ----(
						----   SELECT   rank_res_group,
						----			Row_number() OVER(partition BY requisition_id, component_id, group_line, value_line ORDER BY result_id DESC) rank_num
						----   FROM     ssis_commentplaintext CPT
						----   JOIN     dbo.[Case] C
						----   ON       cpt.requisition_id = c.refrequisitionid
						----   WHERE    c.specimenyear = @year )
				  ----UPDATE cte
				  ----SET    rank_res_group = rank_num;
          
				  ----PRINT 'Rank End -- '             + Cast(@year AS VARCHAR)
				  PRINT 'Comment Concat Start -- ' + Cast(@year AS VARCHAR)
				  DELETE
				  FROM   @CommentData

				  PRINT 'Comment Concat Group - Start - ' + Cast(@year AS VARCHAR)

				  INSERT INTO @CommentData
				  SELECT    Max(c.caseid),
							Max(ct.commenttypeid),
							String_agg(mult_ln_val_storage, Char(13)+Char(10) ) within GROUP (ORDER BY group_line, value_line) AS mult_ln_val_storage_all,
							requisition_id,
							max(result_id),
							comp_name,
							comment_type
				  FROM      ssis_commentplaintext cpt
				  JOIN      dbo.[Case] c
				  ON        cpt.requisition_id = c.refrequisitionid
				  JOIN dbo.commenttype ct
				  ON        cpt.comment_type = ct.code
				  WHERE     c.specimenyear = @year
				  AND
							--CPT.REQUISITION_ID = 44011522215 AND
							cpt.rank_res_group = 1
				   GROUP BY  cpt.requisition_id,
							comment_type,
							comp_name
				 
				  PRINT 'Comment Concat Group - End - ' + Cast(@year AS VARCHAR)

					--CREATE NONCLUSTERED  INDEX idx_CommentData_CaseId_CommentTypeId_CompName ON CommentData (caseid, commenttypeid, reflabcompname);
				  --GROUP BY  c.caseid,
				  --          ct.commenttypeid,
				  --          requisition_id,
				  --          comment_type,
				  --          comp_name
				  PRINT 'Comment Concat End -- ' + Cast(@year AS VARCHAR)
				  PRINT 'Update Start -- '       + Cast(@year AS VARCHAR)
				  IF @FullLoad = 0
				  BEGIN
						UPDATE cc
						SET    [Text] = cpt.[Text],
							   [RefRequistionKey] = cpt.[RefRequistionKey],
							   [RefResultKey] = cpt.[RefResultKey],
							   [RefLabCompName] = cpt.[RefLabCompName],
							   [RefCommentType] = cpt.[RefCommentType],
							   updatedate = Getdate(),
							   updateby = USER
						FROM   @CommentData CPT
						JOIN   casecomment CC
						ON     cc.caseid = cpt.caseid
						AND    cc.commenttypeid = cpt.commenttypeid
						AND    cpt.reflabcompname = cc.reflabcompname
				  END

				  SET @RowsInserted = @RowsInserted + @@ROWCOUNT
				  PRINT 'Update End -- '            + Cast(@year AS VARCHAR)
				  PRINT 'Insert Start -- '          + Cast(@year AS VARCHAR)
				  INSERT INTO [dbo].[CaseComment]
							  (
										  [CaseId] ,
										  [CommentTypeId] ,
										  [Text] ,
										  [RefRequistionKey] ,
										  [RefResultKey] ,
										  [RefLabCompName] ,
										  [RefCommentType] ,
										  [CreateDate] ,
										  [CreateBy] ,
										  [UpdateDate] ,
										  [UpdateBy]
							  )
				  SELECT [CaseId],
						 [CommentTypeId],
						 [Text],
						 [RefRequistionKey],
						 [RefResultKey],
						 [RefLabCompName],
						 [RefCommentType],
						 Getdate(),
						 USER,
						 NULL,
						 NULL
				  FROM   @CommentData CPT
				  WHERE  NOT EXISTS
						 (
								SELECT 0
								FROM   casecomment CC
								WHERE  cc.caseid = cpt.caseid
								AND    cc.commenttypeid = cpt.commenttypeid
								AND    cpt.reflabcompname = cc.reflabcompname)
				  SET @RowsInserted = @RowsInserted + @@ROWCOUNT
				  PRINT 'Insert End -- '            + Cast(@year AS VARCHAR)
				  FETCH next
				  FROM  cursor_year_
				  INTO  @year;
        
			END
			CLOSE cursor_year_;
			DEALLOCATE cursor_year_;
			PRINT '@year: ' + casT(@year AS varchar)
			print 'cursor_year_	End'


			if EXISTS (select i.name
				from sys.indexes I
				join sys.tables o ON i.object_id = o.object_id
				WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_CommentTypeId')
			BEGIN
				ALTER INDEX [IX_CaseComment_CommentTypeId] ON [dbo].[CaseComment] rebuild;
			END
			ELSE
			BEGIN
				CREATE NONCLUSTERED INDEX [IX_CaseComment_CommentTypeId] ON [dbo].[CaseComment]
				(
				 [CommentTypeId] ASC
				)
			END


			if EXISTS (select i.name
				from sys.indexes I
				join sys.tables o ON i.object_id = o.object_id
				WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_CaseId')
			BEGIN
				ALTER INDEX [IX_CaseComment_CaseId] ON [dbo].[CaseComment] rebuild;
			END
			ELSE
			BEGIN
				CREATE NONCLUSTERED INDEX [IX_CaseComment_CaseId] ON [dbo].[CaseComment]
				(
				 CaseId ASC
				)
			END


			if EXISTS (select i.name
				from sys.indexes I
				join sys.tables o ON i.object_id = o.object_id
				WHERE o.name = 'CaseComment' AND i.name = 'IX_CaseComment_RefLabCompName')
			BEGIN
				ALTER INDEX [IX_CaseComment_RefLabCompName] ON [dbo].[CaseComment] rebuild;
			END
			ELSE
			BEGIN
				CREATE NONCLUSTERED INDEX [IX_CaseComment_RefLabCompName] ON [dbo].[CaseComment]
				(
				 [RefLabCompName] ASC
				)
			END
        
        
        
			 

			SET @RowsInserted = @@ROWCOUNT
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;

		  END try
		  BEGIN catch
			DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
			SET @RowsInserted = @@ROWCOUNT
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
			PRINT ERROR_LINE() 
			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					0,
					@ERROR,
					@LoadTime;
		  END catch
		END
		ELSE
		BEGIN
			PRINT 'NO Records to load'			
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

			EXEC dbo.P_SSIS_LogMainTable @Table,
					@RowsToBeInserted,
					@RowsInserted,
					@RowsToBeUpdated,
					@RowsUpdated,
					1,
					'',
					@LoadTime;

		END
  END
  GO