/****** Object:  Table [AnnotationConfiguration]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AnnotationConfiguration](
	[AnnotationConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[AnnotationMetric] [varchar](50) NOT NULL,
	[DisplayText] [varchar](50) NOT NULL,
	[DataParseProperty] [varchar](50) NOT NULL,
	[UIModel] [varchar](50) NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ColumnIndex] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_AnnotationConfiguration] PRIMARY KEY CLUSTERED 
(
	[AnnotationConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
