/****** Object:  Table [CaseCommentSynopticReportData]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentSynopticReportData](
	[SynopticId] [int] NULL,
	[CaseId] [int] NULL,
	[CaseNumber] [varchar](1000) NULL,
	[Level] [int] NULL,
	[Key] [varchar](1000) NULL,
	[Value] [varchar](1000) NULL,
	[TextId] [int] NULL,
	[CommentId] [int] NULL,
	[Level1] [varchar](1000) NULL,
	[Level2] [varchar](1000) NULL,
	[Level3] [varchar](1000) NULL,
	[Level4] [varchar](1000) NULL,
	[Level5] [varchar](1000) NULL,
	[Level16] [varchar](1000) NULL,
	[ElementValue] [varchar](1000) NULL,
	[Comment] [varchar](1000) NULL,
		[CommentSequence] [int] NULL,
		[NewCommentSequence] [decimal](18, 4) NULL,
		[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_CaseCommentSynopticReportData_CreateDate] DEFAULT (getdate()),
		[CreateBy] [varchar](100) NOT NULL CONSTRAINT [DF_CaseCommentSynopticReportData_CreateBy] DEFAULT (user),
		[UpdateDate] [datetime] NULL,
		[UpdateBy] [varchar](100) NULL
	) ON [PRIMARY]
GO
