/****** Object:  Table [Patient]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Patient](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[GenderId] [int] NOT NULL,
	[EthnicityId] [int] NOT NULL,
	[RaceId] [int] NOT NULL,
	[MaritalStatusId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[FirstName] [varchar](256) NOT NULL,
	[LastName] [varchar](256) NOT NULL,
	[MiddleName] [varchar](256) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[MRN] [varchar](100) NOT NULL,
	[PatId] [varchar](100) NOT NULL,
	[EpiId] [varchar](100) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[State] [varchar](100) NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[IsDeceased] [bit] NOT NULL,
	[DeathDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[RefPatientKey] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Patient_MRN]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Patient_MRN] ON [Patient]
(
	[MRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Patient_RefPatientKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Patient_RefPatientKey] ON [Patient]
(
	[RefPatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Ethnicity] FOREIGN KEY([EthnicityId])
REFERENCES [Ethnicity] ([EthnicityId])
GO
ALTER TABLE [Patient] CHECK CONSTRAINT [FK_Patient_Ethnicity]
GO
ALTER TABLE [Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Gender] FOREIGN KEY([GenderId])
REFERENCES [Gender] ([GenderId])
GO
ALTER TABLE [Patient] CHECK CONSTRAINT [FK_Patient_Gender]
GO
