/****** Object:  Table [CaseStaff]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseStaff](
	[CaseStaffId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RefRequisitionKey] [varchar](50) NULL,
	[RefEmployeeKey] [varchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_CaseStaff] PRIMARY KEY CLUSTERED 
(
	[CaseStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseStaff_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseStaff_CaseId] ON [CaseStaff]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CaseStaff_RefEmployeeKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseStaff_RefEmployeeKey] ON [CaseStaff]
(
	[RefEmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CaseStaff_RefRequisitionKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseStaff_RefRequisitionKey] ON [CaseStaff]
(
	[RefRequisitionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CaseStaff]  WITH CHECK ADD  CONSTRAINT [FK_CaseStaff_Case] FOREIGN KEY([CaseId])
REFERENCES [Case] ([CaseId])
GO
ALTER TABLE [CaseStaff] CHECK CONSTRAINT [FK_CaseStaff_Case]
GO
ALTER TABLE [CaseStaff]  WITH CHECK ADD  CONSTRAINT [FK_CaseStaff_Staff] FOREIGN KEY([StaffId])
REFERENCES [Staff] ([StaffId])
GO
ALTER TABLE [CaseStaff] CHECK CONSTRAINT [FK_CaseStaff_Staff]
GO
