/****** Object:  Table [CaseCommentSynopticText]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentSynopticText](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SynopticId] [decimal](38, 0) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[ResultId] [varchar](50) NOT NULL,
	[HlvId] [decimal](38, 0) NOT NULL,
	[DataType] [varchar](256) NOT NULL,
	[ContextName] [varchar](256) NOT NULL,
	[ContexHierarchy] [varchar](max) NOT NULL,
	[ValueLine] [varchar](50) NOT NULL,
	[Level1] [varchar](1000) NOT NULL,
	[Level2] [varchar](1000) NOT NULL,
	[Level3] [varchar](1000) NOT NULL,
	[Level4] [varchar](1000) NOT NULL,
	[Level5] [varchar](1000) NOT NULL,
	[Level6] [varchar](1000) NOT NULL,
	[ElementName] [varchar](256) NOT NULL,
	[ElementValue] [varchar](max) NOT NULL,
	[SynopticKey] [varchar](50) NOT NULL,
	[ElementComment] [varchar](max) NOT NULL,
	[CommentLine] [varchar](50) NOT NULL,
	[CommentSequence] [int] NOT NULL,
	[RefSynopticKey] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_SynopticText] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseCommentSynopticText_HlvId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticText_HlvId] ON [CaseCommentSynopticText]
(
	[HlvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseCommentSynopticText_SynopticId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticText_SynopticId] ON [CaseCommentSynopticText]
(
	[SynopticId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
