/****** Object:  Table [CaseCommentSynopticSpecimen]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentSynopticSpecimen](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[SpecimenId] [int] NOT NULL,
	[SynopticId] [decimal](38, 0) NOT NULL,
	[SynopticLine] [int] NOT NULL,
	[CaseNum] [varchar](254) NOT NULL,
	[SpecimenNum] [varchar](254) NOT NULL,
	[SpecimenList] [varchar](254) NULL,
	[RecordCreateDate] [datetime] NULL,
	[IsSpecimenLevel] [bit] NULL,
	[RefSpecimenKey] [varchar](50) NOT NULL,
	[RefRequisitionKey] [varchar](50) NOT NULL,
	[IsParsed] [bit] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_SynopticCase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseCommentSynopticSpecimen_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_CaseId] ON [CaseCommentSynopticSpecimen]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseCommentSynopticSpecimen_SpecimenId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_SpecimenId] ON [CaseCommentSynopticSpecimen]
(
	[SpecimenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseCommentSynopticSpecimen_SynopticId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseCommentSynopticSpecimen_SynopticId] ON [CaseCommentSynopticSpecimen]
(
	[SynopticId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
