/****** Object:  Table [AuditCaseAnnotation]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditCaseAnnotation](
	[AuditCaseAnnotationId] [int] IDENTITY(1,1) NOT NULL,
	[CaseAnnotationId] [int] NOT NULL,
	[AnnotationId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[AnnotationConfigurationId] [int] NOT NULL,
	[ModelName] [varchar](50) NOT NULL,
	[SourceValue] [varchar](50) NOT NULL,
	[AnnotationValue] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_AuditCaseAnnotation] PRIMARY KEY CLUSTERED 
(
	[AuditCaseAnnotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditCaseAnnotation_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditCaseAnnotation_CaseId] ON [AuditCaseAnnotation]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditCaseAnnotation_CaseId_AnnotationConfigurationId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditCaseAnnotation_CaseId_AnnotationConfigurationId] ON [AuditCaseAnnotation]
(
	[CaseId] ASC,
	[AnnotationConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
