/****** Object:  Table [Specimen]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Specimen](
	[SpecimenId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[SpecimenStatusId] [int] NOT NULL,
	[SpecimenDrawTypeId] [int] NOT NULL,
	[SpecimenSourceId] [int] NOT NULL,
	[SpecimenNumber] [varchar](100) NOT NULL,
	[CollectionDate] [datetime] NULL,
	[ReceivedDate] [datetime] NULL,
	[ClosedDate] [datetime] NULL,
	[IsReceivedByBarcode] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RefRequisitionKey] [decimal](38, 0) NOT NULL,
	[RefSpecimenKey] [varchar](50) NOT NULL,
	[RefPatientKey] [varchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_Specimen] PRIMARY KEY CLUSTERED 
(
	[SpecimenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Specimen_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Specimen_CaseId] ON [Specimen]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Specimen_RefPaitentKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Specimen_RefPaitentKey] ON [Specimen]
(
	[RefPatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Specimen_RefRequisitionKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Specimen_RefRequisitionKey] ON [Specimen]
(
	[RefRequisitionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Specimen_RefSpecimenKey]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Specimen_RefSpecimenKey] ON [Specimen]
(
	[RefSpecimenKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Specimen]  WITH NOCHECK ADD  CONSTRAINT [FK_Specimen_Case] FOREIGN KEY([CaseId])
REFERENCES [Case] ([CaseId])
GO
ALTER TABLE [Specimen] NOCHECK CONSTRAINT [FK_Specimen_Case]
GO
ALTER TABLE [Specimen]  WITH NOCHECK ADD  CONSTRAINT [FK_Specimen_SpecimenSource] FOREIGN KEY([SpecimenSourceId])
REFERENCES [SpecimenSource] ([SpecimenSourceId])
GO
ALTER TABLE [Specimen] NOCHECK CONSTRAINT [FK_Specimen_SpecimenSource]
GO
