/****** Object:  Table [DataField]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataField](
	[DataFieldId] [int] IDENTITY(1,1) NOT NULL,
	[DataFieldCategoryId] [int] NOT NULL,
	[DisplayName] [varchar](50) NOT NULL,
	[SolrField] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_SearchRequestField] PRIMARY KEY CLUSTERED 
(
	[DataFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DataField]  WITH CHECK ADD  CONSTRAINT [FK_DataField_DataFieldCategory] FOREIGN KEY([DataFieldCategoryId])
REFERENCES [DataFieldCategory] ([DataFieldCategoryId])
GO
ALTER TABLE [DataField] CHECK CONSTRAINT [FK_DataField_DataFieldCategory]
GO
