/****** Object:  Table [LinkedOrder]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LinkedOrder](
	[LinkedOrderId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[ComponentName] [varchar](1000) NULL,
	[ComponentExternalName] [varchar](1000) NULL,
	[ProcedureDesc] [varchar](1000) NULL,
	[DefaultUnit] [varchar](1000) NULL,
	[OrdValue] [varchar](1000) NULL,
	[OrdNumValue] [decimal](38, 5) NULL,
	[OrdLow] [varchar](1000) NULL,
	[OrdHigh] [varchar](1000) NULL,
	[OrdUnit] [varchar](1000) NULL,
	[OrdRawValue] [varchar](1000) NULL,
	[OrdRawHigh] [varchar](1000) NULL,
	[OrdRawLow] [varchar](1000) NULL,
	[ResultDate] [datetime] NULL,
	[OrderDate] [datetime] NULL,
	[ReviewDate] [datetime] NULL,
	[RefRequisitionId] [decimal](38, 0) NULL,
	[RefSpecTestOrderId] [decimal](38, 0) NULL,
	[RefOrderId] [decimal](38, 0) NULL,
	[RefOrderProcId] [decimal](38, 0) NULL,
	[RefComponentId] [decimal](38, 0) NULL,
	[RefProcId] [decimal](38, 0) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LinkedOrder_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_LinkedOrder_CaseId] ON [LinkedOrder]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
