/****** Object:  Table [CaseComment]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseComment](
	[CaseCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[Text] [varchar](max) NOT NULL,
	[RefRequistionKey] [decimal](38, 0) NOT NULL,
	[RefResultKey] [decimal](38, 0) NOT NULL,
	[RefLabCompName] [varchar](100) NOT NULL,
	[RefCommentType] [varchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
	[RefComponentDate] [datetime] NULL,
 CONSTRAINT [PK_CaseComment] PRIMARY KEY CLUSTERED 
(
	[CaseCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseComment_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseComment_CaseId] ON [CaseComment]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseComment_CaseId_CommentTypeId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseComment_CaseId_CommentTypeId] ON [CaseComment]
(
	[CaseId] ASC,
	[CommentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseComment_CreateDate]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseComment_CreateDate] ON [CaseComment]
(
	[CreateDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CaseComment]  WITH CHECK ADD  CONSTRAINT [FK_CaseComment_Case] FOREIGN KEY([CaseId])
REFERENCES [Case] ([CaseId])
GO
ALTER TABLE [CaseComment] CHECK CONSTRAINT [FK_CaseComment_Case]
GO
ALTER TABLE [CaseComment]  WITH CHECK ADD  CONSTRAINT [FK_CaseComment_CommentType] FOREIGN KEY([CommentTypeId])
REFERENCES [CommentType] ([CommentTypeId])
GO
ALTER TABLE [CaseComment] CHECK CONSTRAINT [FK_CaseComment_CommentType]
GO
