/****** Object:  Table [SearchRequest]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SearchRequest](
	[SearchRequestId] [int] IDENTITY(1,1) NOT NULL,
	[SearchId] [int] NOT NULL,
	[RequesterId] [int] NOT NULL,
	[SearchRequestReasonId] [int] NOT NULL,
	[SearchRequestStatusId] [int] NOT NULL,
	[RequestName] [varchar](200) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[IRB] [varchar](100) NULL,
	[IsPediatric] [bit] NULL,
	[RequestDocumentFile] [varbinary](max) NULL,
	[RequestDocumentName] [varchar](1000) NULL,
	[RequestDocumentSize] [decimal](18, 2) NULL,
	[RequestDocumentType] [varchar](100) NULL,
	[RequestDocumentExtension] [varchar](100) NULL,
	[RequestComment] [varchar](1000) NULL,
	[ResultDocumentFile] [varbinary](max) NULL,
	[ResultDocumentName] [varchar](1000) NULL,
	[ResultDocumentSize] [decimal](18, 2) NULL,
	[ApprovedById] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovalComment] [varchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_SearchRequest] PRIMARY KEY CLUSTERED 
(
	[SearchRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_Search] FOREIGN KEY([SearchId])
REFERENCES [Search] ([SearchId])
GO
ALTER TABLE [SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_Search]
GO
ALTER TABLE [SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_SearchRequestStatus] FOREIGN KEY([SearchRequestStatusId])
REFERENCES [SearchRequestStatus] ([SearchRequestStatusId])
GO
ALTER TABLE [SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_SearchRequestStatus]
GO
ALTER TABLE [SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_User] FOREIGN KEY([RequesterId])
REFERENCES [User] ([UserId])
GO
ALTER TABLE [SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_User]
GO
ALTER TABLE [SearchRequest]  WITH CHECK ADD  CONSTRAINT [FK_SearchRequest_User1] FOREIGN KEY([ApprovedById])
REFERENCES [User] ([UserId])
GO
ALTER TABLE [SearchRequest] CHECK CONSTRAINT [FK_SearchRequest_User1]
GO
