/****** Object:  Table [Annotations]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Annotations](
	[AnnotationID] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[AnnotationValue] [nvarchar](50) NULL,
	[AnnotationKey] [nvarchar](50) NULL,
	[DateStamp] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnotationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
