/****** Object:  Table [AuditTrailCase]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditTrailCase](
	[AuditTrailCaseId] [int] IDENTITY(1,1) NOT NULL,
	[AuditTrailSearchId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_AuditTrailCase] PRIMARY KEY CLUSTERED 
(
	[AuditTrailCaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [AuditTrailCase]  WITH CHECK ADD  CONSTRAINT [FK_AuditTrailCase_AuditTrailCase] FOREIGN KEY([AuditTrailCaseId])
REFERENCES [AuditTrailCase] ([AuditTrailCaseId])
GO
ALTER TABLE [AuditTrailCase] CHECK CONSTRAINT [FK_AuditTrailCase_AuditTrailCase]
GO
ALTER TABLE [AuditTrailCase]  WITH CHECK ADD  CONSTRAINT [FK_AuditTrailCase_Case] FOREIGN KEY([CaseId])
REFERENCES [Case] ([CaseId])
GO
ALTER TABLE [AuditTrailCase] CHECK CONSTRAINT [FK_AuditTrailCase_Case]
GO
ALTER TABLE [AuditTrailCase]  WITH CHECK ADD  CONSTRAINT [FK_AuditTrailCase_User] FOREIGN KEY([UserId])
REFERENCES [User] ([UserId])
GO
ALTER TABLE [AuditTrailCase] CHECK CONSTRAINT [FK_AuditTrailCase_User]
GO
