/****** Object:  Table [CaseCommentCoPath]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentCoPath](
	[CaseCommentCoPathId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[Text] [varchar](max) NULL,
	[RtfText] [varchar](max) NULL,
	[StatusDate] [datetime] NULL,
	[SpecYear] [int] NULL,
	[RefId] [int] NOT NULL,
	[RefSpecimenId] [varchar](50) NOT NULL,
	[RefCaseNum] [varchar](100) NOT NULL,
	[RefSpecimenNum] [varchar](100) NOT NULL,
	[RefTextType] [varchar](100) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
	[IsTextUpdated] [bit] NULL,
 CONSTRAINT [PK_CaseCommentCoPath] PRIMARY KEY CLUSTERED 
(
	[CaseCommentCoPathId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_CaseCommentCoPath_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_CaseCommentCoPath_CaseId] ON [CaseCommentCoPath]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_CaseCommentCoPath_CaseNum]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_CaseCommentCoPath_CaseNum] ON [CaseCommentCoPath]
(
	[RefCaseNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_CaseCommentCoPath_RefId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_CaseCommentCoPath_RefId] ON [CaseCommentCoPath]
(
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
