/****** Object:  Table [TagCase]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TagCase](
	[TagCaseId] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_TagCase] PRIMARY KEY CLUSTERED 
(
	[TagCaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TagCase]  WITH CHECK ADD  CONSTRAINT [FK_TagCase_Tag] FOREIGN KEY([TagId])
REFERENCES [Tag] ([TagId])
GO
ALTER TABLE [TagCase] CHECK CONSTRAINT [FK_TagCase_Tag]
GO
