/****** Object:  Table [CaseCommentsTextParsed]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentsTextParsed](
	[CaseCommentsTextParsedId] [bigint] IDENTITY(1,1) NOT NULL,
	[K_RESULT_KEY] [bigint] NOT NULL,
	[GROUP_LINE] [bigint] NOT NULL,
	[MULT_LN_VAL_STORAGE] [varchar](max) NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[RefRequisitionKey] [varchar](50) NOT NULL,
	[CaseId] [int] NULL,
 CONSTRAINT [PK_CaseCommentsTextParsed] PRIMARY KEY CLUSTERED 
(
	[CaseCommentsTextParsedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_CaseCommentsTextParsed_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_CaseCommentsTextParsed_CaseId] ON [CaseCommentsTextParsed]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CaseCommentsTextParsed] ADD  CONSTRAINT [DF_CaseCommentsTextParsed_CommentTypeId]  DEFAULT ((-1)) FOR [CommentTypeId]
GO
ALTER TABLE [CaseCommentsTextParsed] ADD  CONSTRAINT [DF_CaseCommentsTextParsed_RefRequisitionKey]  DEFAULT ('') FOR [RefRequisitionKey]
GO
ALTER TABLE [CaseCommentsTextParsed] ADD  DEFAULT ((-1)) FOR [CaseId]
GO
