/****** Object:  Table [AnnotationCaseFeedback]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AnnotationCaseFeedback](
	[AnnotationCaseFeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[AnnotationConfigurationId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Feedback] [int] NOT NULL,
	[Comment] [varchar](500) NOT NULL,
	[IsReviewed] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_AnnotationCaseFeedback] PRIMARY KEY CLUSTERED 
(
	[AnnotationCaseFeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
