/****** Object:  Table [CaseCommentEpicMigrated]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseCommentEpicMigrated](
	[CaseCommentEpicMigratedId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[Text] [varchar](max) NOT NULL,
	[NumberOfLines] [int] NOT NULL,
	[RefRequistionKey] [varchar](50) NOT NULL,
	[RefResultKey] [varchar](50) NOT NULL,
	[RefLabCompName] [varchar](100) NOT NULL,
	[RefRecNum] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
