/****** Object:  Table [CaseTextMasterPlain]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CaseTextMasterPlain](
	[PlainTextId] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[CaseNumber] [varchar](100) NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[RefLabCompName] [varchar](100) NOT NULL,
	[CaseCommentCoEpicId] [int] NULL,
	[CaseCommentCoPathId] [int] NULL,
	[plain_Text] [varchar](max) NOT NULL,
	[CaseCommentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlainTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Case_CaseID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Case_CaseID] ON [CaseTextMasterPlain]
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaseTextMasterPlain_CaseCommentCoEpicId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseTextMasterPlain_CaseCommentCoEpicId] ON [CaseTextMasterPlain]
(
	[CaseCommentCoEpicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CaseTextMasterPlain_RefLabCompName]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CaseTextMasterPlain_RefLabCompName] ON [CaseTextMasterPlain]
(
	[RefLabCompName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-PlainTextId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-PlainTextId] ON [CaseTextMasterPlain]
(
	[PlainTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UIX_CaseTextMasterPlain_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_CaseTextMasterPlain_ID] ON [CaseTextMasterPlain]
(
	[PlainTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
