/****** Object:  Table [AnnotationDataError]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AnnotationDataError](
	[AnnotationDataErrorId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[ModelName] [varchar](50) NULL,
	[AnnotationValue] [nvarchar](50) NULL,
	[AnnotationKey] [nvarchar](50) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](100) NULL,
 CONSTRAINT [PK_AnnotationDataErrorId] PRIMARY KEY CLUSTERED 
(
	[AnnotationDataErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
