/****** Object:  Table [SSIS_CommentPlainText_Final]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentPlainText_Final](
	[CaseId] [int] NOT NULL,
	[CommentTypeId] [int] NOT NULL,
	[YEAR] [int] NOT NULL,
	[Text] [varchar](max) NOT NULL,
	[RefRequistionId] [decimal](18, 0) NOT NULL,
	[RefResultKey] [decimal](18, 0) NOT NULL,
	[RefLabCompName] [varchar](100) NOT NULL,
	[RefCommentType] [varchar](100) NULL,
	[RefComponentDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_Final_caseid]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_Final_caseid] ON [SSIS_CommentPlainText_Final]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_Final_RefRequistionId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_Final_RefRequistionId] ON [SSIS_CommentPlainText_Final]
(
	[RefRequistionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
