/****** Object:  Table [SSIS_CommentSynopticText]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentSynopticText](
	[SYNOPTIC_ID] [decimal](38, 0) NULL,
	[SYNOPTIC_NAME] [varchar](1000) NULL,
	[SPECIMEN_LIST] [varchar](1000) NULL,
	[RECORD_CREATION_DT] [datetime] NULL,
	[INSTANT_OF_UPDATE_DTTM] [datetime] NULL,
	[MISSING_REQ_DATA_YN] [char](1) NULL,
	[HLV_ID] [decimal](38, 0) NULL,
	[ELEMENT_ID] [varchar](1000) NULL,
	[CUR_VALUE_DATETIME] [datetime] NULL,
	[CONTEXT_NAME] [varchar](1000) NULL,
	[CUR_VALUE_SOURCE] [varchar](1000) NULL,
	[RECORD_ID_NUMERIC] [decimal](38, 0) NULL,
	[REC_ARCHIVED_YN] [char](1) NULL,
	[CUR_VAL_UTC_DTTM] [datetime] NULL,
	[ELEM_VALUE_LINE] [decimal](38, 0) NULL,
	[SMRTDTA_ELEM_VALUE] [varchar](max) NULL,
	[ELEM_DESC_LINE] [decimal](38, 0) NULL,
	[SMRTDTA_ELEM_DESC] [varchar](max) NULL,
	[CLA_CON_NAME] [varchar](1000) NULL,
	[ABBREVIATION] [varchar](1000) NULL,
	[DATA_TYPE_C] [decimal](38, 0) NULL,
	[CONCEPT_ID] [varchar](1000) NULL,
	[PARENT_CONCEPT] [varchar](max) NULL,
	[CONCEPT_HIERARCHY] [varchar](max) NULL,
	[RANK_SYNOPTIC] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SSIS_CommentSynopticText_SYNOPTIC_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticText_SYNOPTIC_ID] ON [SSIS_CommentSynopticText]
(
	[SYNOPTIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
