/****** Object:  Table [SSIS_CaseData]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CaseData](
	[CASE_ID] [bigint] NOT NULL,
	[CASE_ACCESSION_DTTM] [datetime] NULL,
	[CASE_RECEIVED_DTTM] [datetime] NULL,
	[CASE_OVERDUE_DTTM] [datetime] NULL,
	[CASE_PAT_ID] [varchar](18) NULL,
	[CASE_LAB_ID] [varchar](18) NULL,
	[CASE_COLL_DTTM] [datetime] NULL,
	[CASE_SIGNOUT_DTTM] [datetime] NULL,
	[CASE_TASK_ADD_DTTM] [datetime] NULL,
	[INSTANT_PAT_ASSOC_UTC_DTTM] [datetime] NULL,
	[CASE_SUBSPECIALTY_C] [decimal](38, 0) NULL,
	[PAT_ASSOC_DTTM] [datetime] NULL,
	[CASE_TYPE_ID] [varchar](18) NULL,
	[CASE_NUM] [varchar](254) NULL,
	[AP_CASE_STATUS_C] [decimal](38, 0) NULL,
	[LAST_TASK_ADDED_UTC_DTTM] [datetime] NULL,
	[CASE_ACCESSION_UTC_DTTM] [datetime] NULL,
 CONSTRAINT [PK_SSIS_CaseData] PRIMARY KEY CLUSTERED 
(
	[CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SSIS_CaseData_AP_CASE_STATUS_CD]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_AP_CASE_STATUS_CD] ON [SSIS_CaseData]
(
	[AP_CASE_STATUS_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SSIS_CaseData_CASE_LAB_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_CASE_LAB_ID] ON [SSIS_CaseData]
(
	[CASE_LAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SSIS_CaseData_CASE_SUBSPECIALTY_CD]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_CASE_SUBSPECIALTY_CD] ON [SSIS_CaseData]
(
	[CASE_SUBSPECIALTY_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SSIS_CaseData_CASE_TYPE_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_CASE_TYPE_ID] ON [SSIS_CaseData]
(
	[CASE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SSIS_CaseData_K_PAT_KEY]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_K_PAT_KEY] ON [SSIS_CaseData]
(
	[CASE_PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SSIS_CaseData_K_REQUISITION_KEY]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SSIS_CaseData_K_REQUISITION_KEY] ON [SSIS_CaseData]
(
	[CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
