/****** Object:  Table [SSIS_CaseType]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CaseType](
	[LAB_ID] [varchar](18) NOT NULL,
	[CM_PHY_OWNER_ID] [varchar](25) NULL,
	[CM_LOG_OWNER_ID] [varchar](25) NULL,
	[ID_PIECE_FORMAT_C] [decimal](38, 0) NULL,
	[DELIM_PREC_SLD] [varchar](10) NULL,
	[DELIM_PREC_SPEC] [varchar](10) NULL,
	[AP_WORKLIST_TYPE_C] [decimal](38, 0) NULL,
	[CASE_TYPE_NAME] [varchar](254) NULL,
	[AP_USE_HISTOLOGY_YN] [varchar](1) NULL,
	[CASE_EXPECTED_LEN] [decimal](38, 0) NULL,
	[CASE_EXPECTED_LEN_C] [decimal](38, 0) NULL,
	[TYPE_CASE_C] [decimal](38, 0) NULL,
	[AP_REL_RPT_SET_ID] [bigint] NULL,
	[AP_USE_IN_BASKET_YN] [varchar](1) NULL,
	[REPORT_NAME] [varchar](254) NULL,
	[AP_QA_RPT_SET_ID] [bigint] NULL,
	[MED_CYTO_WORKFLOW_C] [decimal](38, 0) NULL,
	[AP_CHRG_REVIEW_YN] [varchar](1) NULL,
	[SKIP_ON_SOURCE_YN] [varchar](1) NULL,
	[ALLOW_MANUAL_NUM_C] [decimal](38, 0) NULL,
	[AP_CHRG_REVIEW_C] [decimal](38, 0) NULL,
	[BELONGS_TO_LAB_ID] [varchar](18) NULL,
	[TYPE_CASE] [varchar](254) NULL,
	[WORKLIST_TYPE] [varchar](254) NULL,
 CONSTRAINT [PK_SSIS_CaseType] PRIMARY KEY CLUSTERED 
(
	[LAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
