/****** Object:  Table [SSIS_CommentSynopticTextComment]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentSynopticTextComment](
	[HLV_ID] [decimal](38, 0) NULL,
	[LINE] [decimal](38, 0) NULL,
	[CURRENT_COMMENT] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SSIS_CommentSynopticTextComment_HLV_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticTextComment_HLV_ID] ON [SSIS_CommentSynopticTextComment]
(
	[HLV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
