/****** Object:  Table [SSIS_CommentSynopticSpecimenLevel]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentSynopticSpecimenLevel](
	[SYNOPTIC_ID] [decimal](38, 0) NULL,
	[SYNOPIC_LINE] [int] NULL,
	[SPECIMEN_ID] [decimal](38, 0) NULL,
	[K_SPECIMEN_KEY] [decimal](38, 0) NULL,
	[SPECIMEN_NUM] [varchar](1000) NULL,
	[K_REQUISITION_KEY] [decimal](38, 0) NULL,
	[CASE_NUM] [varchar](1000) NULL,
	[SPECIMEN_LIST] [varchar](1000) NULL,
	[RECORD_CREATION_DT] [datetime] NULL,
	[IS_SPECIMEN_LEVEL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID] ON [SSIS_CommentSynopticSpecimenLevel]
(
	[SYNOPTIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
