/****** Object:  Table [SSIS_Specimen]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Specimen](
	[SPECIMEN_ID] [varchar](18) NOT NULL,
	[LAB_ID] [varchar](18) NULL,
	[SPEC_NUMBER_LN1] [varchar](254) NULL,
	[SPEC_DTM_COLLECTED] [datetime] NULL,
	[SPEC_DTM_RECEIVED] [datetime] NULL,
	[SPEC_SOURCE_C] [decimal](38, 0) NULL,
	[SPEC_COLLECT_BY] [varchar](254) NULL,
	[SPEC_EPT_PAT_ID] [varchar](18) NULL,
	[SPEC_QC_FLAG_YN] [varchar](254) NULL,
	[SPEC_VAL_STAT_C] [decimal](38, 0) NULL,
	[SPEC_CLOSED_DT] [datetime] NULL,
	[SPEC_COLL_BY_ID] [varchar](18) NULL,
	[SPEC_DRAW_TYPE_C] [decimal](38, 0) NULL,
	[CASE_ID] [bigint] NULL,
	[SPEC_DELETED_YN] [varchar](38) NULL,
	[SPEC_COLL_UTC_DTTM] [datetime] NULL,
	[SPEC_RCVD_UTC_DTTM] [datetime] NULL,
	[SPEC_FROZEN_YN] [varchar](38) NULL,
	[AP_RECEIVE_UTC_DTTM] [datetime] NULL,
	[AP_RECEIVED_BY_ID] [varchar](18) NULL,
	[RECV_BY_BARCODE_YN] [varchar](38) NULL,
	[SPECIMEN_TYPE_C] [decimal](38, 0) NULL,
	[COLL_PRTR_OVRIDE_YN] [varchar](38) NULL,
 CONSTRAINT [PK_SSIS_Specimen] PRIMARY KEY CLUSTERED 
(
	[SPECIMEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SSIS_Specimen_SPECIMEN_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSIS_Specimen_SPECIMEN_ID] ON [SSIS_Specimen]
(
	[SPECIMEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
