/****** Object:  Table [SSIS_CaseStaff]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CaseStaff](
	[K_REQUISITION_KEY] [decimal](38, 0) NOT NULL,
	[K_EMPLOYEE_KEY] [varchar](50) NULL,
	[LINE] [int] NULL,
	[RESPONSIBLE_ROLE_DESC] [varchar](300) NULL,
	[RESPONSIBLE_DTTM] [datetime] NULL
) ON [PRIMARY]
GO
