/****** Object:  Table [SSIS_LinkedOrder]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_LinkedOrder](
	[REQUISITION_ID] [decimal](38, 0) NULL,
	[CASE_ID] [int] NULL,
	[SPEC_TST_ORDER_ID] [decimal](38, 0) NULL,
	[ORDER_ID] [decimal](38, 0) NULL,
	[ORDER_PROC_ID] [decimal](38, 0) NULL,
	[COMPONENT_ID] [decimal](38, 0) NULL,
	[CASE_NUM] [varchar](1000) NULL,
	[PROC_ID] [decimal](38, 0) NULL,
	[COMP_NAME] [varchar](1000) NULL,
	[COMP_EXTERNAL_NAME] [varchar](1000) NULL,
	[DFLT_UNITS] [varchar](1000) NULL,
	[PROC_DESC] [varchar](1000) NULL,
	[SPEC_NUMBER_RLTD] [varchar](1000) NULL,
	[SPEC_LINE] [int] NULL,
	[SPEC_TEST_LINE] [int] NULL,
	[LINKED_ORD_LINE] [int] NULL,
	[ORD_VALUE] [varchar](4000) NULL,
	[ORD_NUM_VALUE] [decimal](38, 5) NULL,
	[REFERENCE_LOW] [varchar](1000) NULL,
	[REFERENCE_HIGH] [varchar](1000) NULL,
	[REFERENCE_UNIT] [varchar](4000) NULL,
	[ORD_RAW_VALUE] [varchar](1000) NULL,
	[RAW_LOW] [varchar](1000) NULL,
	[RAW_HIGH] [varchar](1000) NULL,
	[REPORTABLE_YN] [char](1000) NULL,
	[LAST_RECV_UTC_DTTM] [datetime] NULL,
	[RESULT_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ORDER_INST] [datetime] NULL,
	[REVIEW_TIME] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_LinkedOrder_CaseId]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_LinkedOrder_CaseId] ON [SSIS_LinkedOrder]
(
	[CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_LinkedOrder_REQUISITION_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_LinkedOrder_REQUISITION_ID] ON [SSIS_LinkedOrder]
(
	[REQUISITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
