/****** Object:  Table [SSIS_Lab]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Lab](
	[LAB_ID] [varchar](18) NOT NULL,
	[CM_PHY_OWNER_ID] [varchar](25) NULL,
	[CM_LOG_OWNER_ID] [varchar](25) NULL,
	[LAB_NAME] [varchar](200) NULL,
	[STATUS_C] [decimal](38, 0) NULL,
	[LIVE_STATUS_C] [decimal](38, 0) NULL,
	[RECORD_DELETED_C] [decimal](38, 0) NULL,
 CONSTRAINT [PK_SSIS_Lab] PRIMARY KEY CLUSTERED 
(
	[LAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
