/****** Object:  Table [SSIS_CommentPlainText]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentPlainText](
	[RESULT_ID] [decimal](38, 0) NULL,
	[GROUP_LINE] [int] NULL,
	[VALUE_LINE] [int] NULL,
	[COMP_NAME] [varchar](1000) NULL,
	[COMMENT_TYPE] [varchar](100) NULL,
	[COMPONENT_ID] [decimal](38, 0) NULL,
	[COMPONENT_INST] [datetime] NULL,
	[SPECIMENS_ID] [decimal](38, 0) NULL,
	[REQUISITION_ID] [decimal](38, 0) NULL,
	[MULT_LN_VAL_STORAGE] [varchar](max) NULL,
	[RANK_RES_GROUP] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_CommentType]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CommentType] ON [SSIS_CommentPlainText]
(
	[COMMENT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_CompName]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_CompName] ON [SSIS_CommentPlainText]
(
	[COMP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp] ON [SSIS_CommentPlainText]
(
	[REQUISITION_ID] ASC,
	[COMMENT_TYPE] ASC,
	[COMP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE] ON [SSIS_CommentPlainText]
(
	[REQUISITION_ID] ASC,
	[COMPONENT_ID] ASC,
	[GROUP_LINE] ASC,
	[VALUE_LINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_REQUISITION_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_REQUISITION_ID] ON [SSIS_CommentPlainText]
(
	[REQUISITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentPlainText_RESULT_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentPlainText_RESULT_ID] ON [SSIS_CommentPlainText]
(
	[RESULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
