/****** Object:  Table [SSIS_Language]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Language](
	[LANGUAGE_C] [varchar](66) NOT NULL,
	[NAME] [varchar](254) NULL,
	[TITLE] [varchar](254) NULL,
	[ABBR] [varchar](254) NULL,
	[INTERNAL_ID] [varchar](66) NULL,
 CONSTRAINT [PK_SSIS_Language] PRIMARY KEY CLUSTERED 
(
	[LANGUAGE_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
