/****** Object:  Table [SSIS_Patient]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Patient](
	[PAT_ID] [varchar](105) NOT NULL,
	[PAT_MRN_ID] [varchar](105) NULL,
	[PAT_EPI_ID] [varchar](256) NULL,
	[PAT_PREFIX_NM] [varchar](256) NULL,
	[PAT_FIRST_NM] [varchar](256) NULL,
	[PAT_LAST_NM] [varchar](256) NULL,
	[PAT_MI_NM] [varchar](508) NULL,
	[PAT_FULL_NM] [varchar](256) NULL,
	[PAT_CITY] [varchar](256) NULL,
	[PAT_STATE] [varchar](256) NULL,
	[PAT_COUNTRY] [varchar](256) NULL,
	[PAT_DOB] [datetime] NULL,
	[Pat_DEATH_DATE] [datetime] NULL,
	[PAT_DECEASED_IND] [int] NULL,
	[PAT_ETHNIC_GROUP_CD] [decimal](38, 0) NULL,
	[PAT_GENDER_CD] [varchar](105) NULL,
	[PAT_LANG_CD] [varchar](105) NULL,
	[PAT_MARITAL_STATUS_CD] [decimal](38, 0) NULL,
	[PAT_RACE_CD] [decimal](38, 0) NULL,
	[PAT_REC_CREATE_DT] [datetime] NULL,
	[Y_OCCUPATION] [varchar](50) NULL,
	[IS_EPICCARE_PAT] [int] NULL,
 CONSTRAINT [PK_SSIS_Patient] PRIMARY KEY CLUSTERED 
(
	[PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
