/****** Object:  Table [SSIS_Interpreter]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Interpreter](
	[ORDER_ID] [decimal](38, 0) NOT NULL,
	[ORD_PROC_DESC] [varchar](500) NULL,
	[RSLTS_INTERPRETER] [varchar](500) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[REQUISITION_ID] [decimal](38, 0) NOT NULL,
	[PROCEDURE] [varchar](500) NULL,
	[TYPE] [varchar](500) NULL
) ON [PRIMARY]
GO
