/****** Object:  Table [SSIS_CommentPlainTextGroup]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentPlainTextGroup](
	[RESULT_ID] [decimal](38, 0) NULL,
	[GROUP_LINE] [int] NULL,
	[VALUE_LINE] [int] NULL,
	[COMP_NAME] [varchar](1000) NULL,
	[COMMENT_TYPE] [varchar](100) NULL,
	[COMPONENT_ID] [decimal](38, 0) NULL,
	[COMPONENT_INST] [datetime] NULL,
	[SPECIMENS_ID] [decimal](38, 0) NULL,
	[REQUISITION_ID] [decimal](38, 0) NULL,
	[MULT_LN_VAL_STORAGE] [varchar](max) NOT NULL,
	[RANK_RES_GROUP] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
