/****** Object:  Table [SSIS_SpecimenSource]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_SpecimenSource](
	[SPECIMEN_SOURCE_C] [decimal](38, 0) NOT NULL,
	[NAME] [varchar](254) NULL,
	[TITLE] [varchar](254) NULL,
	[ABBR] [varchar](254) NULL,
	[INTERNAL_ID] [decimal](38, 0) NULL,
 CONSTRAINT [PK_SSIS_SpecimenSource] PRIMARY KEY CLUSTERED 
(
	[SPECIMEN_SOURCE_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
