/****** Object:  Table [SSIS_CommentRTFText]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_CommentRTFText](
	[ORDER_ID] [decimal](38, 0) NULL,
	[RESULT_ID] [decimal](38, 0) NULL,
	[CONTACT_DATE_REAL] [decimal](38, 5) NULL,
	[LINE_RTF_CMT] [int] NULL,
	[RTF_VAL_START_LINE] [decimal](38, 0) NULL,
	[RTF_VAL_END_LINE] [decimal](38, 0) NULL,
	[LINE_RES_SPE] [int] NULL,
	[CONTACT_DATE] [datetime] NULL,
	[COMP_NAME] [varchar](1000) NULL,
	[COMMENT_TYPE] [varchar](100) NULL,
	[RTF_VAL_CMT] [varchar](max) NULL,
	[RES_ORDER_ID] [decimal](38, 0) NULL,
	[RES_SPECIMEN_ID] [decimal](38, 0) NULL,
	[RES_SPECIMEN] [varchar](1000) NULL,
	[SPECIMENS_ID] [decimal](38, 0) NULL,
	[COMP_RES_UTC_DTTM] [datetime] NULL,
	[COMPONENT_ID] [decimal](38, 0) NULL,
	[REQUISITION_ID] [decimal](38, 0) NULL,
	[RANK_RES_DB_MAIN] [decimal](38, 0) NULL,
	[RANK_RES_SPECIMENS] [decimal](38, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SSIS_CommentRTFText_CommentType]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_CommentType] ON [SSIS_CommentRTFText]
(
	[COMMENT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentRTFText_REQUISITION_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_REQUISITION_ID] ON [SSIS_CommentRTFText]
(
	[REQUISITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentRTFText_RESULT_ID]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_RESULT_ID] ON [SSIS_CommentRTFText]
(
	[RESULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_SSIS_CommentRTFText_RESULT_LINE]    Script Date: 9/10/2025 4:46:58 PM ******/
CREATE NONCLUSTERED INDEX [idx_SSIS_CommentRTFText_RESULT_LINE] ON [SSIS_CommentRTFText]
(
	[RESULT_ID] ASC,
	[LINE_RES_SPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
