/****** Object:  Table [SSIS_Staff]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_Staff](
	[K_EMPLOYEE_KEY] [varchar](50) NOT NULL,
	[USER_ID] [varchar](50) NULL,
	[INTERNAL_USER_ID] [varchar](50) NULL,
	[EMPLOYEE_NM] [varchar](200) NULL,
	[EFF_FROM_DT] [datetime] NULL,
	[EFF_TO_DT] [datetime] NULL,
 CONSTRAINT [PK_SSIS_Staff] PRIMARY KEY CLUSTERED 
(
	[K_EMPLOYEE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
