/****** Object:  Table [SSIS_LogMainTable]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_LogMainTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NOT NULL,
	[ToBeInsertRecordCount] [int] NOT NULL,
	[InsertRecordCount] [int] NOT NULL,
	[TobeUpdateRecordCount] [int] NOT NULL,
	[UpdateRecordCount] [int] NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[LoadTime] [int] NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SSIS_LogMainTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
