/****** Object:  Table [SSIS_LogCustom]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SSIS_LogCustom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MachineName] [varchar](500) NULL,
	[PackageName] [varchar](500) NULL,
	[SourceId] [varchar](500) NULL,
	[SourceName] [varchar](500) NULL,
	[TaskName] [varchar](500) NULL,
	[Message] [varchar](max) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_SSIS_LogCustom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
