/****** Object:  View [V_SOLR_Cohort_Delete_Load]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [V_SOLR_Cohort_Delete_Load] AS 

SELECT 	 
	C.[CohortId] 
 FROM [dbo].[Cohort] C
 Where C.IsActive = 0 AND C.IsSolrUpdated = 0
GO
