/****** Object:  View [V_SOLR_CaseComment_RESIDENT]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_SOLR_CaseComment_RESIDENT] AS 

SELECT CS.CaseCommentId, CS.CaseId, CS.CommentTypeId, CS.[Text] AS CommentText, 
CS.CreateDate, CS.UpdateDate
FROM  dbo.CaseComment CS 
WHERE CS.CommentTypeId = (Select CommentTypeId from dbo.CommentType Where Code = 'RESIDENT')

 
 
 --select * from V_SOLR_CaseComment_RESIDENT

 --select * from CommentType
GO
