/****** Object:  View [V_SOLR_Interpreter]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_SOLR_Interpreter] AS 

SELECT InterpreterId, CaseId, FullName Interpreter,
CreateDate, UpdateDate
FROM  dbo.Interpreter 

--select * from V_SOLR_Interpreter
--select * from Interpreter
GO
