/****** Object:  View [V_SOLR_Cohort_Case_Load]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [V_SOLR_Cohort_Case_Load] AS 

SELECT 
	C.CohortCaseId id,
	C.[CohortId] cohortid,
	C.[CaseId] caseid 
 FROM [dbo].[CohortCase] C
 Where C.IsActive = 1 AND C.IsSolrUpdated = 0
	 

--select * from [CohortCase]	
--select * from [Cohort]
GO
