/****** Object:  View [V_SOLR_Case_UPDATE]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      VIEW [V_SOLR_Case_UPDATE] AS 

SELECT C.[CaseId]
      ,C.[RefRequisitionKey]
      ,C.[SpecimenYear]
      ,C.[CaseNumber]
      ,C.[AccessionDate]
      ,C.[ReceiveDate]
      ,C.[OverdueDate]
      ,C.[CollectionDate]
      ,C.[SignoutDate]
      ,C.[PatientName]
      ,C.[PatientDOB]
      ,C.[PatientEpi]
      ,C.[PatientMrn]
      ,C.[PatientLanguage]
      ,C.[PatientEthnicity]
      ,C.[PatientGender]
      ,C.[PatientDeathDate]
      ,C.[PatientIsDeceased]
      ,C.[PatientRace]
      ,C.[PatientCity]
      ,C.[PatientState]
      ,C.[PatientCountry]
      ,C.[Hospital]
      ,C.[Region]
      ,C.[CaseStatus]
      ,C.[CaseType]
      ,C.[CaseTypeCategory]
	  ,C.[ReviewType]
      ,C.[Specialty]
      ,C.[SpecialtyCode]
	  ,C.[SpecialtyCategory]
      ,C.[ADDEND]
      ,C.[ADDENDCount]
      ,C.[COMMENT]
      ,C.[COMMENTCount]
      ,C.[FINAL]
      ,C.[FINALCount]
      ,C.[GROSS]
      ,C.[GROSSCount]
      ,C.[MICROSCOPIC]
      ,C.[MICROSCOPICCount]
      ,C.[INTRAOP]
      ,C.[INTRAOPCount]
      ,C.[RESIDENT]
      ,C.[RESIDENTCount]
      ,C.[SYNOPTIC]
      ,C.[SYNOPTICCount]
	  ,C.[CLINICAL]
      ,C.[CLINICALCount]
      ,C.[Interpreter]
      ,C.[ProcedureCategory]
      ,C.[StaffName]
	  , Case When C.[StaffName] = '' THEN C.[Interpreter] ELSE C.[StaffName] END AS Pathologist
      ,C.[SpecimenNumber]
      ,C.[CasePatientAge]
	  ,C.[CasePatientAgeYears]
	  ,C.[AnnotationMalignant]
	  ,C.[IsEpic]
	  ,C.[IsEpicMigrated]
	  ,C.[IsCopath]
	  , GETDATE() [CurrentDate]
      ,C.[IsActive]
      ,C.[CreateDate]
      ,C.[CreateBy]
      ,C.[UpdateDate]
      ,C.[UpdateBy]
  FROM [dbo].[CaseSolr] C
	join [dbo].[CaseSolr_Preload] B on C.CaseId = B.CaseId
	Where C.AccessionDate <> B.AccessionDate OR
	C.RefRequisitionKey <> B.RefRequisitionKey OR 
	C.SpecimenYear <> B.SpecimenYear OR 
	C.CaseNumber <> B.CaseNumber OR 
	C.AccessionDate <> B.AccessionDate OR 
	C.ReceiveDate <> B.ReceiveDate OR 
	C.OverdueDate <> B.OverdueDate OR 
	C.CollectionDate <> B.CollectionDate OR 
	C.SignoutDate <> B.SignoutDate OR 
	C.PatientName <> B.PatientName OR 
	C.PatientDOB <> B.PatientDOB OR 
	C.PatientEpi <> B.PatientEpi OR 
	C.PatientMrn <> B.PatientMrn OR 
	C.PatientLanguage <> B.PatientLanguage OR 
	C.PatientEthnicity <> B.PatientEthnicity OR 
	C.PatientGender <> B.PatientGender OR 
	C.PatientDeathDate <> B.PatientDeathDate OR 
	C.PatientIsDeceased <> B.PatientIsDeceased OR 
	C.PatientRace <> B.PatientRace OR 
	C.PatientCity <> B.PatientCity OR 
	C.PatientState <> B.PatientState OR 
	C.PatientCountry <> B.PatientCountry OR 
	C.Hospital <> B.Hospital OR 
	C.Region <> B.Region OR 
	C.CaseStatus <> B.CaseStatus OR 
	C.CaseType <> B.CaseType OR 
	C.CaseTypeCategory <> B.CaseTypeCategory OR 
	C.ReviewType <> B.ReviewType OR 
	C.Specialty <> B.Specialty OR 
	C.SpecialtyCode <> B.SpecialtyCode OR 
	C.SpecialtyCategory <> B.SpecialtyCategory OR 
	C.ADDEND <> B.ADDEND OR 
	C.ADDENDCount <> B.ADDENDCount OR 
	C.COMMENT <> B.COMMENT OR 
	C.COMMENTCount <> B.COMMENTCount OR 
	C.FINAL <> B.FINAL OR 
	C.FINALCount <> B.FINALCount OR 
	C.GROSS <> B.GROSS OR 
	C.GROSSCount <> B.GROSSCount OR 
	C.MICROSCOPIC <> B.MICROSCOPIC OR 
	C.MICROSCOPICCount <> B.MICROSCOPICCount OR 
	C.INTRAOP <> B.INTRAOP OR 
	C.INTRAOPCount <> B.INTRAOPCount OR 
	C.RESIDENT <> B.RESIDENT OR 
	C.RESIDENTCount <> B.RESIDENTCount OR 
	C.SYNOPTIC <> B.SYNOPTIC OR 
	C.SYNOPTICCount <> B.SYNOPTICCount OR 
	C.CLINICAL <> B.CLINICAL OR 
	C.CLINICALCount <> B.CLINICALCount OR 
	C.Interpreter <> B.Interpreter OR 
	C.ProcedureCategory <> B.ProcedureCategory OR 
	C.StaffName <> B.StaffName OR 
	C.SpecimenNumber <> B.SpecimenNumber OR 
	C.CasePatientAge <> B.CasePatientAge OR 
	C.CasePatientAgeYears <> B.CasePatientAgeYears OR 
	C.AnnotationMalignant <> B.AnnotationMalignant OR 
	C.IsEpic <> B.IsEpic OR 
	C.IsEpicMigrated <> B.IsEpicMigrated OR 
	C.IsCopath <> B.IsCopath;



 --select top 10 * from V_SOLR_Case
GO
