/****** Object:  View [V_SOLR_CaseStaff]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_SOLR_CaseStaff] AS
	select CS.CaseStaffId,  CS.CaseId, CS.StaffId, S.FullName StaffName, S.CreateDate, S.UpdateDate
	from dbo.[CaseStaff] CS
	Join dbo.Staff S on CS.StaffId = S.StaffId


	--select * from V_SOLR_CaseStaff
	--select * from [CaseStaff]
GO
