/****** Object:  View [V_SOLR_Case_Delta]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE OR ALTER  VIEW [dbo].[V_SOLR_Case_Delta] AS 

SELECT [CaseId]
 ,[RefRequisitionKey]
 ,[SpecimenYear]
 ,[CaseNumber]
 ,[AccessionDate]
 ,[ReceiveDate]
 ,[OverdueDate]
 ,[CollectionDate]
 ,[SignoutDate]
 ,[PatientName]
 ,[PatientDOB]
 ,[PatientEpi]
 ,[PatientMrn]
 ,[PatientLanguage]
 ,[PatientEthnicity]
 ,[PatientGender]
 ,[PatientDeathDate]
 ,[PatientIsDeceased]
 ,[PatientRace]
 ,[PatientCity]
 ,[PatientState]
 ,[PatientCountry]
 ,[Hospital]
 ,[Region]
 ,[CaseStatus]
 ,[CaseType]
 ,[CaseTypeCategory]
	 ,[ReviewType]
 ,[Specialty]
 ,[SpecialtyCode]
	 ,[SpecialtyCategory]
 ,[ADDEND]
 ,[ADDENDCount]
 ,[COMMENT]
 ,[COMMENTCount]
 ,[FINAL]
 ,[FINALCount]
      ,[GROSS]
      ,[GROSSCount]
      ,[MICROSCOPIC]
      ,[MICROSCOPICCount]
      ,[INTRAOP]
 ,[INTRAOPCount]
 ,[RESIDENT]
 ,[RESIDENTCount]
 ,[SYNOPTIC]
 ,[SYNOPTICCount]
	 ,[CLINICAL]
 ,[CLINICALCount]
 ,[Interpreter]
 ,[ProcedureCategory]
 ,[StaffName]
	 , Case When [StaffName] = '' THEN [Interpreter] ELSE [StaffName] END AS Pathologist
 ,[SpecimenNumber]
 ,[CasePatientAge]
	 ,[CasePatientAgeYears]
	 ,[IsEpic]
	 ,[IsEpicMigrated]
	 ,[IsCopath]
	 , GETDATE() [CurrentDate],
	[AnnotationMalignant]
 ,[IsActive]
 ,[CreateDate]
 ,[CreateBy]
 ,[UpdateDate]
 ,[UpdateBy]
 ,[IsConcentriq]
 ,[CaseConcentriqId]
 FROM [dbo].[CaseSolr_Delta]
 

 --select top 10 * from V_SOLR_Case
GO