﻿/****** Object:  View [V_SOLR_Case]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_SOLR_Case] AS 

SELECT [CaseId]
      ,[RefRequisitionKey]
      ,[SpecimenYear]
      ,[CaseNumber]
      ,[AccessionDate]
      ,[ReceiveDate]
      ,[OverdueDate]
      ,[CollectionDate]
      ,[SignoutDate]
      ,[PatientName]
      ,[PatientDOB]
      ,[PatientEpi]
      ,[PatientMrn]
      ,[PatientLanguage]
      ,[PatientEthnicity]
      ,[PatientGender]
      ,[PatientDeathDate]
      ,[PatientIsDeceased]
      ,[PatientRace]
      ,[PatientCity]
      ,[PatientState]
      ,[PatientCountry]
      ,[Hospital]
      ,[Region]
      ,[CaseStatus]
      ,[CaseType]
      ,[CaseTypeCategory]
	  ,[ReviewType]
      ,[Specialty]
      ,[SpecialtyCode]
	  ,[SpecialtyCategory]
      ,[ADDEND]
      ,[ADDENDCount]
      ,[COMMENT]
      ,[COMMENTCount]
      ,[FINAL]
      ,[FINALCount]
      ,[GROSS]
      ,[GROSSCount]
      ,[INTRAOP]
      ,[INTRAOPCount]
      ,[RESIDENT]
      ,[RESIDENTCount]
      ,[SYNOPTIC]
      ,[SYNOPTICCount]
	  ,[CLINICAL]
      ,[CLINICALCount]
      ,[MICROSCOPIC]
      ,[MICROSCOPICCount]
      ,[Interpreter]
      ,[ProcedureCategory]
      ,[StaffName]
	  , Case When [StaffName] = '' THEN [Interpreter] ELSE [StaffName] END AS Pathologist
      ,[SpecimenNumber]
      ,[CasePatientAge]
	  ,[CasePatientAgeYears]
	  ,[AnnotationMalignant]
	  ,[IsEpic]
	  ,[IsEpicMigrated]
	  ,[IsCopath]
	  , GETDATE() [CurrentDate]
      ,[IsActive]
      ,[CreateDate]
      ,[CreateBy]
      ,[UpdateDate]
      ,[UpdateBy]
  FROM [dbo].[CaseSolr]
 

 --select top 10 * from V_SOLR_Case
GO
