/****** Object:  View [V_SOLR_Specimen]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_SOLR_Specimen] AS 
 
	  select S.SpecimenId, S.CaseId, S.SpecimenNumber, S.CreateDate, S.UpdateDate
	from dbo.[Specimen] S 
	 

	 --select * from V_SOLR_Specimen
	-- select * from [Specimen]
GO
