
.form-control:focus{
    border-color:#ced4da !important;
    box-shadow: none !important;
    background-image: none;
}


.invalid-feedback{
    display: block;
}

.asterisk-danger{
    color:rgb(202, 16, 16);
}

.form-group {
    padding-top: 20px;
}

.modal-body {
    height: 80vh;
    overflow-y: auto !important;
}

.q-input-control {
    display: inline-block;
    padding: 5px 8px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}


.disabled {
  pointer-events: none;
  border-color: #ccc;
  background-color: #ccc;
}