/****** Object:  StoredProcedure [P_SSIS_LoadCaseSolr_PreLoad]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE dbo.P_SSIS_LoadCaseSolr_PreLoad
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseSolr_Preload'
	 
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 	
	BEGIN TRY 

		Print 'Insert Start'		

		Truncate table dbo.CaseSolr_Preload;
		Insert into dbo.CaseSolr_Preload (
			[CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], [OverdueDate],
			[CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage],
			[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity],
			[PatientState], [PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory],
			[ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory], [ADDEND], [ADDENDCount], [COMMENT],
			[COMMENTCount], [FINAL], [FINALCount], [GROSS], [GROSSCount], [MICROSCOPIC], [MICROSCOPICCount], [INTRAOP],
			[INTRAOPCount], [RESIDENT], [RESIDENTCount], [SYNOPTIC], [SYNOPTICCount], [CLINICAL], [CLINICALCount],
			[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
			[AnnotationMalignant], [IsEpic], [IsEpicMigrated], [IsCopath], [IsActive], [CreateDate], [CreateBy],
			[UpdateDate], [UpdateBy], [IsSolrUpdate]
		)
		Select
			[CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], [OverdueDate],
			[CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage],
			[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity],
			[PatientState], [PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory],
			[ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory], [ADDEND], [ADDENDCount], [COMMENT],
			[COMMENTCount], [FINAL], [FINALCount], [GROSS], [GROSSCount], [MICROSCOPIC], [MICROSCOPICCount], [INTRAOP],
			[INTRAOPCount], [RESIDENT], [RESIDENTCount], [SYNOPTIC], [SYNOPTICCount], [CLINICAL], [CLINICALCount],
			[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
			[AnnotationMalignant], [IsEpic], [IsEpicMigrated], [IsCopath], [IsActive], [CreateDate], [CreateBy],
			[UpdateDate], [UpdateBy], [IsSolrUpdate]
		from dbo.CaseSolr;

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert Ended' 
		 
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)


		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										'',
										@LoadTime;
		 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
	END CATCH
END
GO

 
