/****** Object:  StoredProcedure [P_SSIS_LoadCaseSolr_Delta]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE dbo.P_SSIS_LoadCaseSolr_Delta
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseSolr_Delta'
	 
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	BEGIN TRY 
		
		SET @RowsInserted = (SELECT count(0) from [dbo].[CaseSolr]  WHERE IsSolrUpdate = 1 )

		Truncate table [dbo].[CaseSolr_Delta]

		Print 'Insert Start'		
		INSERT INTO [dbo].[CaseSolr_Delta] ([CaseId]
           ,[RefRequisitionKey]
           ,[SpecimenYear]
           ,[CaseNumber]
           ,[AccessionDate]
           ,[ReceiveDate]
           ,[OverdueDate]
           ,[CollectionDate]
           ,[SignoutDate]
           ,[PatientName]
           ,[PatientDOB]
           ,[PatientEpi]
           ,[PatientMrn]
           ,[PatientLanguage]
           ,[PatientEthnicity]
           ,[PatientGender]
           ,[PatientDeathDate]
           ,[PatientIsDeceased]
           ,[PatientRace]
           ,[PatientCity]
           ,[PatientState]
           ,[PatientCountry]
           ,[Hospital]
           ,[Region]
           ,[CaseStatus]
           ,[CaseType]
           ,[CaseTypeCategory]
           ,[ReviewType]
           ,[Specialty]
           ,[SpecialtyCode]
           ,[SpecialtyCategory]
           ,[ADDEND]
           ,[ADDENDCount]
           ,[COMMENT]
           ,[COMMENTCount]
           ,[FINAL]
           ,[FINALCount]
           ,[GROSS]
           ,[GROSSCount]
           ,[MICROSCOPIC]
           ,[MICROSCOPICCount]
           ,[INTRAOP]
           ,[INTRAOPCount]
           ,[RESIDENT]
           ,[RESIDENTCount]
           ,[SYNOPTIC]
           ,[SYNOPTICCount]
           ,[CLINICAL]
           ,[CLINICALCount]
           ,[Interpreter]
           ,[ProcedureCategory]
           ,[StaffName]
           ,[Pathologist]
           ,[SpecimenNumber]
           ,[CasePatientAge]
           ,[CasePatientAgeYears]
           ,[AnnotationMalignant]
           ,[IsEpic]
           ,[IsEpicMigrated]
           ,[IsCopath]
           ,[CurrentDate]
           ,[IsActive]
           ,[CreateDate]
           ,[CreateBy]
           ,[UpdateDate]
           ,[UpdateBy]
           ,[Action]
		   ,[IsConcentriq]
		   ,[CaseConcentriqId])
		Select [CaseId]
			  ,[RefRequisitionKey]
			  ,[SpecimenYear]
			  ,[CaseNumber]
			  ,[AccessionDate]
			  ,[ReceiveDate]
			  ,[OverdueDate]
			  ,[CollectionDate]
			  ,[SignoutDate]
			  ,[PatientName]
			  ,[PatientDOB]
			  ,[PatientEpi]
			  ,[PatientMrn]
			  ,[PatientLanguage]
			  ,[PatientEthnicity]
			  ,[PatientGender]
			  ,[PatientDeathDate]
			  ,[PatientIsDeceased]
			  ,[PatientRace]
			  ,[PatientCity]
			  ,[PatientState]
			  ,[PatientCountry]
			  ,[Hospital]
			  ,[Region]
			  ,[CaseStatus]
			  ,[CaseType]
			  ,[CaseTypeCategory]
			  ,[ReviewType]
			  ,[Specialty]
			  ,[SpecialtyCode]
			  ,[SpecialtyCategory]
			  ,[ADDEND]
			  ,[ADDENDCount]
			  ,[COMMENT]
			  ,[COMMENTCount]
			  ,[FINAL]
           ,[FINALCount]
           ,[GROSS]
           ,[GROSSCount]
           ,[MICROSCOPIC]
           ,[MICROSCOPICCount]
           ,[INTRAOP]
			  ,[INTRAOPCount]
			  ,[RESIDENT]
			  ,[RESIDENTCount]
			  ,[SYNOPTIC]
			  ,[SYNOPTICCount]
			  ,[CLINICAL]
			  ,[CLINICALCount]
			  ,[Interpreter]
			  ,[ProcedureCategory]
			  ,[StaffName]
			  , Case When [StaffName] = '' THEN [Interpreter] ELSE [StaffName] END AS Pathologist
			  ,[SpecimenNumber]
			  ,[CasePatientAge]
			  ,[CasePatientAgeYears]
			  ,[AnnotationMalignant]
			  ,[IsEpic]
			  ,[IsEpicMigrated]
			  ,[IsCopath]
			  , GETDATE() [CurrentDate]
			  ,[IsActive]
			  ,[CreateDate]
			  ,[CreateBy]
			  ,[UpdateDate]
			  ,[UpdateBy]
			  ,'I' 
			  ,[IsConcentriq]
			  ,[CaseConcentriqId]
		   from [dbo].[CaseSolr]
		   WHERE IsSolrUpdate = 1
		--Select *, 'I' from [dbo].[V_SOLR_Case_INSERT]

		SET @RowsInserted = @@ROWCOUNT
		Print 'Insert Ended' 
		 

		Print 'Update Start'		
		--INSERT INTO [dbo].[CaseSolr_Delta]
		--Select *, 'U' from [dbo].[V_SOLR_Case_UPDATE]

		SET @RowsUpdated = @@ROWCOUNT
		Print 'Update Ended' 
		 

		 	
		--SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)

		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
										,@LoadTime;
		 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime;
	END CATCH
END
GO

 