/****** Object:  StoredProcedure [P_SSIS_LoadCaseSuggestionSolr_Delta]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [P_SSIS_LoadCaseSuggestionSolr_Delta]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseSuggestionSolr_Delta'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE()  
	  
	BEGIN TRY		 
		BEGIN
			SET @RowsInserted = (select COUNT(0) from [dbo].[CaseSolr_Delta])

			Truncate table [dbo].CaseSuggestionSolr_Delta

			Print 'Insert Start'
			INSERT INTO [dbo].CaseSuggestionSolr_Delta
			select CaseId, CaseNumber from [dbo].[CaseSolr_Delta]	 
		 

			SET @RowsInserted = @@ROWCOUNT
			Print 'Insert Ended' 
		 
			SELECT @EndTime=GETDATE()
			SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
			EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										'',
										@LoadTime

		END
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR
										,@LoadTime
	END CATCH
END
GO
