/****** Object:  StoredProcedure [P_SSIS_LoadCaseStaffSolr]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [P_SSIS_LoadCaseStaffSolr]
@IsFullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT  = 0
	DECLARE @Table Varchar(100) = 'CaseStaffSolr'

	DECLARE @Data TABLE (	 	 
	[Pathologist] [varchar](1000) NOT NULL)
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	
	BEGIN TRY 		

		Print 'Temp data Started' 
		PRINT GETDATE()
		INSERT INTO @Data
		SELECT distinct Pathologist FROM (
		SELECT TRIM(value) Pathologist
		FROM (Select distinct Pathologist PathologistAll From dbo.V_SOLR_Case) Dat
		CROSS APPLY STRING_SPLIT(PathologistAll, '|')) FINAL WHERE Pathologist <> ''


		Print 'Temp data End'
		PRINT GETDATE()

		IF @IsFullLoad = 1
		BEGIN 
			PRINT 'Truncating table [dbo].[CaseStaffSolr]'
			TRUNCATE TABLE [dbo].[CaseStaffSolr]
		END

		 
		Print 'Insert Started'
		PRINT GETDATE()
		INSERT INTO [dbo].[CaseStaffSolr]([Pathologist], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy]) 
		SELECT [Pathologist], GETDATE(), USER, NULL, NULL
		FROM @Data C
			WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CaseStaffSolr] CS WHERE C.Pathologist = CS.Pathologist) 

		SET @RowsInserted = @@ROWCOUNT		 

		Print 'Insert Ended'		
		PRINT GETDATE() 
		 SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
			EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										@RowsUpdated,
										@RowsUpdated,
										1,
										'',
										@LoadTime
		 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR,
										@LoadTime
	END CATCH
END
GO
