/****** Object:  StoredProcedure [P_SSIS_LoadCaseSolr]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE OR ALTER PROCEDURE dbo.P_SSIS_LoadCaseSolr
@IsFullLoad BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0, @RowsUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseSolr'
	DECLARE @AnnotationConfigurationId INT = (Select AnnotationConfigurationId FROM AnnotationConfiguration Where AnnotationMetric = 'AnnotationMalignant') 
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	Declare @FromDate DATE 
	SET @FromDate =(SELECT VAL FROM SSIS_ConfigRun WHERE [NAME] = 'FromDate')
	DECLARE @Data TABLE (
	[CaseId] [int] NOT NULL,
	[RefRequisitionKey] [varchar](50) NOT NULL,
	[SpecimenYear] [int] NOT NULL,
	[CaseNumber] [varchar](100) NOT NULL,
	[AccessionDate] [datetime] NULL,
	[ReceiveDate] [datetime] NULL,
	[OverdueDate] [datetime] NULL,
	[CollectionDate] [datetime] NULL,
	[SignoutDate] [datetime] NULL,
	[PatientName] [varchar](768) NULL,
	[PatientDOB] [datetime] NOT NULL,
	[PatientEpi] [varchar](100) NOT NULL,
	[PatientMrn] [varchar](100) NOT NULL,
	[PatientLanguage] [varchar](100) NOT NULL,
	[PatientEthnicity] [varchar](100) NOT NULL,
	[PatientGender] [varchar](100) NOT NULL,
	[PatientDeathDate] [datetime] NULL,
	[PatientIsDeceased] [bit] NOT NULL,
	[PatientRace] [varchar](100) NOT NULL,
	[PatientCity] [varchar](100) NOT NULL,
	[PatientState] [varchar](100) NOT NULL,
	[PatientCountry] [varchar](100) NOT NULL,
	[Hospital] [varchar](100) NOT NULL,
	[Region] [varchar](100) NOT NULL,
	[CaseStatus] [varchar](100) NOT NULL,
	[CaseType] [varchar](100) NOT NULL,
	[CaseTypeCategory] [varchar](100) NOT NULL,
	[ReviewType] [varchar](100) NOT NULL, 
	[Specialty] [varchar](100) NOT NULL,
	[SpecialtyCode] [varchar](50) NOT NULL,
	[SpecialtyCategory] [varchar](100) NOT NULL,
	[ADDEND] [varchar](max) NOT NULL,
	[ADDENDCount] [int] NOT NULL,
	[COMMENT] [varchar](max) NOT NULL,
	[COMMENTCount] [int] NOT NULL,
	[FINAL] [varchar](max) NOT NULL,
	[FINALCount] [int] NOT NULL,
	[GROSS] [varchar](max) NOT NULL,
	[GROSSCount] [int] NOT NULL,
	[MICROSCOPIC] [varchar](max) NOT NULL,
	[MICROSCOPICCount] [int] NOT NULL,
	[INTRAOP] [varchar](max) NOT NULL,
	[INTRAOPCount] [int] NOT NULL,	
	[RESIDENT] [varchar](max) NOT NULL,
	[RESIDENTCount] [int] NOT NULL,
	[SYNOPTIC] [varchar](max) NOT NULL,
	[SYNOPTICCount] [int] NOT NULL,
	[CLINICAL] [varchar](max) NOT NULL,
	[CLINICALCount] [int] NOT NULL,
	[Interpreter] [varchar](1000) NULL,
	[ProcedureCategory] [varchar](1000) NULL,
	[StaffName] [varchar](8000) NULL,
	[SpecimenNumber] [varchar](8000) NULL,
	[CasePatientAge] [varchar](100),
	[CasePatientAgeYears] INT,
	[AnnotationMalignant] VARCHAR(50) NULL,
	[IsEpic] BIT,
	[IsEpicMigrated] BIT,
	[IsCopath] BIT)


	BEGIN TRY 	
	
		IF (SELECT COUNT(0) FROM CaseSolr ) = 0 
		BEGIN
			SET @FromDate = '01-01-1900'
		END

		Print 'Temp data Started' 
		PRINT GETDATE()
		INSERT INTO @Data
		SELECT C.[CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], 
				[OverdueDate], [CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage], 
				[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity], [PatientState], 
				[PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory], [ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory],
				'' [ADDEND], 0 ADDENDCount,
				'' [COMMENT], 0 COMMENTCount, 
				'' [FINAL], 0 FINALCount, 
				'' [GROSS], 0 GROSSCount,
				'' [MICROSCOPIC], 0 MICROSCOPICCount,
				'' [INTRAOP], 0 INTRAOPCount, 
				'' [RESIDENT], 0 RESIDENTCount, 
				'' [SYNOPTIC], 0 SYNOPTICCount, 
				'' [CLINICAL], 0 CLINICALCount, 
				ISNULL(I.Interpreter, '') Interpreter, ISNULL(I.ProcedureCategory, '') ProcedureCategory, 
				ISNULL(SSF.StaffName, '') StaffName, ISNULL(SS.SpecimenNumber, '') SpecimenNumber,
				[CasePatientAge], [CasePatientAgeYears], 
				ISNULL(CM.AnnotationValue, '-'),
				[IsEpic], [IsEpicMigrated], [IsCopath]
			--FROM dbo.V_CaseAll
			FROM [dbo].[V_Case] C -- 6958048
			--JOIN CaseCommentSourceInfo CSI ON C.CaseId = CSI.CaseId -- 6958048 -- 09 sec
			LEFT join dbo.V_Interpreter I on C.CaseId = I.CaseId
			LEFT join dbo.V_CaseStaff SSF on C.CaseId = SSF.CaseId
			LEFT JOIN dbo.V_Specimen SS on C.CaseId = SS.CaseId
			LEFT JOIN dbo.CaseAnnotation CM on C.CaseId = CM.CaseId AND CM.AnnotationConfigurationId = @AnnotationConfigurationId
			WHERE C.UploadDate >= @FromDate  
			--Where C.CaseId < 100000
		Print 'Temp data End'
		PRINT GETDATE()

		IF @IsFullLoad = 1
		BEGIN 
			PRINT 'Truncating table [dbo].[CaseSolr]'
			TRUNCATE TABLE [dbo].[CaseSolr]


			Print 'Insert Started'
			PRINT GETDATE()
			INSERT INTO [dbo].[CaseSolr] ([CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], 
				[OverdueDate], [CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage], 
				[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity], [PatientState], 
				[PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory], [ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory],
				[ADDEND], ADDENDCount,
				[COMMENT], COMMENTCount, [FINAL], FINALCount, [GROSS], GROSSCount, [MICROSCOPIC], MICROSCOPICCount, [INTRAOP], INTRAOPCount, [RESIDENT], RESIDENTCount, [SYNOPTIC], SYNOPTICCount,
				[CLINICAL], [CLINICALCount],
				[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
				[AnnotationMalignant],
				[IsEpic], [IsEpicMigrated], [IsCopath],
				[IsActive], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [IsSolrUpdate], [IsConcentriq], [CaseConcentriqId]) 
			SELECT [CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], 
				[OverdueDate], [CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage], 
				[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity], [PatientState], 
				[PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory], [ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory],
				[ADDEND], ADDENDCount,
				[COMMENT], COMMENTCount, [FINAL], FINALCount, [GROSS], GROSSCount, [MICROSCOPIC], MICROSCOPICCount, [INTRAOP], INTRAOPCount, [RESIDENT], RESIDENTCount, [SYNOPTIC], SYNOPTICCount,
				[CLINICAL], [CLINICALCount],
				[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
				[AnnotationMalignant],
				[IsEpic], [IsEpicMigrated], [IsCopath],
				1, GETDATE(), USER, NULL, NULL, 1, 0, -1
			FROM @Data C
			 

			SET @RowsInserted = @@ROWCOUNT		 

			Print 'Insert Ended'		
			PRINT GETDATE()

		END
		ELSE
		BEGIN
			Print 'Update Started'
			PRINT GETDATE()
			UPDATE C
			 SET [SpecimenYear] = CS.[SpecimenYear]
		 		,[CaseNumber] = CS.[CaseNumber]
					,[AccessionDate] = CS.[AccessionDate]
					,[ReceiveDate] = CS.[ReceiveDate]
					,[OverdueDate] = CS.[OverdueDate]
					,[CollectionDate] = CS.[CollectionDate]
					,[SignoutDate] = CS.[SignoutDate]
					,[PatientName] = CS.[PatientName]
					,[PatientDOB] = CS.[PatientDOB]
					,[PatientEpi] = CS.[PatientEpi]
					,[PatientMrn] = CS.[PatientMrn]
					,[PatientLanguage] = CS.[PatientLanguage]
					,[PatientEthnicity] = CS.[PatientEthnicity]
					,[PatientGender] = CS.[PatientGender]
					,[PatientDeathDate] = CS.[PatientDeathDate]
					,[PatientIsDeceased] = CS.[PatientIsDeceased]
					,[PatientRace] = CS.[PatientRace]
					,[PatientCity] = CS.[PatientCity]
					,[PatientState] = CS.[PatientState]
					,[PatientCountry] = CS.[PatientCountry]
					,[Hospital] = CS.[Hospital]
					,[Region] = CS.[Region]
					,[CaseStatus] = CS.[CaseStatus]
					,[CaseType] = CS.[CaseType]
					,[CaseTypeCategory] = CS.[CaseTypeCategory]
					,[ReviewType] = CS.[ReviewType]
					,[Specialty] = CS.[Specialty]
					,[SpecialtyCode] = CS.[SpecialtyCode]
					,[SpecialtyCategory] = CS.[SpecialtyCategory]
					--,[ADDEND] = CS.[ADDEND]
					--,ADDENDCount = CS.ADDENDCount
					--,[COMMENT] = CS.[COMMENT]
					--,COMMENTCount = CS.COMMENTCount
					--,[FINAL] = CS.[FINAL]
					--,FINALCount = CS.FINALCount
					--,[GROSS] = CS.[GROSS]
					--,GROSSCount = CS.GROSSCount
					--,[INTRAOP] = CS.[INTRAOP]
					--,INTRAOPCount = CS.INTRAOPCount
					--,[RESIDENT] = CS.[RESIDENT]
					--,RESIDENTCount = CS.RESIDENTCount
					--,[SYNOPTIC] = CS.[SYNOPTIC]
					--,SYNOPTICCount = CS.SYNOPTICCount
					,[Interpreter] = CS.[Interpreter]
					,[ProcedureCategory] = CS.[ProcedureCategory]
					,[StaffName] = CS.[StaffName]
					,[SpecimenNumber] = CS.[SpecimenNumber]
					,[CasePatientAge] = CS.[CasePatientAge]
					,[CasePatientAgeYears] = CS.[CasePatientAgeYears]
					,[AnnotationMalignant] = CS.[AnnotationMalignant]
					,[IsEpic] = CS.[IsEpic]
					,[IsEpicMigrated] = CS.[IsEpicMigrated]
					,[IsCopath] = CS.[IsCopath]
					,[UpdateDate] = GETDATE()
					,[UpdateBy] = USER
					,[IsSolrUpdate] = 1
				FROM [dbo].[CaseSolr] C	
				join @Data CS on C.CaseId = CS.CaseId
				WHERE CS.[SpecimenYear] <> C.[SpecimenYear] OR
				CS.[CaseNumber] <> C.[CaseNumber] OR 
				CS.[AccessionDate] <> C.[AccessionDate] OR
				CS.[ReceiveDate] <> C.[ReceiveDate] OR
				CS.[OverdueDate] <> C.[OverdueDate] OR
				CS.[CollectionDate] <> C.[CollectionDate] OR
				CS.[SignoutDate] <> C.[SignoutDate] OR
				CS.[PatientName] <> C.[PatientName] OR
				CS.[PatientDOB] <> C.[PatientDOB] OR
				CS.[PatientEpi] <> C.[PatientEpi] OR
				CS.[PatientMrn] <> C.[PatientMrn] OR
				CS.[PatientLanguage] <> C.[PatientLanguage] OR
				CS.[PatientEthnicity] <> C.[PatientEthnicity] OR
				CS.[PatientGender] <> C.[PatientGender] OR
				CS.[PatientDeathDate] <> C.[PatientDeathDate] OR
				CS.PatientRace <> C.PatientRace OR
				CS.PatientCity <> C.PatientCity OR
				CS.PatientState <> C.PatientState OR
				CS.PatientCountry <> C.PatientCountry OR
				CS.Hospital <> C.Hospital OR
				CS.Region <> C.Region OR
				CS.CaseStatus <> C.CaseStatus OR
				CS.CaseType <> C.CaseType OR
				CS.CaseTypeCategory <> C.CaseTypeCategory OR
				CS.ReviewType <> c.ReviewType OR
				CS.Specialty <> C.Specialty OR
				CS.SpecialtyCode <> C.SpecialtyCode OR
				CS.[SpecialtyCategory] <> C.[SpecialtyCategory] OR
				--CS.ADDEND <> C.ADDEND OR
				--CS.COMMENT <> C.COMMENT OR
				--CS.FINAL <> C.FINAL OR
				--CS.GROSS <> C.GROSS OR
				--CS.INTRAOP <> C.INTRAOP OR
				--CS.RESIDENT <> C.RESIDENT OR
				--CS.SYNOPTIC <> C.SYNOPTIC OR
				CS.Interpreter <> C.Interpreter OR
				CS.ProcedureCategory <> C.ProcedureCategory OR
				CS.StaffName <> C.StaffName OR
				CS.SpecimenNumber <> C.SpecimenNumber OR
				CS.CasePatientAge <> C.[CasePatientAge] OR
				CS.[CasePatientAgeYears] <> C.[CasePatientAgeYears] OR
				--CS.ADDENDCount <> C.ADDENDCount OR
				--CS.COMMENTCount <> C.COMMENTCount OR
				--CS.GROSSCount <> C.GROSSCount OR
				--CS.INTRAOPCount <> C.INTRAOPCount OR
				--CS.RESIDENTCount <> C.RESIDENTCount OR
				--CS.SYNOPTICCount <> C.SYNOPTICCount OR
				--CS.FINALCount <> C.FINALCount OR
				CS.[AnnotationMalignant] <> C.[AnnotationMalignant] OR
				CS.IsEpic <> C.IsEpic OR 
				CS.IsEpicMigrated <> C.IsEpicMigrated OR
				CS.IsCopath <> C.IsCopath 
			
				 SET @RowsUpdated = @@ROWCOUNT	
		
				Print 'Update End'
				PRINT GETDATE()
		 
			Print 'Insert Started'
			PRINT GETDATE()
			INSERT INTO [dbo].[CaseSolr] ([CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], 
				[OverdueDate], [CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage], 
				[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity], [PatientState], 
				[PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory], [ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory],
				[ADDEND], ADDENDCount,
				[COMMENT], COMMENTCount, [FINAL], FINALCount, [GROSS], GROSSCount, [MICROSCOPIC], MICROSCOPICCount, [INTRAOP], INTRAOPCount, [RESIDENT], RESIDENTCount, [SYNOPTIC], SYNOPTICCount,
				[CLINICAL], [CLINICALCount],
				[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
				[AnnotationMalignant],
				[IsEpic], [IsEpicMigrated], [IsCopath],
				[IsActive], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [IsSolrUpdate], [IsConcentriq], [CaseConcentriqId]) 
			SELECT [CaseId], [RefRequisitionKey], [SpecimenYear], [CaseNumber], [AccessionDate], [ReceiveDate], 
				[OverdueDate], [CollectionDate], [SignoutDate], [PatientName], [PatientDOB], [PatientEpi], [PatientMrn], [PatientLanguage], 
				[PatientEthnicity], [PatientGender], [PatientDeathDate], [PatientIsDeceased], [PatientRace], [PatientCity], [PatientState], 
				[PatientCountry], [Hospital], [Region], [CaseStatus], [CaseType], [CaseTypeCategory], [ReviewType], [Specialty], [SpecialtyCode], [SpecialtyCategory],
				[ADDEND], ADDENDCount,
				[COMMENT], COMMENTCount, [FINAL], FINALCount, [GROSS], GROSSCount, [MICROSCOPIC], MICROSCOPICCount, [INTRAOP], INTRAOPCount, [RESIDENT], RESIDENTCount, [SYNOPTIC], SYNOPTICCount,
				[CLINICAL], [CLINICALCount],
				[Interpreter], [ProcedureCategory], [StaffName], [SpecimenNumber], [CasePatientAge], [CasePatientAgeYears],
				[AnnotationMalignant],
				[IsEpic], [IsEpicMigrated], [IsCopath],
				1, GETDATE(), USER, NULL, NULL, 1, 0, -1
			FROM @Data C
				WHERE NOT EXISTS (SELECT 0 FROM [dbo].[CaseSolr] CS WHERE C.CaseId = CS.CaseId) 

			SET @RowsInserted = @@ROWCOUNT		 

			Print 'Insert Ended'		
			PRINT GETDATE()
		END

		IF OBJECT_ID(N'dbo.ConcentriqCase', N'U') IS NOT NULL
		BEGIN
			-- Optional hospital-specific enrichment.
			UPDATE [dbo].[CaseSolr]
				SET [IsConcentriq] = 1,
					[CaseConcentriqId] = CC.[ConcentriqCaseId],
					[IsSolrUpdate] = 1
				FROM [dbo].[CaseSolr] CS
				JOIN [dbo].[ConcentriqCase] CC on CS.CaseId = CC.CaseId
				WHERE CC.CaseId <> -1 AND CC.IsActive = 1 AND CS.[IsConcentriq] = 0

			SET @RowsUpdated = @RowsUpdated + @@ROWCOUNT
		END

		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
										,@LoadTime;
		SET @RowsInserted = 0
		SET @RowsUpdated = 0
		 
		--Update the Comments		
		Declare @CommentTypeId INT
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'ADDEND')
		Update C		 
		Set [ADDEND] = ISNULL(CA.CommentText, '')
			,ADDENDCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId		
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_ADDEND'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;
		
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'COMMENT')
		Update C		 
		Set [COMMENT] = ISNULL(CA.CommentText, '')
			,COMMENTCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_COMMENT'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;
		
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'FINAL')
		Update C		 
		Set [FINAL] = ISNULL(CA.CommentText, '')
			,FINALCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_FINAL'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;
 
		
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'GROSS')
		Update C		 
		Set [GROSS] = ISNULL(CA.CommentText, '')
			,GROSSCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_GROSS'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;

		
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'MICROSCOPIC')
		Update C		 
		Set [MICROSCOPIC] = ISNULL(CA.CommentText, '')
			,MICROSCOPICCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_MICROSCOPIC'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										@RowsUpdated,
										@RowsUpdated,
										1,
											''
										,@LoadTime;

		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'INTRAOP')
		Update C		 
		Set [INTRAOP] = ISNULL(CA.CommentText, '')
			,INTRAOPCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_INTRAOP'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;
		
		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'RESIDENT')
		Update C		 
		Set [RESIDENT] = ISNULL(CA.CommentText, '')
			,RESIDENTCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_RESIDENT'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;

		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'SYNOPTIC')
		Update C		 
		Set [SYNOPTIC] = ISNULL(CA.CommentText, '')
			,SYNOPTICCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_SYNOPTIC'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;

		
		--Update CS 
		--SET SYNOPTICCount = (SYNOPTICCount + 1), Synoptic = Synoptic +  '||--||#Synoptic Report#',
		--IsSolrUpdate = 1
		--FROM
		--CaseSolr CS where exists (select 0 from CaseCommentSynopticSpecimen SS Where CS.CaseId = SS.CaseId)
		--AND Synoptic NOT LIKE '%#Synoptic Report#%' AND SYNOPTICCount > 0

		--SET @RowsUpdated = @@ROWCOUNT
		--Update CS 
		--SET SYNOPTICCount = (SYNOPTICCount + 1), Synoptic = Synoptic +  '#Synoptic Report#',
		--IsSolrUpdate = 1
		--FROM
		--CaseSolr CS where exists (select 0 from CaseCommentSynopticSpecimen SS Where CS.CaseId = SS.CaseId)
		--AND Synoptic NOT LIKE '%#Synoptic Report#%' AND SYNOPTICCount = 0
	 
		--SET @RowsUpdated = @RowsUpdated + @@ROWCOUNT
		--SET @Table = 'CaseSolr_SYNOPTIC_REPORT'
		--Print 'Update Ended: ' + @Table	
		--SELECT @EndTime=GETDATE()
		--SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		--SELECT @StartTime=GETDATE()
		--EXEC dbo.P_SSIS_LogMainTable @Table,
		--							@RowsInserted,
		--							@RowsInserted,
		--							@RowsUpdated,
		--							@RowsUpdated,
		--							1,
		--								''
		--							,@LoadTime;





		SET @CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'CLINICAL')
		Update C		 
		Set [CLINICAL] = ISNULL(CA.CommentText, '')
			,CLINICALCount = ISNULL(CA.CommentCount, 0)
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			LEFT Join dbo.CaseCommentSolr CA on C.CaseId = CA.CaseId
			and CA.CommentTypeId = @CommentTypeId
			WHERE CA.CreateDate >= @FromDate
		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_CLINICAL'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;

		-- EPIC Synoptic Comments to be updated
		Update C		 
		Set [SYNOPTIC] = ISNULL([SYNOPTIC], '') + ISNULL(CA.ReportText, '')
			,SYNOPTICCount = SYNOPTICCount + 1
			,[IsSolrUpdate] = 1
		from[dbo].[CaseSolr] C -- 6958048 
			Join
			(SELECT     cpt.CaseId,
				MAX(cpt.SynopticId) SynopticId,
				String_agg(CAST(([KEY] +  ' - ' + [Value]) as nvarchar(MAX)), '   ||||   '  ) 
				within GROUP (ORDER BY [SynopticId], [Level]) AS ReportText
				FROM      CaseCommentSynopticReportData cpt				 
				WHERE    1 = 1 AND cpt.CreateDate >= @FromDate
				GROUP BY  cpt.CaseId) CA on C.CaseId = CA.CaseId
				WHERE C.SYNOPTIC <> '%  ||  %'


		SET @RowsUpdated = @@ROWCOUNT
		SET @Table = 'CaseSolr_Synoptic_Report'
		Print 'Update Ended: ' + @Table	
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		SELECT @StartTime=GETDATE()
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsInserted,
									@RowsInserted,
									@RowsUpdated,
									@RowsUpdated,
									1,
										''
									,@LoadTime;
		
		 


	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SET @RowsInserted = @@ROWCOUNT
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)		
		EXEC dbo.P_SSIS_LogMainTable @Table,
										@RowsInserted,
										@RowsInserted,
										0,
										0,
										0,
										@ERROR
										,@LoadTime;
	END CATCH
END
GO
