/****** Object:  StoredProcedure [P_SSIS_LoadCaseCommentSolr]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.P_SSIS_LoadCaseCommentSolr
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @RowsInserted INT = 0
	DECLARE @RowsUpdated INT = 0
	DECLARE @RowsToBeInserted INT = 0
	DECLARE @RowsToBeUpdated INT = 0
	DECLARE @Table Varchar(100) = 'CaseCommentSolr'
	DECLARE @EndTime datetime
	DECLARE @StartTime datetime, @LoadTime INT
	SELECT @StartTime=GETDATE() 
	--TRUNCATE Table  [dbo].[CaseCommentSolr];

	--DROP INDEX IF EXISTS [IX_CaseCommentSolr_CaseId] ON [dbo].[CaseCommentSolr];
	--DROP INDEX IF EXISTS [IX_CaseCommentSolr_CommentTypeId] ON [dbo].[CaseCommentSolr];
	Declare @FromDate DATE 
	SET @FromDate =(SELECT VAL FROM SSIS_ConfigRun WHERE [NAME] = 'FromDate')
	--PRINT @FromDate
	BEGIN TRY 

		-- Consider the records to be inserted
		SET @RowsToBeInserted = (SELECT COUNT(0) FROM dbo.CaseComment WHERE CreateDate >= @FromDate)

		-- Consider the records to be updated
		SET @RowsToBeUpdated = 0

		If @RowsToBeInserted > 800000
		BEGIN
			TRUNCATE TABLE [dbo].[CaseCommentSolr]
		END

		delete FROM [dbo].[CaseCommentSolr]
		WHERE EXISTS (SELECT 0 FROM [dbo].CaseComment WHERE [dbo].CaseComment.CaseId = [dbo].[CaseCommentSolr].CaseId AND
		[dbo].CaseComment.CommentTypeId = [dbo].[CaseCommentSolr].CommentTypeId AND [dbo].CaseComment.CreateDate >= @FromDate)



		DROP INDEX IF EXISTS [IX_CaseCommentSolr_CaseId] ON [dbo].[CaseCommentSolr];
		DROP INDEX IF EXISTS [IX_CaseCommentSolr_CommentTypeId] ON [dbo].[CaseCommentSolr];

		INSERT INTO [dbo].[CaseCommentSolr]
		SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CS.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CS.CommentTypeId, CT.ShortName CommentType,  
		Count(0) CommentCount , STRING_AGG(CS.[Text], '   ||||   ,') WITHIN GROUP (ORDER BY CS.[Text] ASC) AS CommentText, GETDATE(), USER, NULL, NULL  
		--MAX(CS.CreateDate) CreateDate, MAX(CS.UpdateDate) UpdateDate
		FROM  CaseComment CS 
		join CaseCommentSourceInfo CI on CS.CaseId = CI.CaseId
		join CommentType CT on CS.CommentTypeId = CT.CommentTypeId
		WHERE --CS.CaseId = 673895 AND 
		CI.IsEpicMigrated = 1 AND 
		CS.RefLabCompName <> 'FINAL PERFORMING LAB'
		AND CS.CreateDate >= @FromDate		 
		GROUP BY CS.CaseId, CS.CommentTypeId, CT.ShortName		 
		
		SET @RowsInserted = @@ROWCOUNT

		INSERT INTO [dbo].[CaseCommentSolr]
		SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CE.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CE.CommentTypeId, CT.ShortName CommentType,  
		Count(0) CommentCount , 
		STRING_AGG(CE.[Text], '   ||||   ,') WITHIN GROUP (ORDER BY CE.[Text] ASC) AS CommentText, GETDATE(), USER, NULL, NULL
		FROM  CaseCommentSourceInfo CS 
		join CaseCommentEpic CE on CS.CaseId = CE.CaseId
		join CommentType CT on CE.CommentTypeId = CT.CommentTypeId
		Where --CS.CaseId = 673895 AND 
		CS.IsEpicMigrated = 0 AND CS.IsEpic = 1 AND 
		RefLabCompName <> 'FINAL PERFORMING LAB'
		AND CS.CreateDate >= @FromDate
		GROUP BY CS.CaseId, CE.CommentTypeId, CT.ShortName 
		ORDER BY CT.ShortName
		SET @RowsInserted = @RowsInserted + @@ROWCOUNT

	 

		SET @RowsUpdated = 0
		Print 'Update End'
		
		
		 
		 
		 
		CREATE NONCLUSTERED INDEX [IX_CaseCommentSolr_CaseId] ON [dbo].[CaseCommentSolr]
		(
			[CaseId] ASC
		)

		CREATE NONCLUSTERED INDEX [IX_CaseCommentSolr_CommentTypeId] ON [dbo].[CaseCommentSolr]
		(
			[CommentTypeId] ASC
		)
		 
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
									@RowsToBeInserted,
									@RowsInserted,
									@RowsToBeUpdated,
									@RowsUpdated,
									1,
									'',
									@LoadTime;
	
	END TRY 
	BEGIN CATCH 
		DECLARE @ERROR VARCHAR(MAX) = ERROR_MESSAGE()
		SELECT @EndTime=GETDATE()
		SET @LoadTime = DATEDIFF(SECOND, @StartTime, @EndTime)
		EXEC dbo.P_SSIS_LogMainTable @Table,
								@RowsToBeInserted,
								@RowsInserted,
								@RowsToBeUpdated,
								@RowsUpdated,
								0,
								@ERROR,
								@LoadTime;

		 
	END CATCH
END
 
 