/****** Object:  View [V_Case_MRN]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    VIEW [V_Case_MRN] AS 

select  C.CaseId, C.CaseNumber, P.MRN PatientMrn
from dbo.[Case] C
Join dbo.V_Patient P on C.PatientId = P.PatientId
GO
