/****** Object:  View [V_CaseStaffAll]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseStaffAll] AS
	select  CS.CaseStaffId, CS.CaseId, CS.StaffId, S.FullName, S.UserId, S.StartDate, S.EndDate, S.CreateDate, S.UpdateDate
	from dbo.[CaseStaff] CS
	Join dbo.Staff S on CS.StaffId = S.StaffId
GO
