/****** Object:  View [V_Hospital]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    VIEW [V_Hospital] AS 
Select H.HospitalId, H.ShortName Hospital, H.DataLabReference HospitalKey,
R.ShortName Region
from 
dbo.Hospital H 
join dbo.Region R on H.RegionId = R.RegionId
GO
