/****** Object:  View [V_Interpreter]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_Interpreter] AS 

SELECT C.CaseId, STRING_AGG(C.FullName, ' | ')  Interpreter, STRING_AGG(C.ProcedureCategory, ' | ')  ProcedureCategory,  Count(0) InterpreterCount  
FROM  (Select distinct CaseId, FullName, ProcedureCategoryDescription  ProcedureCategory From dbo.Interpreter ) C
GROUP BY CaseId
GO
