/****** Object:  View [V_CaseComment_Consolidated]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseComment_Consolidated] AS 

SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CE.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CE.CommentTypeId, Count(0) CommentCount , 
STRING_AGG(CE.[Text], '   ||||   ,') AS CommentText
FROM  CaseCommentSourceInfo CS 
join CaseCommentEpic CE on CS.CaseId = CE.CaseId
Where IsEpic = 1
GROUP BY CS.CaseId, CE.CommentTypeId 

UNION ALL

SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CE.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CE.CommentTypeId, Count(0) CommentCount , 
STRING_AGG(CE.[Text], '   ||||   ,') AS CommentText
FROM  CaseCommentSourceInfo CS 
join CaseCommentEpicMigrated CE on CS.CaseId = CE.CaseId
Where IsEpic = 0 and IsEpicMigrated = 1
GROUP BY CS.CaseId, CE.CommentTypeId 


--select count(0) from V_CaseComment_Consolidated
GO
