/****** Object:  View [V_Case]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW dbo.V_Case AS 

select  C.CaseId, C.RefRequisitionId RefRequisitionKey, C.SpecimenYear, C.CaseNumber, C.AccessionDate, C.ReceiveDate, C.OverdueDate, C.CollectionDate, C.SignoutDate,
dbo.F_FullName(P.FirstName, P.MiddleName, P.LastName) PatientName, P.DOB PatientDOB, 
P.EpiId PatientEpi, P.MRN PatientMrn, P.Language PatientLanguage, P.Ethnicity PatientEthnicity, P.Gender PatientGender, P.DeathDate PatientDeathDate, 
P.IsDeceased PatientIsDeceased, P.Race PatientRace, P.City PatientCity, P.State PatientState, P.Country PatientCountry,
H.Hospital, H.Region, CS.ShortName CaseStatus, CT.ShortName CaseType, CT.CaseTypeCategory CaseTypeCategory, CT.ReviewType, S.ShortName Specialty, S.Code SpecialtyCode, S.SpecialtyCategory SpecialtyCategory,
dbo.F_CasePatientAge(P.DOB, C.AccessionDate) CasePatientAge,
CASE P.DOB
	WHEN '1800-01-01' THEN 0
	ELSE ISNULL(DATEDIFF(YEAR, P.DOB, C.AccessionDate), 0) 
END CasePatientAgeYears,
ISNULL(CAM.AnnotationValue, '-') AnnotationMalignant,
CSI.IsEpicMigrated, CSI.IsEpic, CSI.IsCopath,
C.CreateDate, C.UpdateDate, C.UploadDate, CSS.IsConcentriq, CSS.CaseConcentriqId
from dbo.[Case] C
Join dbo.V_Patient P on C.PatientId = P.PatientId
Join dbo.V_Hospital H on C.HospitalId = H.HospitalId
Join dbo.CaseStatus CS on C.CaseStatusId = CS.CaseStatusId
Join dbo.CaseType CT on C.CaseTypeId = CT.CaseTypeId
Join dbo.Specialty S on C.SpecialtyId = S.SpecialtyId
Join dbo.CaseCommentSourceInfo CSI on C.CaseId = CSI.CaseId
Left Join dbo.CaseAnnotation CAM on C.CaseId = CAM.CaseId
LEFT JOIN dbo.CaseSolr CSS on C.CaseId = CSS.CaseId
 

--select count(0) from dbo.[Case] -- 6921760
--select count(0) from V_Case -- 6921760

--select top 10 * from V_Case