/****** Object:  View [V_AuditTrail_Report]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_AuditTrail_Report]
AS

Select Top 12 [Search].[Month] [Date],
DATENAME(MM, [Search].[Month]) [MonthName], 
DATEPART(MONTH, [Search].[Month]) [Month],
DATEPART(YEAR, [Search].[Month]) [Year],
[Search].[Count] as SearchCount, [Case].[Count] as CaseCount FROM 
(
	select DATEADD(MONTH, DATEDIFF(MONTH, 0, CreateDate), 0) [Month], COUNT(0) [Count] FROM
	[AuditTrailSearch] WHERE [CreateDate] > (GETDATE() - 400)
	GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, CreateDate), 0)
) [Search]
JOIN
(
select DATEADD(MONTH, DATEDIFF(MONTH, 0, CreateDate), 0) [Month], COUNT(0) [Count] FROM
AuditTrailCase WHERE [CreateDate] > (GETDATE() - 400)
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, CreateDate), 0)
) [Case] ON [Search].[Month] = [Case].[Month]
--ORDER BY [Search].[Month]
GO
