/****** Object:  View [V_InterpreterAll]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_InterpreterAll] AS 

SELECT InterpreterId,  CaseId, FullName Interpreter, ProcedureCategoryDescription  ProcedureCategory,
CreateDate CreateDate, UpdateDate UpdateDate
FROM  dbo.Interpreter
GO
