/****** Object:  View [V_CaseAll_Consolidated]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [V_CaseAll_Consolidated] AS 
 
select C.*,
ISNULL(CA.CommentText, '') ADDEND, ISNULL(CA.CommentCount, 0) ADDENDCount,
ISNULL(CC.CommentText, '') COMMENT, ISNULL(CC.CommentCount, 0) COMMENTCount, 
ISNULL(CF.CommentText, '') FINAL, ISNULL(CF.CommentCount, 0) FINALCount, 
ISNULL(CG.CommentText, '') GROSS, ISNULL(CG.CommentCount, 0) GROSSCount, 
ISNULL(CI.CommentText, '') INTRAOP, ISNULL(CI.CommentCount, 0) INTRAOPCount, 
ISNULL(CR.CommentText, '') RESIDENT, ISNULL(CR.CommentCount, 0) RESIDENTCount, 
ISNULL(CS.CommentText, '') SYNOPTIC, ISNULL(CS.CommentCount, 0) SYNOPTICCount,
ISNULL(CL.CommentText, '') CLINICAL, ISNULL(CL.CommentCount, 0) CLINICALCount,
ISNULL(I.Interpreter, '') Interpreter, ISNULL(I.ProcedureCategory, '') ProcedureCategory, 
ISNULL(SSF.StaffName, '') StaffName, ISNULL(SS.SpecimenNumber, '') SpecimenNumber, GETDATE() CurrentDate
--,CSI.IsEpic, CSI.IsEpicMigrated, CSI.IsCopath
from dbo.[V_Case] C
JOIN CaseCommentSourceInfo CSI ON C.CaseId = CSI.CaseId
LEFT Join dbo.V_CaseComment_Consolidated CA on C.CaseId = CA.CaseId and CA.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'ADDEND')
LEFT Join dbo.V_CaseComment_Consolidated CC on C.CaseId = CC.CaseId and CC.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'COMMENT')
LEFT Join dbo.V_CaseComment_Consolidated CF on C.CaseId = CF.CaseId and CF.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'FINAL')
LEFT Join dbo.V_CaseComment_Consolidated CG on C.CaseId = CG.CaseId and CG.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'GROSS')
LEFT Join dbo.V_CaseComment_Consolidated CI on C.CaseId = CI.CaseId and CI.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'INTRAOP')
LEFT Join dbo.V_CaseComment_Consolidated CR on C.CaseId = CR.CaseId and CR.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'RESIDENT')
LEFT Join dbo.V_CaseComment_Consolidated CS on C.CaseId = CS.CaseId and CS.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'SYNOPTIC')
LEFT Join dbo.V_CaseComment_Consolidated CL on C.CaseId = CL.CaseId and CL.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'CLINICAL')
LEFT join dbo.V_Interpreter I on C.CaseId = I.CaseId
LEFT join dbo.V_CaseStaff SSF on C.CaseId = SSF.CaseId
LEFT JOIN dbo.V_Specimen SS on C.CaseId = SS.CaseId



--select * From V_CaseAll_Consolidated
GO
