/****** Object:  View [V_CaseCommentText]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseCommentText] AS 

SELECT CS.CaseCommentId Id, CS.CaseId, CS.CommentTypeId, CT.ShortName CommentType,  CS.[Text] AS CommentText, 
REPLACE(CS.RefLabCompName, 'CONVERTED ', '') as SourceCommentType,
CS.CreateDate, CS.UpdateDate
FROM  CaseComment CS 
join CommentType CT on CS.CommentTypeId = CT.CommentTypeId
 

 --select count(0) from dbo.V_CaseCommentAll -- 8498894
 --select count(0) from dbo.CaseComment -- 8884743


 --select top 10 * from dbo.V_CaseCommentAll
GO
