/****** Object:  View [V_CaseCommentEpic]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseCommentEpic] AS 

SELECT CS.CaseCommentCoEpicId Id, CS.CaseId, CS.CommentTypeId, CT.ShortName CommentType,   REPLACE(CS.[Text], '||--||', '') AS CommentText, 
CS.RefLabCompName as SourceCommentType,
CS.CreateDate, CS.UpdateDate
FROM  CaseCommentEpic CS 
join CommentType CT on CS.CommentTypeId = CT.CommentTypeId
GO
