/****** Object:  View [V_CaseAll]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [V_CaseAll] AS 
 
select C.*, 
--dbo.F_CasePatientAge(PatientDOB, AccessionDate) CasePatientAge, 
--ISNULL(DATEDIFF(YEAR, PatientDOB, AccessionDate), 0) CasePatientAgeYears, 
ISNULL(CA.CommentText, '') ADDEND, ISNULL(CA.CommentCount, 0) ADDENDCount,
ISNULL(CC.CommentText, '') COMMENT, ISNULL(CC.CommentCount, 0) COMMENTCount, 
ISNULL(CF.CommentText, '') FINAL, ISNULL(CF.CommentCount, 0) FINALCount, 
ISNULL(CG.CommentText, '') GROSS, ISNULL(CG.CommentCount, 0) GROSSCount, 
ISNULL(CI.CommentText, '') INTRAOP, ISNULL(CI.CommentCount, 0) INTRAOPCount, 
ISNULL(CR.CommentText, '') RESIDENT, ISNULL(CR.CommentCount, 0) RESIDENTCount, 
ISNULL(CS.CommentText, '') SYNOPTIC, ISNULL(CS.CommentCount, 0) SYNOPTICCount,
ISNULL(CL.CommentText, '') CLINICAL, ISNULL(CL.CommentCount, 0) CLINICALCount,
ISNULL(I.Interpreter, '') Interpreter, ISNULL(I.ProcedureCategory, '') ProcedureCategory, 
ISNULL(SSF.StaffName, '') StaffName, ISNULL(SS.SpecimenNumber, '') SpecimenNumber, GETDATE() CurrentDate
from dbo.[V_Case] C
JOIN CaseCommentSourceInfo CSI ON C.CaseId = CSI.CaseId
LEFT Join dbo.V_CaseComment CA on C.CaseId = CA.CaseId and CA.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'ADDEND')
LEFT Join dbo.V_CaseComment CC on C.CaseId = CC.CaseId and CC.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'COMMENT')
LEFT Join dbo.V_CaseComment CF on C.CaseId = CF.CaseId and CF.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'FINAL')
LEFT Join dbo.V_CaseComment CG on C.CaseId = CG.CaseId and CG.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'GROSS')
LEFT Join dbo.V_CaseComment CI on C.CaseId = CI.CaseId and CI.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'INTRAOP')
LEFT Join dbo.V_CaseComment CR on C.CaseId = CR.CaseId and CR.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'RESIDENT')
LEFT Join dbo.V_CaseComment CS on C.CaseId = CS.CaseId and CS.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'SYNOPTIC')
LEFT Join dbo.V_CaseComment CL on C.CaseId = CL.CaseId and CL.CommentTypeId = (Select CommentTypeId from CommentType Where Code = 'CLINICAL')
LEFT join dbo.V_Interpreter I on C.CaseId = I.CaseId
LEFT join dbo.V_CaseStaff SSF on C.CaseId = SSF.CaseId
LEFT JOIN dbo.V_Specimen SS on C.CaseId = SS.CaseId

 
--select count(0) from dbo.[Case] -- 6921760
--select count(0) from V_CaseAll -- 6921760

--select TOP 10 * from V_CaseAll Where CaseId = 5752824
--select TOP 10 * from V_CaseAll Where CaseId = 5752824
--select TOP 10 * from V_CaseComment
GO
