/****** Object:  View [V_CaseCommentCopath]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseCommentCopath] AS 

SELECT CS.CaseCommentCoPathId Id, CS.CaseId, CS.CommentTypeId, CT.ShortName CommentType,  CS.[RtfText] AS CommentText, 
CS.RefTextType as SourceCommentType,
CS.CreateDate, CS.UpdateDate
FROM  CaseCommentCoPath CS 
left join CommentType CT on CS.CommentTypeId = CT.CommentTypeId
Where CS.[Text] is not null
GO
