/****** Object:  View [V_CaseStaff]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseStaff] AS
	  select CS.CaseId, Count(0) StaffCount, STRING_AGG(S.FullName, ' | ') WITHIN GROUP (ORDER BY S.FullName ASC) StaffName
	from dbo.[CaseStaff] CS
	Join dbo.Staff S on CS.StaffId = S.StaffId
	Group by CS.CaseId



--select count(0) from V_CaseStaff -- 606892
--select count(0) from CaseStaff --606892
--select top 10  * from V_CaseStaff --606892
  

-- Select top 10 * from V_CaseStaff where StaffCount > 2
GO
