/****** Object:  View [V_SpecimenAll]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   VIEW [V_SpecimenAll] AS 

select S.SpecimenId, S.CaseId, S.SpecimenNumber, C.CaseNumber, S.CollectionDate, S.ReceivedDate, S.ClosedDate, S.IsReceivedByBarcode, 
SS.ShortName SpecimenStatus, CS.ShortName SpecimenDrawType, CT.ShortName SpecimenSource, CS.CreateDate, CS.UpdateDate
from dbo.[Specimen] S
Join dbo.[Case] C on S.CaseId = C.CaseId
Join dbo.SpecimenStatus SS on S.SpecimenStatusId = SS.SpecimenStatusId
Join dbo.SpecimenDrawType CS on S.SpecimenDrawTypeId = CS.SpecimenDrawTypeId
Join dbo.SpecimenSource CT on S.SpecimenSourceId = CT.SpecimenSourceId


--select count(0) from [Specimen] -- 9870486
--select count(0) from [V_Specimen] -- 9870486

--select top 10 * from [V_Specimen]
GO
