/****** Object:  View [V_SearchRequest]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [V_SearchRequest] AS 

select SR.SearchRequestId, SR.SearchId, SR.SearchRequestReasonId, 
R.ShortName SearchRequestReason, R.Code SearchRequestReasonCode,
SR.RequesterId, SR.SearchRequestStatusId, 
SR.RequestName, SR.FromDate, SR.ToDate,
SR.IRB, SR.IsPediatric,
SR.RequestDocumentExtension, SR.RequestComment, SR.ApprovedDate, SR.ApprovalComment, SR.IsActive,
S.[Name] SearchName, 
SS.ShortName SearchRequestStatus,
dbo.F_FullName(Requester.FirstName, '', Requester.LastName) RequestedBy,
dbo.F_FullName(Approver.FirstName, '', Approver.LastName) ApprovedBy,
SR.CreateDate, SR.UpdateDate
from [dbo].[SearchRequest] SR
JOIN dbo.Search S on SR.SearchId = S.SearchId
JOIN dbo.SearchRequestReason R on SR.SearchRequestReasonId = R.SearchRequestReasonId
JOIN dbo.SearchRequestStatus SS ON SR.SearchRequestStatusId = SS.SearchRequestStatusId
LEFT JOIN dbo.[User] Requester ON SR.RequesterId = Requester.UserId
LEFT JOIN dbo.[User] Approver ON SR.ApprovedById = Approver.UserId
GO
