/****** Object:  View [V_Patient_Hash]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [V_Patient_Hash] AS 
Select P.PatientId, P.RefPatientKey, P.FirstName, P.LastName, P.MiddleName, P.DOB, P.MRN, P.EpiId, P.City, P.[State], P.Country, P.IsDeceased, P.DeathDate, G.GenderId, G.ShortName Gender, 
E.EthnicityId, E.ShortName Ethnicity, R.RaceId, R.ShortName Race, M.MaritalStatusId, M.ShortName MaritalStatus, L.LanguageId, L.ShortName [Language],
ISNULL(CONVERT(varchar(64), HASHBYTES('SHA2_256', P.PatId + P.MRN + P.FirstName + P.LastName + convert(varchar(25), P.DOB, 121)),2),'') PatientHash
from 
dbo.Patient P 
join dbo.Gender G on P.GenderId = G.GenderId
join dbo.Ethnicity E on P.EthnicityId = E.EthnicityId
join dbo.Race R on P.RaceId = R.RaceId
join dbo.MaritalStatus M on P.MaritalStatusId = M.MaritalStatusId
join dbo.[Language] L on P.LanguageId = L.LanguageId
GO
