/****** Object:  View [V_CaseComment]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_CaseComment] AS 

SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CS.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CS.CommentTypeId, CT.ShortName CommentType,  
Count(0) CommentCount , STRING_AGG(CS.[Text], '   ||||   ,') AS CommentText  
--MAX(CS.CreateDate) CreateDate, MAX(CS.UpdateDate) UpdateDate
FROM  CaseComment CS 
join CaseCommentSourceInfo CI on CS.CaseId = CI.CaseId
join CommentType CT on CS.CommentTypeId = CT.CommentTypeId
WHERE CI.IsEpicMigrated = 1 AND 
CS.RefLabCompName <> 'FINAL PERFORMING LAB'
GROUP BY CS.CaseId, CS.CommentTypeId, CT.ShortName

 UNION ALL

 SELECT (Cast(CS.CaseId as VARCHAR) + CAST(CE.CommentTypeId AS VARCHAR)) as Id, CS.CaseId, CE.CommentTypeId, CT.ShortName CommentType,  
Count(0) CommentCount , 
STRING_AGG(CE.[Text], '   ||||   ,') AS CommentText
FROM  CaseCommentSourceInfo CS 
join CaseCommentEpic CE on CS.CaseId = CE.CaseId
join CommentType CT on CE.CommentTypeId = CT.CommentTypeId
Where CS.IsEpicMigrated = 0 AND CS.IsEpic = 1 AND 
RefLabCompName <> 'FINAL PERFORMING LAB'
GROUP BY CS.CaseId, CE.CommentTypeId, CT.ShortName 

 --select count(0) from dbo.V_CaseComment -- 8498894
 --select count(0) from dbo.CaseComment -- 8884743

 --select top 5 *  from dbo.V_CaseComment order by CaseId desc
 
 --select * from CaseComment WHERE RefLabCompName = 'FINAL PERFORMING LAB'

 --select * from CaseComment Where CaseId  = 3059521
 --select * from V_CaseComment Where CaseId  = 3059521

 


 --select * from STG_CASE_COMMENT_FINAL
GO
