/****** Object:  View [V_Specimen]    Script Date: 9/10/2025 4:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [V_Specimen] AS 
 
	  select S.CaseId, Count(0) SpecimenCount, STRING_AGG(S.SpecimenNumber, ' | ') SpecimenNumber
	from dbo.[Specimen] S 
	Group by S.CaseId
GO
