/****** Object:  UserDefinedFunction [F_RTF2TXT]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [F_RTF2TXT]
(@In VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
	If isnull(@In,'') = '' return ''
	If @In not like '{\rtf%' return @In
	Declare @Len int
	Declare @Loc int = 1
	Declare @Char char(1) = ''
	Declare @PrevChar char(1) = ''
	Declare @NextChar char(1) = ''
	Declare @InMarkup int = 0
	Declare @InBrackets int = -1
	Declare @Out varchar(max) = ''
	--Replace \line with New Line
	set @In = replace(@In, '\pard', '\paxd')

	set @In = replace(@In, '\line', char(13)+char(10))	
	set @In = replace(@In, '\par', ' }' + char(13)+char(10) + '{ ')
	--set @In = replace(@In, '\fs20', char(13)+char(10))
	 
	--set @In = replace(@In, '\line', 'XYXYNEW-LINEXYXY')
	--set @In = replace(@In, '\par', 'XYXYNEW-LINEXYXY')

	--\par
	--set @In = replace(@In, '\line', '\n')
		Set @Len = len(@In)
		While @Loc < @Len begin
			Set @PrevChar = @Char
			Set @Char = SUBSTRING(@In, @Loc, 1)
			If @Loc < @Len set @NextChar = SUBSTRING(@In, @Loc + 1, 1) else set @NextChar = ''
			Set @Loc = @Loc + 1
			If @Char = '{' and @PrevChar != '\' begin
				Set @InBrackets = @InBrackets + 1
				Continue
			End
			If @Char = '}' and @PrevChar != '\' begin
				Set @InBrackets = @InBrackets - 1
				Continue
			End
			If @Char = '\' and @PrevChar != '\' and @NextChar not in ('\','{','}','~','-','_') begin
				Set @InMarkup = 1
				continue
			End
			If @Char = ' ' or @Char = char(13) begin
				Set @InMarkup = 0
			
			End
			If @InMarkup > 0 or @InBrackets > 0 continue
		
			Set @Out = @Out + @Char

		End

	Set @Out = replace(@Out, '\\', '\')
	Set @Out = replace(@Out, '\{', '{')
	Set @Out = replace(@Out, '\}', '}')
	Set @Out = replace(@Out, '\~', ' ')
	Set @Out = replace(@Out, '\-', '-')
	Set @Out = replace(@Out, '\_', '-')

	WHILE ASCII(@Out) < 33
	BEGIN
	set @Out = substring(@Out,2,len(@Out))
	END

	set @Out = reverse(@Out)

	WHILE ASCII(@Out) < 33
	BEGIN
	set @Out = substring(@Out,2,len(@Out))
	END

	set @Out = reverse(@Out) 
	--set @Out = replace(@Out, 'XYXYNEW-LINEXYXY', char(13)+char(10))
	--set @Out = replace(@Out, 'XYXYNEW-LINEXYXY', '\n')
	RETURN LTRIM(RTRIM(@Out))
End
GO
