/****** Object:  UserDefinedFunction [F_CasePatientAge]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [F_CasePatientAge] (@PatientAge DATE, @AccesssionDate DATE) RETURNS VARCHAR(100)
 AS
 BEGIN
	DECLARE @RESULT INT = -1
	DECLARE @Text VARCHAR(100) = ''
	SET @RESULT = CASE @PatientAge
		WHEN NULL THEN 0
		WHEN '01-01-1800' Then 0
		ELSE -1
		END
	IF @RESULT <> 0
		SET @RESULT = DATEDIFF(year, @PatientAge, @AccesssionDate)
	
	SET @Text = 
		CASE 
			WHEN @RESULT <= 30 THEN '0-30'
			WHEN @RESULT > 30 AND @RESULT <= 40 THEN '30-40'
			WHEN @RESULT > 40 AND @RESULT <= 50 THEN '40-50'
			WHEN @RESULT > 50 AND @RESULT <= 60 THEN '50-60'
			WHEN @RESULT > 60 AND @RESULT <= 70 THEN '60-70'
			ELSE 'Other'
		END 
	RETURN @Text
END
GO
