/****** Object:  UserDefinedFunction [F_Split]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [F_Split](
@str VARCHAR(MAX),
@delimiter VARCHAR(10),
@Num INT
)
RETURNS VARCHAR(1000)
AS
BEGIN
DECLARE @pos INT, @INDEX INT = 1, @VAL VARCHAR(1000)
SELECT @str = @str + @delimiter
WHILE LEN(@str) > 0 
 BEGIN
 SELECT @pos = CHARINDEX(@delimiter, @str)
 IF @pos = 1
 SET @VAL = ''
 ELSE
 SET @VAL = SUBSTRING(@str, 1, @pos-1)

		IF @INDEX = @Num
			RETURN TRIM(@VAL)
 SELECT @str = SUBSTRING(@str, @pos + LEN(@delimiter), LEN(@str) - @pos)
		SET @INDEX = @INDEX + 1
 END
RETURN ''
END
GO
