/****** Object:  UserDefinedFunction [F_FullName]    Script Date: 9/10/2025 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    Function [F_FullName] (@FName Varchar(256), @MName Varchar(256), @LName Varchar(256)) RETURNS Varchar(768)
 AS
 BEGIN
	If @MName <> ''
		--RETURN (@LName + ', ' + @FName + ' ' + @MName)
		RETURN (@FName + ' ' + @MName + ' ' + @LName)
	--RETURN (@LName + ', ' + @FName)
	RETURN (@FName + ' ' + @LName)
END
GO
