/****** Object:  StoredProcedure [P_SSIS_TruncateTable_LinkedOrder]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [P_SSIS_TruncateTable_LinkedOrder] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_LinkedOrder' AND IsActive = 1)
		Truncate Table [dbo].[SSIS_LinkedOrder]
 

		DROP INDEX
				if exists [dbo].[SSIS_LinkedOrder].[idx_SSIS_LinkedOrder_REQUISITION_ID];

		DROP INDEX
				if exists [dbo].[SSIS_LinkedOrder].[idx_SSIS_LinkedOrder_CaseId];
	 
END
GO
