/****** Object:  StoredProcedure [P_SSIS_TruncateTable_InitialDataLoad]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [P_SSIS_TruncateTable_InitialDataLoad] 
AS
BEGIN
	TRUNCATE TABLE CaseComment;
	TRUNCATE TABLE CaseCommentSolr;
	TRUNCATE TABLE CaseSolr;
	TRUNCATE TABLE CaseSolr_Preload;
	TRUNCATE TABLE CaseSolr_Delta;
	TRUNCATE TABLE CaseSuggestionSolr_Delta;
	TRUNCATE TABLE CaseStaffSolr;
	TRUNCATE TABLE CaseStaffSolr_Delta;	 


	
	
	TRUNCATE TABLE [CaseCommentEpic]
	TRUNCATE TABLE [CaseCommentSynopticSpecimen]
	TRUNCATE TABLE [Interpreter]
	TRUNCATE TABLE [dbo].[CaseCommentSynopticText] 
	TRUNCATE TABLE [dbo].CaseCommentSynopticReportData
	TRUNCATE TABLE [dbo].CaseCommentSynopticReport


	Update SSIS_ConfigRun SET VAL = '1900-01-01' WHERE [NAME] = 'FromDate'
	Update SSIS_ConfigRun SET VAL = '' WHERE [NAME] = 'ToDate'
END
GO
