/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CommentPlainText]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [P_SSIS_TruncateTable_CommentPlainText] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentPlainText' AND IsActive = 1)
	BEGIN
		
		Truncate Table [dbo].[SSIS_CommentPlainTextGroup]
		Truncate Table [dbo].[SSIS_CommentPlainText]
	END


	DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_CommentType]; 
	DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_CompName];
	DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_REQUISITION_COMPONENT_GROUP_VALUE]; 
	DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_REQUISITION_ID]; 
	DROP INDEX IF EXISTS [dbo].[SSIS_CommentPlainTextGroup].[idx_SSIS_CommentPlainTextGroup_RESULT_ID]; 

 
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_ID];
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_RESULT_ID];
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CommentType];
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_CompName];
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_COMPONENT_GROUP_VALUE];
	DROP INDEX if exists [dbo].[SSIS_CommentPlainText].[idx_SSIS_CommentPlainText_REQUISITION_CommentType_Comp];



END
GO
