/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CommentRTFText]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_TruncateTable_CommentRTFText] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentRTFText' AND IsActive = 1)
		Truncate Table [dbo].[SSIS_CommentRTFText]
 

		DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_CommentType]
			ON dbo.SSIS_CommentRTFText;
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_RESULT_LINE]
			ON dbo.SSIS_CommentRTFText;
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_REQUISITION_ID]
			ON dbo.SSIS_CommentRTFText;	
			DROP INDEX IF EXISTS [idx_SSIS_CommentRTFText_RESULT_ID]
			ON dbo.SSIS_CommentRTFText;	
	 
END
GO
