/****** Object:  StoredProcedure [P_SSIS_TruncateTable]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [P_SSIS_TruncateTable] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_SpecimenSource' AND IsActive = 1)
		Truncate Table dbo.SSIS_SpecimenSource
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_SpecimenDrawType' AND IsActive = 1)
		Truncate Table dbo.SSIS_SpecimenDrawType
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_SpecimenStatus' AND IsActive = 1)
		Truncate Table dbo.SSIS_SpecimenStatus
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseType' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseType
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseTypeCategory' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseTypeCategory
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_PatientRace' AND IsActive = 1)
		Truncate Table dbo.SSIS_PatientRace
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseStatus' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseStatus
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_MatrialStatus' AND IsActive = 1)
		Truncate Table dbo.SSIS_MatrialStatus
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_Language' AND IsActive = 1)
		Truncate Table dbo.SSIS_Language
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_Gender' AND IsActive = 1)
		Truncate Table dbo.SSIS_Gender
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseFlag' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseFlag
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_EthnicGroup' AND IsActive = 1)
		Truncate Table dbo.SSIS_EthnicGroup
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_SpecimenType' AND IsActive = 1)
		Truncate Table dbo.SSIS_SpecimenType 
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_Lab' AND IsActive = 1)
		Truncate Table dbo.SSIS_Lab
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_Specimen' AND IsActive = 1)
		Truncate Table dbo.SSIS_Specimen
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseData' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseData
	--IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticSpecimenLevel' AND IsActive = 1)
	--	Truncate Table dbo.SSIS_CommentSynopticSpecimenLevel
	--IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticCaseLevel' AND IsActive = 1)
	--	Truncate Table dbo.SSIS_CommentSynopticCaseLevel
	--IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticText' AND IsActive = 1)
	--	Truncate Table dbo.SSIS_CommentSynopticText
	--IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentPlainText' AND IsActive = 1)
	--	Truncate Table [dbo].[SSIS_CommentPlainText]
	--IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentRTFText' AND IsActive = 1)
	--	Truncate Table [dbo].[SSIS_CommentRTFText]
END
GO
