/****** Object:  StoredProcedure [P_SSIS_TruncateTable_SpecimenOrder]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [P_SSIS_TruncateTable_SpecimenOrder] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_SpecimenOrder' AND IsActive = 1)
		Truncate Table [dbo].[SSIS_SpecimenOrder]
 

		DROP INDEX
				if exists [dbo].[SSIS_SpecimenOrder].[idx_SSIS_SpecimenOrder_REQUISITION_ID];

		DROP INDEX
				if exists [dbo].[SSIS_SpecimenOrder].[idx_SSIS_SpecimenOrder_CaseId];
	 
END
GO
