/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CaseStaff]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_TruncateTable_CaseStaff] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseStaff' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseStaff
END
GO
