/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CommentSynopticText]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [P_SSIS_TruncateTable_CommentSynopticText] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticText' AND IsActive = 1)
		Truncate Table dbo.SSIS_CommentSynopticText

	  
	DROP INDEX IF EXISTS [IX_SSIS_CommentSynopticText_SYNOPTIC_ID] ON [dbo].[SSIS_CommentSynopticText]
	DROP INDEX IF EXISTS [IX_CaseCommentSynopticText_SynopticId] ON [dbo].[CaseCommentSynopticText]
  

END
GO
