/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CommentSynopticLevel]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_TruncateTable_CommentSynopticLevel] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticSpecimenLevel' AND IsActive = 1)
		Truncate Table dbo.SSIS_CommentSynopticSpecimenLevel

	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CommentSynopticCaseLevel' AND IsActive = 1)
		Truncate Table dbo.SSIS_CommentSynopticCaseLevel

 
	DROP INDEX IF EXISTS IX_SSIS_CommentSynopticSpecimenLevel_K_SPECIMEN_KEY ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
	DROP INDEX IF EXISTS IX_SSIS_CommentSynopticSpecimenLevel_SYNOPTIC_ID ON [dbo].[SSIS_CommentSynopticSpecimenLevel]
	DROP INDEX IF EXISTS IX_SSIS_CommentSynopticCaseLevel_SYNOPTIC_ID ON [dbo].[SSIS_CommentSynopticCaseLevel]
 
	DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_CaseId] ON [dbo].[CaseCommentSynopticSpecimen]
	DROP INDEX IF EXISTS [IX_CaseCommentSynopticSpecimen_SpecimenId] ON [dbo].[CaseCommentSynopticSpecimen]
END
GO
