/****** Object:  StoredProcedure [P_SSIS_TruncateTable_CaseData]    Script Date: 9/10/2025 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [P_SSIS_TruncateTable_CaseData] 
AS
BEGIN
	IF Exists (Select 0 from dbo.[SSIS_ConfigRun] Where [Name] = 'Truncate.OnLoad' AND [VAL] ='SSIS_CaseData' AND IsActive = 1)
		Truncate Table dbo.SSIS_CaseData

	DROP INDEX IF EXISTS IDX_SSIS_CaseData_K_REQUISITION_KEY ON dbo.SSIS_CaseData;
	DROP INDEX IF EXISTS IDX_SSIS_CaseData_K_PAT_KEY ON dbo.SSIS_CaseData;
	DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_LAB_ID ON dbo.SSIS_CaseData;
	DROP INDEX IF EXISTS IDX_SSIS_CaseData_AP_CASE_STATUS_CD ON dbo.SSIS_CaseData;
	DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_TYPE_ID ON dbo.SSIS_CaseData;
	DROP INDEX IF EXISTS IDX_SSIS_CaseData_CASE_SUBSPECIALTY_CD ON dbo.SSIS_CaseData;
END
GO
