AIRFLOW_VAR_PIRO_DB_SERVER=
AIRFLOW_VAR_PIRO_DB_INSTANCE=
AIRFLOW_VAR_PIRO_DB_NAME=
AIRFLOW_VAR_PIRO_DB_USERNAME=
AIRFLOW_VAR_PIRO_DB_PASSWORD=

AIRFLOW_VAR_OLLAMA_API_BEARER_TOKEN=

AIRFLOW_VAR_RTF_TO_PLAIN_TEXT_MAX_RECORDS=
AIRFLOW_VAR_MALIGNANT_ANNOTATION_MAX_RECORDS=
AIRFLOW_VAR_MALIGNANT_ANNOTATION_MODEL=
RTF_TO_PLAIN_TEXT_MAX_CASES=
AIRFLOW_VAR_SOLR_HEADER_AUTH=

AIRFLOW_VAR_SOLR_CASE_URL_DATA_IMPORT=
AIRFLOW_VAR_SOLR_CASE_URL_DATA_UPDATE=
AIRFLOW_VAR_SOLR_CASE_URL_STATUS=
AIRFLOW_VAR_SOLR_CASE_URL_DATA_COUNT=
AIRFLOW_VAR_SOLR_CASE_BATCH_DATA_UPDATE= 
AIRFLOW_VAR_SOLR_CASE_DB_RELOAD_DATA=

AIRFLOW_VAR_SOLR_CASE_SUGGEST_URL_DATA_IMPORT=
AIRFLOW_VAR_SOLR_CASE_SUGGEST_URL_DATA_UPDATE=
AIRFLOW_VAR_SOLR_CASE_SUGGEST_URL_STATUS=
AIRFLOW_VAR_SOLR_CASE_SUGGEST_URL_DATA_COUNT=
AIRFLOW_VAR_SOLR_CASE_SUGGEST_BATCH_DATA_UPDATE=
AIRFLOW_VAR_SOLR_CASE_SUGGEST_DB_RELOAD_DATA=

AIRFLOW_VAR_SOLR_CASE_STAFF_URL_DATA_IMPORT=
AIRFLOW_VAR_SOLR_CASE_STAFF_URL_DATA_UPDATE=
AIRFLOW_VAR_SOLR_CASE_STAFF_URL_STATUS=
AIRFLOW_VAR_SOLR_CASE_STAFF_BATCH_DATA_UPDATE=
AIRFLOW_VAR_SOLR_CASE_STAFF_DB_RELOAD_DATA=

AIRFLOW_VAR_SOLR_COHORT_URL_DATA_IMPORT=
AIRFLOW_VAR_SOLR_COHORT_URL_STATUS=
AIRFLOW_VAR_SOLR_COHORT_URL_DATA_UPDATE=
AIRFLOW_VAR_SOLR_COHORT_BATCH_DATA_UPDATE=
AIRFLOW_VAR_SOLR_COHORT_DB_RELOAD_DATA=

AIRFLOW_VAR_SOLR_CERTIFICAT_NAME=

CONCENTRIQ_HEADER_AUTH=
CONCENTRIQ_CASE_DETAIL_URL_DATA_IMPORT=
CONCENTRIQ_CASE_DB_RELOAD_DATA=
CONCENTRIQ_CERTIFICAT_NAME=
CONCENTRIQ_CASE_DETAIL_PAGE_SIZE=